<!-- BEGIN stagetours -->
<div id="mapbar" class="navbar">
    <div class="inner">
        <span class="corners-top"><span></span></span>
        <ul class="linklist leftside">
            <li>{L_BELONGSTO}&nbsp;<strong><a href="{stagetours.TOURVIEWLINK}" title="{stagetours.TOURNAME}">{stagetours.TOURNAME}</a></strong></li>  
        </ul>
        <ul class="linklist rightside">       
            <!-- IF stagetours.PREVIOUSID --><li><a href="{stagetours.PREVIOUSTRACKLINK}" title="{L_PREVIOUSSTAGE}">{L_PREVIOUSSTAGE}</a>&nbsp;&lt;&lt;&lt;&nbsp;</li><!-- ENDIF -->       
            <li><strong>{TRACKNAME}</strong></li>
           <!-- IF stagetours.NEXTID --><li>&nbsp;&gt;&gt;&gt;&nbsp;<a href="{stagetours.NEXTTRACKLINK}" title="{L_NEXTSTAGE}">{L_NEXTSTAGE}</a></li><!-- ENDIF --> 	
        </ul>
        <span class="corners-bottom"><span></span></span>
    </div>
</div>
<!-- END stagetours -->