<!-- INCLUDE overall_header.html -->
<!-- INCLUDE maps/maps_bar.html -->
<script type="text/javascript"><!-- INCLUDE maps/mapscript.js --></script>
<script type="text/javascript"><!-- INCLUDE maps/mapcommons.js --></script>
<script type="text/javascript"><!-- INCLUDE maps/stageobjectedit.js --></script>
<script type="text/javascript"><!-- INCLUDE maps/mapexport.js --></script>
<script type="text/javascript"><!-- INCLUDE maps/mapgraphic.js --></script>
<script type="text/javascript"><!-- INCLUDE maps/jszip.js --></script>
<!-- IF ISLOADEDTRACK--><h2>{TRACKNAME}&nbsp;{TRACKDISTANCE}&nbsp;{L_KM}</h2><!-- ELSE --><h2>{L_MAPS}</h2><!-- ENDIF -->
<!-- IF ISINATOUR -->
<!-- INCLUDE maps/maps_tourbar.html -->
<!-- ENDIF -->
<table width="100%">
    <tr height="100%">    
      <td valign="top">
            <!-- INCLUDE maps/maps_editor.html -->      
      </td>
      <td width="300px" valign="top"> 
            <!-- INCLUDE maps/maps_controls.html --> 
            <!-- INCLUDE maps/maps_searchbox.html -->     
      		<!-- INCLUDE maps/maps_routeinfo.html -->
            <!-- INCLUDE maps/maps_zoom.html -->
            <!-- INCLUDE maps/maps_pointinfo.html -->
      </td>
    </tr>
    <tr height="100%" valign="top">
        <td colspan="3">      
            <!-- INCLUDE maps/maps_routecontrol.html -->                          
        </td>                           
    </tr>            
    <tr height="300px" valign="top">
        <td colspan="3">      
            <!-- INCLUDE maps/maps_routeprofile.html -->                       
        </td>                           
    </tr>  
    <tr valign="top">
        <td colspan="3">      
            <!-- INCLUDE maps/maps_routeclimbs.html -->                       
        </td>                           
    </tr>    
    <tr valign="top">
        <td colspan="3">      
            <!-- INCLUDE maps/maps_routedescription.html -->                       
        </td>                           
    </tr>    
    <tr valign="top">
        <td colspan="3">      
            <!-- INCLUDE maps/maps_routesprints.html -->                       
        </td>                           
    </tr>                                  
</table>          	       

<!-- INCLUDE overall_footer.html -->