<!-- INCLUDE overall_header.html -->
<!-- INCLUDE maps/maps_bar.html -->
<script type="text/javascript">
<!-- INCLUDE maps/tourstageedit.js -->
</script>
<br />
<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt><h4>{L_TOURSTAGEEDIT}</h4></dt>
					</dl>
				</li>
			</ul>
	<div class="inner" align="center">   
       <table class="table1" width="70%" cellspacing="1">
                <thead>
                    <tr class="bg1">
                        <td align="center" width="50px"><h3>{L_TRACKNUMBER}</h3></td> 
                        <td align="center" width="170px"><h3>{L_TRACKTYPE}</h3></td>  
                        <td align="center"><h3>{L_TRACKNAME}</h3></td>   
                        <td align="center"><h3>{L_TRACKDEPARTARRIVE}</h3></td>   
                        <td align="center" width="80px"><h3>{L_TRACKDISTANCE}</h3></td> 
						<td align="center" width="80px"><h3>{L_TRACKVIEW}</h3></td>                           
                        <td align="center" width="80px"><h3>{L_TRACKEDIT}</h3></td>                              
                    </tr>
                </thead>
                <tbody id="othertracks">
                <!-- BEGIN stages -->       
                <tr class="bg1" id="stage{stages.STAGEID}">
                    <td align="center">{stages.STAGENUMBER}</td>   
                    <td align="left"><img src="{stages.STAGETYPELOGO}"/>&nbsp;{stages.STAGETYPE}</td>                           
                    <td align="left">
  						<select id="tourselect{stages.STAGENUMBER}" name="tourselect{stages.STAGENUMBER}" onchange="updateStage({TOURID},{stages.STAGENUMBER})" >
							<option id="stagename{stages.STAGENUMBER}" width="auto" tabindex="{stages.STAGENUMBER}" value="0" <!-- IF not stages.STAGENAME -->selected<!-- ENDIF -->>{L_NOTYET}</option>                        
                        	<!-- BEGIN tracks -->      
							<option id="stagename{stages.STAGENUMBER}" width="auto" tabindex="{stages.STAGENUMBER}" value="{stages.tracks.TRACKID}" <!-- IF stages.STAGEID == stages.tracks.TRACKID -->selected<!-- ENDIF -->>{stages.tracks.TRACKNAME}</option>
                        	<!-- END tracks -->   
                        </select>
					</td>     
                    <td align="left"><!-- IF stages.STAGEDISTANCE -->{stages.STAGEDEPART}&nbsp;&gt;&nbsp;{stages.STAGEARRIVE}<!-- ENDIF --></td>
                    <td align="left">{stages.STAGEDISTANCE}<!-- IF stages.STAGEDISTANCE -->&nbsp;Km<!-- ENDIF --></td>     
                 	<td align="left"><a href="{othertracks.TRACKVIEWLINK}"><h4 class="icon-viewmap">&nbsp;<img src="{ARROWLOGO}"/></h4></a></td>
              		<td align="left"><a href="{othertracks.TRACKEDITLINK}"><h4 class="icon-editmap">&nbsp;<img src="{ARROWLOGO}"/></h4></a></td>                                   
                </tr>               
                <!-- END stages -->             
                <tr class="bg1" id="stage{stages.STAGEID}">
                    <td align="left" colspan="4"><h4>{L_TOTALKM}</h4></td> 
                    <td align="left"><h4>{TOTALDISTANCE}<!-- IF stages.STAGEDISTANCE -->&nbsp;Km<!-- ENDIF --></h4></td>   
                 	<td align="left" colspan="2"><a href="{TOURVIEWLINK}"><h4 class="icon-viewmap">&nbsp;<img src="{ARROWLOGO}"/></h4></a></td>               
                </tr>                              
        </table>       
   	</div>     
			<span class="corners-bottom"><span></span></span>
        </div>
</div>
<p><input type="submit" value="{L_UPDATE}" onclick="updatePage()" class="button1" />&nbsp;
<input type="submit" value="{L_MAKEPUBLIC}" onclick="maketrackspublic({TOURID})" class="button1" />&nbsp;
<input type="submit" value="{L_MAKEPRIVATE}" onclick="maketracksprivate({TOURID})" class="button1" /></p>
<div id="errorbox"></div>
<!-- INCLUDE overall_footer.html -->