<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
    <ul class="topiclist">
        <li class="header">
            <dl class="icon">
                <dt><h4>{L_CONTROLS}</h4></dt>
            </dl>
        </li>
    </ul>
    <div class="inner" align="center">
        <table class="table1" cellspacing="1">
            <tr class="bg1">
                <td align="center" width="50%">
					<button onclick="gpxExport()">&nbsp;{L_GPXEXPORT}&nbsp;</button>
                </td>       
                <td align="center" width="50%">
					<a href="/maps/maps.php?action=edit&track={TRACKID}"><button>&nbsp;{L_TRACKEDIT}&nbsp;</button></a>
                </td>                          
            </tr>    
            <tr class="bg1">
                <td align="center" width="50%" rowspan="2">
                	<b>{L_PROFILEFOREXPORT}</b>
                </td>  
                <td align="center" width="50%">                 
 					<input type="radio" name="controls" onclick="setServiceControl(1)" value="1" checked="checked">&nbsp;{L_NO}&nbsp;</input>  
					<input type="radio" name="controls" onclick="setServiceControl(0)" value="0" >&nbsp;{L_YES}&nbsp;</input>                       
                </td>             
            </tr>
            <tr class="bg1">
                <td align="center" width="50%">                           
					<input type="radio" name="controls" onclick="setServiceControl(2)" value="0" >&nbsp;{L_CUSTOMCOLOR}&nbsp;</input>                
                </td>             
            </tr>
            <tr class="bg1">
                <td align="center" width="50%">
                	<b>{L_PROFILECOLOR}</b>
                </td>  
                <td align="center" width="50%">                 
 					<input type="color" id="profilecolor" onChange="setServiceControl(2)" />
                </td>             
            </tr>            
            <tr class="bg1">
                <td align="center" width="50%">
                	<b>{L_PROFILEBORDER}</b>
                </td>  
                <td align="center" width="50%">         
 					<input type="color" id="bordercolor" onChange="setServiceControl(2)" />               			  
                </td>             
            </tr>                                                                        
        </table>   
    </div>     
    <span class="corners-bottom"><span></span></span>
    </div>
</div>