<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
    <ul class="topiclist">
        <li class="header">
            <dl class="icon">
                <dt><h4>{L_CONTROLS}</h4></dt>
            </dl>
        </li>
    </ul>
    <div class="inner" align="center">
        <table class="table1" cellspacing="1">
            <tr class="bg1">
                <td>
					<h4>&nbsp;{L_VIEWMODE}&nbsp;</h4>
                </td>
                <td width="150px">
                    <h4>{L_SLOPES}</h4>
                </td>         
                <td width="250px">
                    <h4>{L_ZOOMINSTR}</h4>
                </td>                
            <tr class="bg1">                
                <td rowspan="2" align="left">
               		<p>
                    <!-- BEGIN racetypes -->
                    <input type="radio" name="viewmode" onclick="setType('{racetypes.RACETYPEID}')" value="{racetypes.RACETYPEID}" <!-- IF racetypes.RACETYPEID == TRACKRACETYPE -->checked="checked"<!-- ENDIF --> >&nbsp;{racetypes.RACENAME}</input><br />                 
                    <!-- END racetypes' -->
                    </p>
                </td>     
                 <td>
                    <p><input type="radio" name="slopemode" onclick="setSlopes(0)" value="{L_NOSLOPES}" checked="checked">&nbsp;{L_NOSLOPES}</input><br />
                    <input type="radio" name="slopemode" onclick="setSlopes(1)" value="{L_ASOSLOPES}">&nbsp;{L_ASOSLOPES}</input><br />
                    <input type="radio" name="slopemode" onclick="setSlopes(2)" value="{L_SALITESLOPES}">&nbsp;{L_SALITESLOPES}</input></p>
                </td> 
                <td rowspan="2">
                    <h4><input type="text" id="fromkm" name="fromkm" size="8px" />&nbsp;
                    <input type="text" id="tokm" name="tokm" size="8px" />&nbsp;
                    <button onclick="elaborateZoom()">&nbsp;{L_ZOOM}&nbsp;</button></h4>
                </td>                                         
            </tr>
            <tr class="bg1">
              <td>
              		<p><input type="radio" name="climbmode" onclick="setOnlyClimbs(0)" value="{L_ONLYCLIMBS}" checked="checked">&nbsp;{L_ONLYCLIMBS}</input><br />
                    <input type="radio" name="climbmode" onclick="setOnlyClimbs(1)" value="{L_ALLPROFILE}">&nbsp;{L_ALLPROFILE}</input><br /></p>
              </td>
            </tr>                    
        </table>   
         
    </div>     
    <span class="corners-bottom"><span></span></span>
    </div>
</div>