<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
    <ul class="topiclist">
        <li class="header">
            <dl class="icon">
                <dt><h4>{L_CONTROLS}</h4></dt>
            </dl>
        </li>
    </ul>
    <div class="inner" align="center">
    <table class="table1"  width="100%">
		<tr class="bg1" >
            <td>
                <h4>{L_CONTROLS}</h4>
            </td>    
            <td>
                <h4>{L_TRACKMODE}</h4>
            </td>   
            <td>
                <h4>{L_FILTER}</h4>
            </td>      
            <td>
                <h4>{L_SLOPES}</h4>
            </td>                               
        </tr>    
		<tr class="bg1" >
            <td valign="top">
                <p><button onclick="drawProfile()">&nbsp;{L_DRAWPROFILE}&nbsp;</button>&nbsp;
                <button onclick="clearAllProfiles()">&nbsp;{L_CLEARALL}&nbsp;</button>
                <select name="trackmodetype" id="trackmodetype" onchange="if(this.options[0].selected) {setTrackModeType('track')} else {drawProfile(); setTrackModeType('labels');}" title="{trackmodetype}">
                    <option value="sprint" selected>{L_INSERTSPRINT}</option>
                    <option value="labels" >{L_EDITLABELS}</option>
                </select>                             
                </p>
            </td>  
            <td valign="top">
                <p><input type="radio" name="routemode" onclick="setFreeMode()" value="{L_FREEMODE}">&nbsp;{L_FREEMODE}</input>&nbsp;<input type="radio" name="routemode" onclick="setRouteMode()" value="{L_ROUTEMODE}" checked="checked">&nbsp;{L_ROUTEMODE}</input></p>
            </td>  
            <td valign="top">
                <p><input type="radio" name="filtermode" onclick="setFilter(1)" value="{L_FILTERNO}">&nbsp;{L_FILTERNO}</input>
                &nbsp;<input type="radio" name="filtermode" onclick="setFilter(5)" value="{L_FILTERLOW}">&nbsp;{L_FILTERLOW}</input>
                &nbsp;<input type="radio" name="filtermode" onclick="setFilter(10)" value="{L_FILTERMEDIUM}" checked="checked">&nbsp;{L_FILTERMEDIUM}</input>
                &nbsp;<input type="radio" name="filtermode" onclick="setFilter(20)" value="{L_FILTERHIGH}">&nbsp;{L_FILTERHIGH}</input></p>
            </td>   
            <td valign="top">
                <p><input type="radio" name="slopemode" onclick="setSlopes(0)" value="{L_NOSLOPES}">&nbsp;{L_NOSLOPES}</input>
                &nbsp;<input type="radio" name="slopemode" onclick="setSlopes(1)" value="{L_ASOSLOPES}" checked="checked">&nbsp;{L_ASOSLOPES}</input>
                &nbsp;<input type="radio" name="slopemode" onclick="setSlopes(2)" value="{L_SALITESLOPES}">&nbsp;{L_SALITESLOPES}</input></p>
                <p><input type="radio" name="climbmode" onclick="setOnlyClimbs(0)" value="{L_ONLYCLIMBS}" checked="checked">&nbsp;{L_ONLYCLIMBS}</input>&nbsp;
                <input type="radio" name="climbmode" onclick="setOnlyClimbs(1)" value="{L_ALLPROFILE}">&nbsp;{L_ALLPROFILE}</input><br /></p>                
            </td>                                               
        </tr>                           
    </table> 
  
    </div>     
    <span class="corners-bottom"><span></span></span>
    </div>
</div>	         