<!-- INCLUDE overall_header.html -->
<!-- INCLUDE maps/maps_bar.html -->
<script type="text/javascript">
<!-- INCLUDE maps/tourstageedit.js -->
</script>
<br />
<h2>{TOURNAME}</h2>
<p align="justify">{L_BY}&nbsp;{TOUROWNER}</p>
<!-- INCLUDE maps/maps_tourplain.html -->
<!-- IF TOURDESCR -->
<!-- INCLUDE maps/maps_tourdescription.html -->
<!-- ENDIF -->
<!-- INCLUDE maps/maps_tourtracklist.html -->
<div id="errorbox"></div>
<!-- INCLUDE overall_footer.html -->
<script type="text/javascript"><!-- INCLUDE maps/generalplainscript.js --></script>
<script type="text/javascript"><!-- INCLUDE maps/mapcommons.js --></script>