<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
    <ul class="topiclist">
        <li class="header">
            <dl class="icon">
                <dt><h4>{L_ROUTECLIMBS}<h4></dt>
            </dl>
        </li>
    </ul>
    <div class="inner" align="center">
    <table class="table1" width="100%">
        <thead>
            <tr class="bg1" onclick="zoomsector(null,null)" >
                <td align="center"><h3>{L_CLIMBSTART}</h3></td>
                <td align="center"><h3>{L_CLIMBFINISH}</h3></td>
                <td align="center"><h3>{L_CLIMBDISTANCE}</h3></td>
                <td align="center"><h3>{L_CLIMBDENIVEL}</h3></td>
                <td align="center"><h3>{L_CLIMBCATEGORY}</h3></td>
                <td align="center"><h3>{L_CLIMBDIFFICULTY}</h3></td>
                <td align="center"><h3>{L_CLIMBMAXFOR500MT}</h3></td>
                <td align="center"><h3>{L_CLIMBMAXFOR1000MT}</h3></td>
                <td align="center"><h3>{L_CLIMBMAXFOR2000MT}</h3></td>
            </tr>
        </thead>  
        <tbody id="climblist">          
        </tbody>                           
    </table> 
    </div>     
    <span class="corners-bottom"><span></span></span>
    </div>
</div>	 