<!-- INCLUDE overall_header.html -->
<!-- INCLUDE maps/maps_bar.html -->
<h2>{L_MAPS}</h2>	
<p>{L_WELCOMEEDITOR}</p>
<p>{L_AREPRESENT}&nbsp;<strong>{TOTALTRACKS}</strong>&nbsp;{L_TRACKS}&nbsp;{L_ANDHOME}&nbsp;<strong>{TOTALTOURS}</strong>&nbsp;{L_TOURSHOME}
{L_FORATOTALOF}&nbsp;<strong>{TOTALKMS}</strong>&nbsp;{L_KM}&nbsp;{L_TRACKED}
<!-- INCLUDE maps/maps_lasttracks.html -->
<!-- INCLUDE overall_footer.html -->