	<!-- IF HASCOBBLES -->
    <tr valign="top">
        <td width="100%">	
            <div class="forabg">
                <div class="inner"><span class="corners-top"><span></span></span>
                <ul class="topiclist">
                    <li class="header">
                        <dl class="icon">
                            <dt><h4>{L_COBBLES}</h4></dt>
                        </dl>
                    </li>
                </ul>
                <div class="inner" align="center">
                    <table class="table1" cellspacing="1">
                     <!-- BEGIN cobbles -->
                       <tr class="bg1">
                       		<!-- IF cobbles.COBBLEDIFFICULTY == 5 --><td align="center" width="45px">+++++</td><!-- ENDIF -->
                        	<!-- IF cobbles.COBBLEDIFFICULTY == 4 --><td align="center" width="45px">++++</td><!-- ENDIF -->
                       		<!-- IF cobbles.COBBLEDIFFICULTY == 3 --><td align="center" width="45px">+++</td><!-- ENDIF -->
                       		<!-- IF cobbles.COBBLEDIFFICULTY == 2 --><td align="center" width="45px">++</td><!-- ENDIF -->
                       		<!-- IF cobbles.COBBLEDIFFICULTY == 1 --><td align="center" width="45px">+</td><!-- ENDIF -->                                                                                                           
                            <td align="left" >{cobbles.COBBLENAME}&nbsp;({cobbles.COBBLEELEVATION}&nbsp;m)</td>
                            <td align="left" width="100px">{cobbles.COBBLELENGTH}&nbsp;m</td>
                            <td align="left" width="100px">Km&nbsp;{cobbles.COBBLELOCATION}</td>
                        </tr>  
                    <!-- END cobbles -->                                          
                    </table>   
                </div>     
                <span class="corners-bottom"><span></span></span>
                </div>
            </div>		                             
        </td>            
    </tr>   
	<!-- ENDIF --> 