<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
    <ul class="topiclist">
        <li class="header">
            <dl class="icon">
                <dt><h4>{L_STAGELASTKM}</h4></dt>
            </dl>
        </li>
    </ul>
    <div class="inner" align="center">
        <table class="table1" cellspacing="1">
            <tr class="bg1">
                <td align="center" height="300px">
                    <div id="canvas-wrap">
                        <canvas id="lastKmsCanvas" height="400" width="378">
                        Your browser does not support the HTML5 canvas tag.</canvas>   
                    </div>     
                </td>
            </tr>                    
        </table>   
    </div>     
    <span class="corners-bottom"><span></span></span>
    </div>
</div>		