<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
    <ul class="topiclist">
        <li class="header">
            <dl class="icon">
                <dt><h4>{L_POINTINFO}</h4></dt>
            </dl>
        </li>
    </ul>
    <div class="inner" align="center">
 <table class="table1" width="100%">
        <tr class="bg1" >
            <td>
                <h4>{L_DISTANCE}<h4>
            </td>
            <td width="150px">
                <h4 id="point_distance" />
            </td>
        </tr>    
        <tr class="bg1" >
            <td>
                <h4>{L_ELEVATION}<h4>
            </td>
            <td width="150px">
                <h4 id="point_elevation" />
            </td>
        </tr>    
        <tr class="bg1" >
            <td>
                <h4>{L_LATITUDE}<h4>
            </td>
            <td width="150px">
                <h4 id="point_latitude" />
            </td>
        </tr> 
        <tr class="bg1" >
            <td>
                <h4>{L_LONGITUDE}<h4>
            </td>
            <td width="150px">
                <h4 id="point_longitude" />
            </td>
        </tr> 
        <tr class="bg1" >
            <td>
                <h4>{L_SLOPE}<h4>
            </td>
            <td width="150px">
                <h4 id="point_slope" />
            </td>
        </tr>                                                                                
    </table> 
    </div>     
    <span class="corners-bottom"><span></span></span>
    </div>
</div>	         