<!-- IF HASRESTS -->
<tr valign="top">
    <td width="100%">	
        <div class="forabg">
            <div class="inner"><span class="corners-top"><span></span></span>
            <ul class="topiclist">
                <li class="header">
                    <dl class="icon">
                        <dt><h4>{L_RESTS}</h4></dt>
                    </dl>
                </li>
            </ul>
            <div class="inner" align="center">
                <table class="table1" cellspacing="1">
                 <!-- BEGIN rests -->
                   <tr class="bg1">
                        <td align="center" width="45px"><img src="{rests.RESTIMAGE}" /></td>
                        <td align="left" >{rests.RESTNAME}&nbsp;({rests.RESTELEVATION}&nbsp;m)</td>
                        <td align="left" width="100px">Km&nbsp;{rests.RESTLOCATION}</td>
                    </tr>  
                <!-- END rests -->                                       
                </table>   
            </div>     
            <span class="corners-bottom"><span></span></span>
            </div>
        </div>		                             
    </td>            
</tr>   
<!-- ENDIF -->  