	<!-- IF HASINTERMEDIATE -->
    <tr valign="top">
        <td width="100%">	
            <div class="forabg">
                <div class="inner"><span class="corners-top"><span></span></span>
                <ul class="topiclist">
                    <li class="header">
                        <dl class="icon">
                            <dt><h4>{L_INTERMEDIATESPRINTS}</h4></dt>
                        </dl>
                    </li>
                </ul>
                <div class="inner" align="center">
                    <table class="table1" cellspacing="1">
                     <!-- BEGIN intermediates -->
                       <tr class="bg1">
                            <td align="center" width="45px"><img src="{intermediates.INTERMEDIATEIMAGE}" /></td>
                            <td align="left" >{intermediates.INTERMEDIATENAME}&nbsp;({intermediates.INTERMEDIATEELEVATION}&nbsp;m)</td>
                            <td align="left" width="100px">Km&nbsp;{intermediates.INTERMEDIATELOCATION}</td>
                        </tr>  
                    <!-- END intermediates -->                                          
                    </table>   
                </div>     
                <span class="corners-bottom"><span></span></span>
                </div>
            </div>		                             
        </td>            
    </tr>   
	<!-- ENDIF -->  