<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
    <ul class="topiclist">
        <li class="header">
            <dl class="icon">
                <dt><h4>{L_ZOOM}</h4></dt>
            </dl>
        </li>
    </ul>
    <div class="inner" align="center">
    <table class="table1" width="100%">
        <tr class="bg1" >
            <td>
                <h4>{L_ZOOMINSTR}</h4>
            </td>
        </tr>        
        <tr class="bg1" >
            <td>
                <h4><input type="text" id="fromkm" name="fromkm" size="8px" />&nbsp;
                <input type="text" id="tokm" name="tokm" size="8px" />&nbsp;
                <button onclick="elaborateZoom()">&nbsp;{L_ZOOM}&nbsp;</button></h4>
            </td>
        </tr>    
    </table> 
    </div>     
    <span class="corners-bottom"><span></span></span>
    </div>
</div>