<!-- INCLUDE overall_header.html -->
<!-- INCLUDE maps/maps_bar.html -->
<script type="text/javascript"><!-- INCLUDE maps/mapaddtour.js --></script>
<br />
<div class="panel">
    <div class="inner">
        <span class="corners-top"><span></span></span>
        <h2><!-- IF EDITING -->{L_EDITTOUR}<!-- ELSE -->{L_NEWTOUR}<!-- ENDIF --></h2>
		<fieldset><dl>
        	<dt>
            	<label for="tourname">{L_TOURNAME}</label>
            </dt>
            <dd>
            	<input id="tourname" class="inputbox autowidth" type="text" title="{L_TOURNAME}" value="{TOURNAME}" size="25" name="tourname" tabindex="1"></input>
            </dd>
        </dl>
        </fieldset>
		<fieldset><dl>
        	<dt>
            	<label for="tourpublic">{L_TOURPUBLIC}</label>
            </dt>
            <dd>
            	<input name="tourpublic" id="tourpublic" title="{L_TOURPUBLIC}" tabindex="2" type="checkbox" <!-- IF TOURPUBLIC-->checked="checked"<!-- ENDIF --> ></input>
            </dd>
        </dl>
        </fieldset>       
 		<fieldset><dl>
        	<dt>
            	<label for="tourstages">{L_TOURSTAGES}</label>
            </dt>
            <dd>
            	<input id="tourstages" name="tourstages" type="number" min="1" max="21" step="1" title="{L_TOURSTAGES}" value="{TOURSTAGES}" size="25" tabindex="3" />            
            </dd>
        </dl>
        </fieldset>          
		<fieldset><dl>
        	<dt>
            	<label for="tourdescription">{L_TOURDESCRIPTION}</label>
            </dt>
            <dd>
            	<textarea name="tourdescription" id="tourdescription" title="{L_TOURDESCRIPTION}" rows="12" cols="150" tabindex="4" >{TOURDESCR}</textarea>
            </dd>
        </dl>
        </fieldset>                   
		<span class="corners-bottom"><span></span></span>
		</div>
</div>
<p><!-- IF EDITING -->
<input type="submit" value="{L_EDITTOUR}" class="button1" onclick="editTour({TOURID})" tabindex="4" />
<!-- ELSE -->
<input type="submit" value="{L_NEWTOUR}" class="button1" onclick="addTour()" tabindex="4" />
<!-- ENDIF -->
</p> 
<div id="errorbox"></div>
<!-- INCLUDE overall_footer.html -->