<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
    <ul class="topiclist">
        <li class="header">
            <dl class="icon">
                <dt><h4>{L_SAVE}</h4></dt>
            </dl>
        </li>
    </ul>
    <div class="inner" align="center">
    <table class="table1" width="100%">
        <tr class="bg1">
            <td>
                <h4>{L_ROUTEDATA}</h4>
            </td>
            <td>
                <h4><input type="text" id="routename" name="routename" size="auto" value="{TRACKNAME}" /></h4>  
                <input type="hidden" id="stageid" name="stageid" value="{STAGEID}" />          
			</td>   
        </tr>   
        <tr class="bg1" >
            <td>
                <h4>{L_DEPART}</h4>
			</td>   
            <td>
            	<h4><input type="text" id="routedepart" name="routedepart" size="auto" onchange="updateStartEnd()" value="{TRACKDEPART}" /></h4>
			</td>               
        </tr>           
        <tr class="bg1" >
            <td>
                <h4>{L_ARRIVE}</h4>  
			</td>   
            <td>
                <h4><input type="text" id="routearrive" name="routearrive" size="auto" onchange="updateStartEnd()" value="{TRACKARRIVE}" /></h4>  
			</td>             
        </tr>          
        <tr class="bg1">
            <td>
                <h4>{L_ROUTETYPE}</h4>
            </td>
            <td>
                <h4><select name="stagetype" id="stagetype" title="{staL_ROUTETYPEgetype}" size="auto" >
                    <!-- BEGIN stagetypes -->
                    <option value="{stagetypes.STAGETYPEID}"<!-- IF stagetypes.STAGETYPEID == TRACKTYPE -->selected<!-- ENDIF -->>{stagetypes.STAGETYPEDESCR}</option>
                    <!-- END stagetypes -->
                </select></h4>            
			</td>   
        </tr> 
        <tr class="bg1">
            <td>
                <h4>{L_RACETYPE}</h4>
            </td>
            <td>
                <h4><select name="racetype" id="racetype" title="{racetype}" size="auto" >
                    <!-- BEGIN racetypes -->
                    <option value="{racetypes.RACETYPEID}"<!-- IF racetypes.RACETYPEID == TRACKRACETYPE -->selected<!-- ENDIF -->>{racetypes.RACENAME}</option>
                    <!-- END racetypes' -->
                </select></h4>            
			</td>   
        </tr>         
         <tr class="bg1" >
            <td>
                <h4>{L_PUBLIC}</h4>  
			</td>   
            <td>
                <h4><input type="checkbox" id="routepublic" name="routepublic" size="auto" value="{L_PUBLIC}" <!-- IF TRACKPUBLIC-->checked="checked"<!-- ENDIF --> /></h4>  
			</td>             
        </tr>                     
        <tr class="bg1">
            <td>
            <!-- IF ISLOADEDTRACK-->
            	<h4><a href="{TRACKLINK}">{L_VIEWTRACK}</a></h4>
            <!-- ENDIF --> 
            </td>      
            <td>                                 
                <button onclick="save()">&nbsp;{L_SAVE}&nbsp;</button>&nbsp;
                <button onclick="gpxExport()">&nbsp;{L_GPXEXPORT}&nbsp;</button>
                <h4 id="savestate"></h4>

            </td>           
        </tr>            
        <tr class="bg1" >
            <td colspan="2">
                <h4>{L_GPXIMPORT}</h4>
            </td>
        </tr>        
        <tr class="bg1" >
            <td colspan="2">
                <h4><input type="file" id="gpximport" name="gpximport" size="auto" />&nbsp;</h4>
                <h4><button onclick="gpxImport()">&nbsp;{L_GPXIMPORT}&nbsp;</button></h4>
			</td>   
        </tr>            
    </table>    
    </div>     
    <span class="corners-bottom"><span></span></span>
    </div>
</div>