<!-- INCLUDE overall_header.html -->
<!-- INCLUDE maps/maps_bar.html -->
<script type="text/javascript">
<!-- INCLUDE maps/deletetour.js -->
</script>
<div class="topic-actions">
    <div class="pagination">
    <span>
    <!-- BEGIN pages -->   
        <!-- IF pages.PAGENUMBER == 1 || pages.PAGENUMBER + 1  == CURRENTPAGE || pages.PAGENUMBER == CURRENTPAGE || pages.PAGENUMBER == CURRENTPAGE + 1 || pages.PAGENUMBER == TOTALPAGES --> 

        <!-- IF pages.PAGENUMBER == CURRENTPAGE --><strong>{pages.PAGENUMBER}</strong><!-- ELSE --><a href="/maps/mytours.php?page={pages.PAGENUMBER}">{pages.PAGENUMBER}</a><!-- ENDIF --> 
        <!-- IF pages.PAGENUMBER != TOTALPAGES --><span class="page-sep">, </span><!-- ENDIF -->    
        
        <!-- ENDIF -->
    <!-- END pages -->   
    </span> 
    </div> 
</div>  
<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt><h4>{L_MYTOURSMENU}</h4></dt>
					</dl>
				</li>
			</ul>
	<div class="inner" align="center">
    <table class="table1" width="70%" cellspacing="1">
			<thead>
				<tr class="bg1">
					<td align="center"><h3>{L_TRACKNAME}</h3></td>                        
					<td align="center" width="150px"><h3>{L_TRACKCREATION}</h3></td>  
 					<td align="center" width="150px"><h3>{L_TRACKLASTEDIT}</h3></td>  
					<td align="center" width="80px"><h3>{L_TRACKPUBLIC}</h3></td>                                    
					<td align="center" width="80px"><h3>{L_TRACKVIEW}</h3></td>           
					<td align="center" width="80px"><h3>{L_TRACKEDIT}</h3></td>  
					<td align="center" width="80px"><h3>{L_STAGEEDITS}</h3></td>        
					<td align="center" width="80px"><h3>{L_TRACKDELETE}</h3></td>                      
				</tr>
			</thead>
			<tbody id="othertracks">
			<!-- BEGIN tours -->    
            <tr class="bg1" id="track{tours.TRACKID}">
                <td align="left">{tours.TOURNAME}</td>                       
                <td align="left">{tours.TOURDATECREATION}</td>
                <td align="left">{tours.TOURDATELASTEDIT}</td>  
                <!-- IF tours.TOURPUBLIC --><td align="left" class="icon-public">&nbsp;&nbsp;&nbsp;{L_YES}</td><!-- ELSE --><td align="left" class="icon-private">&nbsp;&nbsp;&nbsp;{L_NO}</td><!-- ENDIF -->                                  
                <td align="left"><a href="{tours.TOURVIEWLINK}"><h4 class="icon-viewmap">&nbsp;<img src="{ARROWLOGO}"/></h4></a></td>
                <td align="left"><a href="{tours.TOUREDITLINK}"><h4 class="icon-editmap">&nbsp;<img src="{ARROWLOGO}"/></h4></a></td>  
                <td align="left"><a href="{tours.TOURSTAGEEDITLINK}"><h4 class="icon-tourstages">&nbsp;<img src="{ARROWLOGO}"/></h4></a></td>   
                <td align="left"><h4 onClick="deleteTour({tours.TOURID})" class="icon-deletemap">&nbsp;<img src="{ARROWLOGO}"/></h4></td>     
			</tr>                  
			<!-- END tours -->                        
	</table>   
   	</div>     
			<span class="corners-bottom"><span></span></span>
        </div>
</div>
<p><a href="{U_NEWTOUR}"><input type="submit" value="{L_NEWTOUR}" class="button1" /></a></p>
<!-- INCLUDE overall_footer.html -->