<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
    <ul class="topiclist">
        <li class="header">
            <dl class="icon">
                <dt><h4>{L_ROUTEFEATURES}<h4></dt>
            </dl>
        </li>
    </ul>
    <div class="inner" align="center">
    <table class="table1" width="100%" id="climbtable">
        <thead id="climbhead">
        </thead>  
        <tbody id="climbfinlist">          
        </tbody>                           
    </table> 
    </div>     
    <div class="inner" align="center">
    <table class="table1" width="100%" id="sprinttable">
        <thead id="sprinthead">
        </thead>  
        <tbody id="sprintlist">          
        </tbody>                           
    </table> 
    </div>     
    <div class="inner" align="center">
    <table class="table1" width="100%" id="resttable">
        <thead id="resthead">
        </thead>  
        <tbody id="restlist">          
        </tbody>                           
    </table> 
    </div>      
    <div class="inner" align="center">
    <table class="table1" width="100%" id="intermediatestable">
        <thead id="intermediateshead">
        </thead>  
        <tbody id="intermediateslist">          
        </tbody>                           
    </table> 
    </div>     
    <div class="inner" align="center">
    <table class="table1" width="100%" id="cobblestable">
        <thead id="cobblehead">
        </thead>  
        <tbody id="cobblelist">          
        </tbody>                           
    </table> 
    </div>                        
    <span class="corners-bottom"><span></span></span>
    </div>
</div>	 