<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt><h4>{L_STAGES}</h4></dt>
					</dl>
				</li>
			</ul>
	<div class="inner" align="center">   
       <table class="table1" width="70%" cellspacing="1">
                <thead>
                    <tr class="bg1">
                        <td align="center" width="50px"><h3>{L_TRACKNUMBER}</h3></td> 
                        <td align="center" width="170px"><h3>{L_TRACKTYPE}</h3></td>  
                        <td align="center"><h3>{L_TRACKNAME}</h3></td>   
                        <td align="center"><h3>{L_TRACKDEPARTARRIVE}</h3></td>   
                        <td align="center" width="80px"><h3>{L_TRACKDISTANCE}</h3></td>                          
                        <td align="center" width="80px"><h3>{L_TRACKVIEW}</h3></td>  
                        <!-- IF ISMINE || CANVIEWALLTRACKS -->  
                        <td align="center" width="80px"><h3>{L_TRACKEDIT}</h3></td>        
                        <!-- ENDIF -->                    
                    </tr>
                </thead>
                <tbody id="othertracks">
                <!-- BEGIN stages -->       
                <!-- IF stages.CANVIEWSTAGE -->
                <tr class="bg1" id="stage{stages.STAGEID}">
                    <td align="center">{stages.STAGENUMBER}</td>   
                    <td align="left"><img src="{stages.STAGETYPELOGO}"/>&nbsp;{stages.STAGETYPE}</td>                           
                    <td align="left">{stages.STAGENAME}</td>     
                    <td align="left"><!-- IF stages.STAGEDISTANCE -->{stages.STAGEDEPART}&nbsp;&gt;&nbsp;{stages.STAGEARRIVE}<!-- ENDIF --></td>
                    <td align="left">{stages.STAGEDISTANCE}<!-- IF stages.STAGEDISTANCE -->&nbsp;Km<!-- ENDIF --></td> 
					<td align="left"><a href="{stages.STAGEVIEWLINK}"><h4 class="icon-viewmap">&nbsp;<img src="{ARROWLOGO}"/></h4></a></td>                                              
                    <!-- IF ISMINE  || CANVIEWALLTRACKS --> 
                    <td align="left"><a href="{stages.STAGEEDITLINK}"><h4 class="icon-editmap">&nbsp;<img src="{ARROWLOGO}"/></h4></a></td>
                    <!-- ENDIF -->                                         
                </tr>               
                <!-- ENDIF -->
                <!-- END stages -->          
                <tr class="bg1">
                </tr>                  
                <tr class="bg1" id="stage{stages.STAGEID}">
                    <td align="left" colspan="4"><h4>{L_TOTALKM}</h4></td> 
                    <td align="left" colspan="2"><h4>{TOTALDISTANCE}<!-- IF stages.STAGEDISTANCE -->&nbsp;Km<!-- ENDIF --></h4></td>                      
                    <!-- IF ISMINE || CANVIEWALLTRACKS --> 
                	<td align="left"><a href="{TOURSTAGEEDITLINK}"><h4 class="icon-tourstages">&nbsp;<img src="{ARROWLOGO}"/></h4></a></td>    
                    <!-- ENDIF -->                                            
                </tr>                              
        </table>       
   	</div>     
			<span class="corners-bottom"><span></span></span>
        </div>
</div>