<!--
	Google Maps
-->
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key={MAPS_API_KEY}&sensor=true">
  </script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>  
   <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});  
	</script>  	  
<script type="text/javascript" src="{T_TEMPLATE_PATH}/maps/markerwithlabel.js"></script>  