<!-- INCLUDE overall_header.html -->
<!-- INCLUDE maps/maps_bar.html -->
<h2>{TRACKNAME}&nbsp;{TRACKDISTANCE}&nbsp;{L_KM}</h2>
<script type="text/javascript"><!-- INCLUDE maps/viewtrackscript.js --></script>
<script type="text/javascript"><!-- INCLUDE maps/mapcommons.js --></script>
<script type="text/javascript"><!-- INCLUDE maps/stageobjects.js --></script>
<script type="text/javascript"><!-- INCLUDE maps/mapexport.js --></script>
<!-- IF ISINATOUR -->
<!-- INCLUDE maps/maps_tourbar.html -->
<!-- ENDIF -->
<table width="100%">
	<tr valign="top">   
        <td>	
			<!-- INCLUDE maps/maps_viewplan.html -->  	  
        </td>  
        <td width="650px">
        <table width="100%" valign="top">
            <tr valign="top">
                <td colspan="2">	
					<!-- INCLUDE maps/maps_viewprofile.html -->  		                             
                </td>        
            </tr>   
            <tr valign="top">
                <td>	    
					<!-- INCLUDE maps/maps_lastkmprofile.html -->                                  
                </td>    
                <td>	    
					<!-- INCLUDE maps/maps_routeinfo.html -->    
					<!-- INCLUDE maps/maps_pointinfo.html -->                                                	                                                 
          			<!-- INCLUDE maps/maps_viewcontrols.html -->                                                	                                                 
                </td>                                                      
            </tr>                              					
        </table>        
        </td>    
    </tr>  
   	<tr valign="top">    
        <td colspan="2">                        	                                                 
        			<!-- INCLUDE maps/maps_viewmode.html --> 
        </td>   
    </tr>   
   	<tr valign="top">              
        <td colspan="2">                        	                                                 
        			<!-- INCLUDE maps/maps_stagedescription.html -->   
        </td>                  
    </tr>   
   	<tr valign="top">    
        <td colspan="2">                        	                                                 
        			<!-- INCLUDE maps/maps_routesprints.html -->
        </td>       
                   
    </tr>                  
</table>   
<!-- INCLUDE overall_footer.html -->