<div id="mapbar" class="navbar">
    <div class="inner">
        <span class="corners-top"><span></span></span>
        <ul class="linklist leftside">
            <li class="icon-map"><strong><a href="{MAPSHOME}" title="{L_HOME}">{L_HOME}</a></strong> » </li>
            <li class="icon-newmap"><a href="{MAPSEDITOR}" title="{L_NEWTRACK}">{L_NEWTRACK}</a></li>
            <li class="icon-mymaps"><a href="{MYTRACKS}" title="{L_MYTRACKS}">{L_MYTRACKS}</a></li>	
            <li class="icon-allmaps"><a href="{ALLTRACKS}" title="{L_ALLTRACKS}">{L_ALLTRACKS}</a></li>	
            <li class="icon-mytours"><a href="{MYTOURS}" title="{L_MYTOURSMENU}">{L_MYTOURSMENU}</a></li>	
            <li class="icon-alltours"><a href="{TRACKTOURS}" title="{L_TRACKTOURSMENU}">{L_TRACKTOURSMENU}</a></li>		
        </ul>
        <ul class="linklist rightside">
            <li class="icon-faq"><a href="{TRACKHELP}" title="{L_HELP}">{L_HELP}</a></li>		
        </ul>
        <span class="corners-bottom"><span></span></span>
    </div>
</div>