<!-- INCLUDE overall_header.html -->
<!-- INCLUDE maps/maps_bar.html -->
<script type="text/javascript"><!-- INCLUDE maps/mytrackscript.js --></script>
<div class="topic-actions">
    <div class="pagination">
    <span>
    <!-- BEGIN pages -->   
        <!-- IF pages.PAGENUMBER == 1 || pages.PAGENUMBER + 1  == CURRENTPAGE || pages.PAGENUMBER == CURRENTPAGE || pages.PAGENUMBER == CURRENTPAGE + 1 || pages.PAGENUMBER == TOTALPAGES --> 

        <!-- IF pages.PAGENUMBER == CURRENTPAGE --><strong>{pages.PAGENUMBER}</strong><!-- ELSE --><a href="/maps/mytracks.php?page={pages.PAGENUMBER}">{pages.PAGENUMBER}</a><!-- ENDIF --> 
        <!-- IF pages.PAGENUMBER != TOTALPAGES --><span class="page-sep">, </span><!-- ENDIF -->    
        
        <!-- ENDIF -->
    <!-- END pages -->   
    </span> 
    </div> 
</div>  
<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt><h4>{L_MYTRACKS}</h4></dt>
					</dl>
				</li>
			</ul>
	<div class="inner" align="center">
    <table class="table1" width="70%" cellspacing="1">
			<thead>
				<tr class="bg1">
					<td align="center" width="170px"><h3>{L_TRACKTYPE}</h3></td>
					<td align="center"><h3>{L_TRACKNAME}</h3></td>
					<td align="center"><h3>{L_TRACKDEPARTARRIVE}</h3></td> 
					<td align="center" width="80px"><h3>{L_TRACKDISTANCE}</h3></td>
					<td align="center" width="150px"><h3>{L_TRACKCREATION}</h3></td>  
 					<td align="center" width="150px"><h3>{L_TRACKLASTEDIT}</h3></td> 
					<td align="center" width="80px"><h3>{L_TRACKPUBLIC}</h3></td>                                           
					<td align="center" width="80px"><h3>{L_TRACKVIEW}</h3></td>                   
					<td align="center" width="80px"><h3>{L_TRACKEDIT}</h3></td>      
					<td align="center" width="80px"><h3>{L_PROPERTIES}</h3></td>                  
					<td align="center" width="80px"><h3>{L_TRACKCLONE}</h3></td>
					<td align="center" width="80px"><h3>{L_TRACKDELETE}</h3></td>
				</tr>
			</thead>
			<tbody id="mytracks">
			<!-- BEGIN tracks -->
            <tr class="bg1" id="track{tracks.TRACKID}">
                <td align="left"><img src="{tracks.TRACKTYPELOGO}"/>&nbsp;{tracks.TRACKTYPEDESCR}</td>
                <td align="left">{tracks.TRACKNAME}</td>
                <td align="left">{tracks.TRACKDEPART}&nbsp;&gt;&nbsp;{tracks.TRACKARRIVE}</td>                   
                <td align="left"><!-- IF tracks.TRACKDISTANCE -->{tracks.TRACKDISTANCE}&nbsp;{L_KM}<!-- ENDIF --></td>
                <td align="left">{tracks.TRACKDATECREATION}</td>
                <td align="left">{tracks.TRACKDATELASTEDIT}</td>
                <!-- IF tracks.TRACKPUBLIC --><td align="left" class="icon-public">&nbsp;&nbsp;&nbsp;{L_YES}</td><!-- ELSE --><td align="left" class="icon-private">&nbsp;&nbsp;&nbsp;{L_NO}</td><!-- ENDIF -->       
                <td align="left"><a href="{tracks.TRACKVIEWLINK}"><h4 class="icon-viewmap">&nbsp;<img src="{ARROWLOGO}"/></h4></a></td>
                <td align="left"><a href="{tracks.TRACKEDITLINK}"><h4 class="icon-editmap">&nbsp;<img src="{ARROWLOGO}"/></h4></a></td>
                <td align="left"><a href="{tracks.TRACKEDITPROPERTIESLINK}"><h4 class="icon-properties">&nbsp;<img src="{ARROWLOGO}"/></h4></a></td>
                <td align="left"><h4 onClick="cloneTrack({tracks.TRACKID})" class="icon-copymap">&nbsp;<img src="{ARROWLOGO}"/></h4></td>
                <td align="left"><h4 onClick="deleteTrack({tracks.TRACKID})" class="icon-deletemap">&nbsp;<img src="{ARROWLOGO}"/></h4></td>
			</tr>        
			<!-- END tracks -->                        
	</table>   
   	</div>     
			<span class="corners-bottom"><span></span></span>
        </div>
</div>
<div id="errorbox"></div>
<!-- INCLUDE overall_footer.html -->