<!-- INCLUDE overall_header.html -->
<!-- INCLUDE maps/maps_bar.html -->
<script type="text/javascript"><!-- INCLUDE maps/mapseditproperties.js --></script>
<br />
<div class="panel">
    <div class="inner">
        <span class="corners-top"><span></span></span>
        <h2>{L_EDITTRACKPROPERTIES}</h2>
		<fieldset><dl>
        	<dt>
            	<label for="trackname">{L_TRACKNAME}</label>
            </dt>
            <dd>
            	<input id="trackname" class="inputbox autowidth" type="text" title="{L_TRACKNAME}" value="{TRACKNAME}" size="25" name="trackname" tabindex="1"></input>
            </dd>
        </dl>
        </fieldset>
		<fieldset><dl>
        	<dt>
            	<label for="trackdepart">{L_DEPART}</label>
            </dt>
            <dd>
            	<input id="trackdepart" class="inputbox autowidth" type="text" title="{L_DEPART}" value="{TRACKDEPART}" size="25" name="trackdepart" tabindex="2"></input>
            </dd>
        </dl>
        </fieldset>
		<fieldset><dl>
        	<dt>
            	<label for="trackarrive">{L_ARRIVE}</label>
            </dt>
            <dd>
            	<input id="trackarrive" class="inputbox autowidth" type="text" title="{L_ARRIVE}" value="{TRACKARRIVE}" size="25" name="trackarrive" tabindex="3"></input>
            </dd>
        </dl>
        </fieldset>   
 		<fieldset><dl>
        	<dt>
            	<label for="tracktype">{L_ROUTETYPE}</label>
            </dt>
            <dd>
				<select name="tracktype" id="tracktype" title="{L_ROUTETYPE}" size="auto" tabindex="4">
                    <!-- BEGIN stagetypes -->
                    <option value="{stagetypes.STAGETYPEID}"<!-- IF stagetypes.STAGETYPEID == TRACKTYPE -->selected<!-- ENDIF -->>{stagetypes.STAGETYPEDESCR}</option>
                    <!-- END stagetypes -->
                </select>           
            </dd>
        </dl>
        </fieldset>          
 		<fieldset><dl>
        	<dt>
            	<label for="racetype">{L_RACETYPE}</label>
            </dt>
            <dd>
				<select name="racetype" id="racetype" title="{L_RACETYPE}" size="auto" tabindex="5">
                    <!-- BEGIN racetypes -->
                    <option value="{racetypes.RACETYPEID}"<!-- IF racetypes.RACETYPEID == TRACKRACETYPE -->selected<!-- ENDIF -->>{racetypes.RACENAME}</option>
                    <!-- END racetypes' -->
                </select>          
            </dd>
        </dl>
        </fieldset>   
        <!-- IF CANCHANGEAUTHOR -->     
 		<fieldset><dl>
        	<dt>
            	<label for="trackowner">{L_TRACKOWNER}</label>
            </dt>
            <dd>
				<select name="trackowner" id="trackowner" title="{L_TRACKOWNER}" size="auto" tabindex="6">
                    <!-- BEGIN users -->
                    <option value="{users.USERID}"<!-- IF users.USERID == TRACKOWNER -->selected<!-- ENDIF -->>{users.USERNAME}</option>
                    <!-- END users' -->
                </select>          
            </dd>
        </dl>
        </fieldset>                
        <!-- ELSE -->      
        <input type="hidden" id="trackowner" name="trackowner" value="{TRACKOWNER}">       
        <!-- ENDIF -->        
		<fieldset><dl>
        	<dt>
            	<label for="trackpublic">{L_PUBLIC}</label>
            </dt>
            <dd>
            	<input name="trackpublic" id="trackpublic" title="{L_PUBLIC}" tabindex="7" type="checkbox" <!-- IF TRACKPUBLIC-->checked="checked"<!-- ENDIF --> ></input>
            </dd>
        </dl>
        </fieldset>   
		<fieldset><dl>
        	<dt>
            	<label for="trackdescription">{L_TRACKDESCRIPTION}</label>
            </dt>
            <dd>
            	<textarea name="trackdescription" id="trackdescription" title="{L_TRACKDESCRIPTION}" rows="12" cols="80" tabindex="8" >{TRACKDESCRIPTION}</textarea>
            </dd>
        </dl>
        </fieldset>                              
		<span class="corners-bottom"><span></span></span>
		</div>
</div>
<p>
<input type="submit" value="{L_EDITTRACKPROPERTIES}" class="button1" onclick="editTrackProperties({TRACKID})" tabindex="8" />
</p> 
<div id="errorbox"></div>
<!-- INCLUDE overall_footer.html -->