<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
    <ul class="topiclist">
        <li class="header">
            <dl class="icon">
                <dt><h4>{L_ROUTEINFOS}</h4></dt>
            </dl>
        </li>
    </ul>
    <div class="inner" align="center">
    <table class="table1" width="100%">
        <tr class="bg1" >
            <td>
                <h4>{L_DISTANCE}<h4>
            </td>
            <td width="150px">
                <h4 id="route_distance" />
            </td>
        </tr>    
        <tr class="bg1" >
            <td>
                <h4>{L_DENIVEL}<h4>
            </td>
            <td width="150px">
                <h4 id="route_denivel" />
            </td>
        </tr>      
        <tr class="bg1" >
            <td>
                <h4>{L_ASCDENIVEL}<h4>
            </td>
            <td width="150px">
                <h4 id="route_ascentdenivel" />
            </td>
        </tr>    
        <tr class="bg1" >
            <td>
                <h4>{L_DESCDENIVEL}<h4>
            </td>
            <td width="150px">
                <h4 id="route_descentdenivel" />
            </td>
        </tr>                                                                  
    </table> 
    </div>     
    <span class="corners-bottom"><span></span></span>
    </div>
</div>