<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
    <ul class="topiclist">
        <li class="header">
            <dl class="icon">
                <dt><h4>{L_SEARCHBOX}</h4></dt>
            </dl>
        </li>
    </ul>
    <div class="inner" align="center">
    <table class="table1" width="100%">
        <tr class="bg1" >
            <td>
                <h4>{L_SEARCHINSTR}</h4>
            </td>
        </tr>        
        <tr class="bg1" >
            <td>
                <h4><input type="text" id="addressbox" name="address" onkeydown="if (event.keyCode == 13) searchAddress()" />&nbsp;<button onclick="searchAddress()">&nbsp;{L_SEARCH}&nbsp;</button></h4>
            </td>
        </tr>    
    </table> 
    </div>     
    <span class="corners-bottom"><span></span></span>
    </div>
</div>