<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt><h4>{L_LASTTRACKS}</h4></dt>
					</dl>
				</li>
			</ul>
	<div class="inner" align="center">
    <table class="table1" width="70%" cellspacing="1">
			<thead>
				<tr class="bg1">
					<td align="center" width="170px"><h3>{L_TRACKTYPE}</h3></td>
					<td align="center" width="170px"><h3>{L_TRACKOWNER}</h3></td>
					<td align="center"><h3>{L_TRACKNAME}</h3></td>
					<td align="center"><h3>{L_TRACKDEPARTARRIVE}</h3></td>                     
					<td align="center" width="80px"><h3>{L_TRACKDISTANCE}</h3></td>                
					<td align="center" width="150px"><h3>{L_TRACKCREATION}</h3></td>  
 					<td align="center" width="150px"><h3>{L_TRACKLASTEDIT}</h3></td>  
					<!-- IF CANVIEWALLTRACKS -->  
					<td align="center" width="80px"><h3>{L_TRACKPUBLIC}</h3></td>       
           			<!-- ENDIF -->                                 
					<td align="center" width="80px"><h3>{L_TRACKVIEW}</h3></td>           
					<!-- IF CANVIEWALLTRACKS -->  
					<td align="center" width="80px"><h3>{L_TRACKEDIT}</h3></td>        
            		<!-- ENDIF -->                                                
				</tr>
			</thead>
			<tbody id="othertracks">
			<!-- BEGIN othertracks -->
            <!-- IF othertracks.TRACKPUBLIC || CANVIEWALLTRACKS -->            
            <tr class="bg1" id="track{othertracks.TRACKID}">
                <td align="left"><img src="{othertracks.TRACKTYPELOGO}"/>&nbsp;{othertracks.TRACKTYPEDESCR}</td>
                <td align="left">{othertracks.TRACKOWNER}</td>
                <td align="left">{othertracks.TRACKNAME}</td>
                <td align="left">{othertracks.TRACKDEPART}&nbsp;&gt;&nbsp;{othertracks.TRACKARRIVE}</td>                            
                <td align="left"><!-- IF othertracks.TRACKDISTANCE -->{othertracks.TRACKDISTANCE}&nbsp;{L_KM}<!-- ENDIF --></td>
                <td align="left">{othertracks.TRACKDATECREATION}</td>
                <td align="left">{othertracks.TRACKDATELASTEDIT}</td>  
                <!-- IF CANVIEWALLTRACKS -->  
                <!-- IF othertracks.TRACKPUBLIC --><td align="left" class="icon-public">&nbsp;&nbsp;&nbsp;{L_YES}</td><!-- ELSE --><td align="left" class="icon-private">&nbsp;&nbsp;&nbsp;{L_NO}</td><!-- ENDIF -->       
                <!-- ENDIF -->                                
                <td align="left"><a href="{othertracks.TRACKVIEWLINK}" ><h4 class="icon-viewmap">&nbsp;<img src="{ARROWLOGO}"/></h4></a></td>
                <!-- IF CANVIEWALLTRACKS --> 
                <td align="left"><a href="{othertracks.TRACKEDITLINK}" ><h4 class="icon-editmap">&nbsp;<img src="{ARROWLOGO}"/></h4></a></td>
                <!-- ENDIF -->                 
			</tr>  
            <!-- ENDIF -->                  
			<!-- END othertracks -->                        
	</table>   
   	</div>     
			<span class="corners-bottom"><span></span></span>
        </div>
</div>