<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
    <ul class="topiclist">
        <li class="header">
            <dl class="icon">
                <dt><h4>{L_TRACKPROFILE}<h4></dt>
            </dl>
        </li>
    </ul>
    <div class="inner" align="center">
    <table class="table1" width="100%" height="300px">
        <tr class="bg1">
            <td>
            	<div id="canvas-wrap">
                    <canvas id="profileCanvas">
                    Your browser does not support the HTML5 canvas tag.</canvas>   
                    <div id="navigation-bar" />          
                </div>     
            </td>
        </tr>                
    </table> 
    </div>     
    <span class="corners-bottom"><span></span></span>
    </div>
</div>	 