<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
    <ul class="topiclist">
        <li class="header">
            <dl class="icon">
                <dt><h4>{L_TRACKDESCRIPTION}<h4></dt>
            </dl>
        </li>
    </ul>
    <div class="inner" align="center">
    <table class="table1" width="100%">
        <tr class="bg1">
            <td>
				<h4>{L_INSERTDESCRIPTION}</h4>
				<textarea id="trackdescription" name="editotext" id="editotext" title="{L_TRACKDESCRIPTION}" width="100%" rows="12">{TRACKDESCRIPTION}</textarea>
            </td>
        </tr>                
    </table> 
    </div>     
    <span class="corners-bottom"><span></span></span>
    </div>
</div>	 