<div class="forabg">
    <div class="inner"><span class="corners-top"><span></span></span>
    <ul class="topiclist">
        <li class="header">
            <dl class="icon">
                <dt><h4>{L_STAGEPLAN}</h4></dt>
            </dl>
        </li>
    </ul>
    <div class="inner" align="center">
        <table class="table1" cellspacing="1">
            <tr class="bg1">
                <td align="center" height="820px"><div id="map-canvas" /></td>
            </tr>                    
        </table>   
    </div>     
    <span class="corners-bottom"><span></span></span>
    </div>
</div>		     