<table width="100%">    
<tr valign="top">
                <td>	    
                    <div class="forabg">
                        <div class="inner"><span class="corners-top"><span></span></span>
                        <ul class="topiclist">
                            <li class="header">
                                <dl class="icon">
                                    <dt><h4>{L_STAGEDESCRIPTION}</h4></dt>
                                </dl>
                            </li>
                        </ul>
                        <div class="inner" align="center">
                            <table class="table1" cellspacing="1">
                                <tr class="bg1">
                                    <td align="center"><!-- IF TRACKDESCRIPTION --><p align="justify">{TRACKDESCRIPTION}</p><!-- ENDIF -->
                                    <p align="justify" id="tracksprints"></p>
                                    </td>
                                </tr>                    
                            </table>   
                        </div>     
                        <span class="corners-bottom"><span></span></span>
                        </div>
                    </div>		                                  
                </td>        
            </tr>       
</table>  