	<!-- IF HASCLIMBS -->    
    <tr valign="top">         
        <td width="100%">	
            <div class="forabg">
                <div class="inner"><span class="corners-top"><span></span></span>
                <ul class="topiclist">
                    <li class="header">
                        <dl class="icon">
                            <dt><h4>{L_STAGECLIMBS}</h4></dt>
                        </dl>
                    </li>
                </ul>
                <div class="inner" align="center">
                    <table class="table1" cellspacing="1">
                     <!-- BEGIN climbs -->
                       <tr class="bg1">
                            <td align="center" width="45px"><img src="{climbs.CLIMBCATEGORYIMAGE}" /></td>
                            <td align="left">{climbs.CLIMBSUMMIT}&nbsp;m&nbsp;-&nbsp;{climbs.CLIMBNAME}</td>
                            <td align="left">{climbs.CLIMBLENGTH}&nbsp;{L_KMAT}&nbsp;{climbs.CLIMBPERCENTAGE}&nbsp;%<!-- IF CLIMBFINISH -->&nbsp;-&nbsp;{L_ARRIVE}<!-- ENDIF --></td>
                            <td align="left" width="100px">Km&nbsp;{climbs.CLIMBLOCATION}</td>
                        </tr>  
                    <!-- END climbs -->                                          
                    </table>   
                </div>     
                <span class="corners-bottom"><span></span></span>
                </div>
            </div>		                             
        </td>            
    </tr>      
	<!-- ENDIF -->