/* SAFE GT ADDON BY Soshen 2011 <nipponart.org>
---------------------------------------- */
.xboxgt-icon { margin: 0 2px 0 4px; }
	.xboxgt-icon img { vertical-align: middle ! important; }
.psngt-icon { margin: 0 2px 0 4px; }
	.psngt-icon img { vertical-align: middle ! important; }
.wiigt-icon { margin: 0 2px 0 4px; }
	.wiigt-icon img { vertical-align: middle ! important; }
.steamgt-icon { margin: 0 2px 0 4px; }
	.steamgt-icon img { vertical-align: middle ! important; }
.xfiregt-icon { margin: 0 2px 0 4px; }
	.xfiregt-icon img { vertical-align: middle ! important; }
.origin-icon { margin: 0 2px 0 4px; }
	.origin-icon img { vertical-align: middle ! important; }