<!-- INCLUDE overall_header.html -->
<!-- IF S_HAS_SUBCAT -->
<!-- INCLUDE mods/directory/catlist.html -->
<!-- ENDIF -->
<div class="topic-actions" style="margin-top: 1em;">
		<!-- IF S_AUTH_ADD -->
		<div class="buttons">
			<div class="newlink-icon" title="{L_DIR_NEW_SITE}"><a href="{U_NEW_SITE}"><span></span>{L_DIR_NEW_SITE}</a></div>
		</div>
		<!-- ENDIF -->
		<!-- IF S_AUTH_SEARCH -->
		<div class="search-box">
			<form method="post" id="forum-search" action="{U_MAKE_SEARCH}">
			<fieldset>
				<input class="inputbox search tiny" type="text" name="keyword" id="search_keywords" size="20" value="{L_DIR_MAKE_SEARCH}" onclick="if (this.value == '{L_DIR_MAKE_SEARCH}') this.value = '';"  />
				<input class="button2" type="submit" name="submit" value="{L_SEARCH}" />
				<input type="hidden" name="cat" value="{S_CAT_ID}" />
			</fieldset>
			</form>
		</div>
		<!-- ENDIF -->
	<div class="pagination">
		<!-- IF S_NOTIFICATION --><a href="{U_NOTIFICATION}">{L_DIR_NOTIFICATION}</a> &bull; <!-- ENDIF -->
		{TOTAL_LINKS}
		<!-- IF PAGINATION --> &bull;  <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a>
			 &bull;  <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
	</div>
</div>
<!-- BEGIN site -->
<div class="forumbg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dt><!-- IF site.S_HAVE_FLAG -->{site.IMG_FLAG}<!-- ENDIF -->{site.NAME}</dt>
					</dl>
				</li>
			</ul>
			<div id="p{site.LINK_ID}" class="link bg1">
				<dl class="linkinfos">
					<dt>{site.THUMB}</dt>
					<!-- IF site.PAGERANK --><dd>{L_DIR_PAGERANK}: {site.PAGERANK}</dd><!-- ENDIF -->
          			<dd>{L_DIR_NOTE}: {site.NOTE}</dd><dd>({site.NB_VOTE}){site.VOTE}</dd>
				</dl>
				<div class="commentbody linkbody">
					<div class="head bg2">
						<!-- IF not S_IS_BOT -->
							<!-- IF site.U_EDIT or site.U_DELETE -->
								<ul class="profile-icons">
						 			<!-- IF site.U_EDIT --><li class="edit-icon"><a href="{site.U_EDIT}" title="{L_DIR_EDIT_SITE}"><span>{L_DIR_EDIT_SITE}</span></a></li><!-- ENDIF -->
						 			<!-- IF site.U_DELETE --><li class="delete-icon"><a href="{site.U_DELETE}" title="{L_DIR_DELETE_SITE}"><span>{L_DIR_DELETE_SITE}</span></a></li><!-- ENDIF -->
								</ul>
							<!-- ENDIF -->
						<!-- ENDIF -->
					<ul class="linklist">
            			<li<!-- IF site.S_NEW_LINK --> class="new"<!-- ENDIF -->>&nbsp;<a href="{site.U_LINK}" {site.ON_CLICK} title="{site.NAME}" ><strong>{site.NAME}</strong></a> ({site.U_LINK}) &nbsp;({site.COUNT})</li>
						<!-- IF site.RSS --><li class="rightside"><a href="{site.RSS}"><img src="{T_THEME_PATH}/images/feed.gif" alt="{L_FEED} - {site.NAME}" title="{L_DIR_RSS} {site.NAME}" class="rss"/></a></li><!-- ENDIF -->
					</ul>
					</div>
					<div class="content">{site.DESCRIPTION}</div>
					<!-- IF site.BANNER --><div id="sig{site.LINK_ID}" class="signature">{site.BANNER}</div><!-- ENDIF -->
				</div>
				<div class="back2top bg2" style="padding-bottom:1px;"><div style="float:left;display:inline;">&nbsp;{site.COMMENT}&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;">{L_DIR_USER_PROP} {site.USER}</span><!-- IF site.TIME --> &raquo; {site.TIME}<!-- ENDIF --></div><a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a></div>
			</div>
	<span class="corners-bottom"><span></span></span>
</div>
</div>
<!-- END site -->
<!-- BEGIN no_draw_link -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<strong>{L_DIR_NO_DRAW_LINK}</strong>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- END no_draw_link -->
<form method="post" action="{S_FORUM_ACTION}">
	<fieldset class="display-options">
		<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
		<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
		<!-- IF not S_IS_BOT --><label>{L_DIR_DISPLAY_LINKS}: {S_SELECT_SORT_DAYS}</label>
		<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label>
		<label>{S_SELECT_SORT_DIR} <input type="submit" name="sort" value="{L_GO}" class="button2" /></label><!-- ENDIF -->
	</fieldset>
</form>
<hr />
	<div class="topic-actions">
		<!-- IF S_AUTH_ADD -->
		<div class="buttons">
			<div class="newlink-icon" title="{L_DIR_NEW_SITE}"><a href="{U_NEW_SITE}"><span></span>{L_DIR_NEW_SITE}</a></div>
		</div>
		<!-- ENDIF -->
		<div class="pagination">
			<!-- IF S_NOTIFICATION --><a href="{U_NOTIFICATION}">{L_DIR_NOTIFICATION}</a> &bull; <!-- ENDIF -->
			{TOTAL_LINKS}
			<!-- IF PAGINATION --> &bull;  <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a>
			 &bull;  <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF -->
		</div>

	</div>
	<!-- IF not S_IS_BOT -->
	<form method="post" id="jumpbox" action="{S_JUMPBOX_ACTION}" onsubmit="if(document.jumpbox.id.value == -1){return false;}">
		<fieldset class="jumpbox">
			<label for="id" accesskey="id">{L_JUMP_TO}:</label>
			<select name="id" id="id" onchange="if(this.options[this.selectedIndex].value != -1){ document.forms['jumpbox'].submit() }">
				{S_CATLIST}
			</select>
			<input type="submit" value="{L_GO}" class="button2" />
			<input type="hidden" name="mode" value="cat" />
		</fieldset>
	</form>
	<!-- ENDIF -->
<!-- INCLUDE mods/directory/footer.html -->