<script type="text/javascript" src="{SAFEGTDIR}intprotector.js"></script>

<form id="user_profile" method="post" action="{U_ACTION}">
	<fieldset>
		<legend>{L_UCP_PROFILE_SAFEGT}</legend>
		
		<p>{L_PROFILE_INFO_NOTICE}</p>
		
		<!-- IF not S_XBOX or not S_PSN or not S_WII or not S_STEAM or not S_XFIRE or not S_ORIGIN -->
		<p><strong>{L_SHOW_INACTIVE_TOO}</strong> <input class="radio" type="checkbox" value="1" name="showinactive" onclick="showMe('div1', this)" /></p>
		<hr />
		<!-- ENDIF -->
		
		<!-- IF S_XBOX -->
		<dl>
			<dt><label for="xbox">{L_XBOXGT}:</label></dt>
			<dd><input type="text" name="xbox" id="xbox" maxlength="15" value="{XBOX}" onkeyup="Pxbox(this)" onblur="Pxbox(this)" /></dd>
		</dl>
		<!-- ENDIF -->
		<!-- IF S_PSN -->
		<dl>
			<dt><label for="psn">{L_PSNGT}:</label></dt>
			<dd><input type="text" name="psn" id="psn" maxlength="16" value="{PSN}" onkeyup="Ppsn(this)" onblur="Ppsn(this)" /></dd>
		</dl>
		<dl>
			<dt><label for="psnzone">{L_PSN_ZONE}:</label></dt>
			<dd><select name="psnzone" id="psnzone">
			<option value="0" {PSNZONE1}>{L_EU}</option>
			<option value="1" {PSNZONE2}>{L_USA}</option>
			</select></dd>
			<dd>{L_PSNZONE_DESC}</dd>
		</dl>
		<!-- ENDIF -->
		<!-- IF S_WII -->
		<dl>
			<dt><label for="wii">{L_WIIGT}:</label></dt>
			<dd><input type="text" name="wii" id="wii" maxlength="22" value="{WII}" onkeyup="Pwii(this)" onblur="Pwii(this)" /></dd>
		</dl>
		<dl>
			<dt><label for="wiiurl">{L_WII_URL}:</label></dt>
			<dd><input type="text" name="wiiurl" id="wiiurl" maxlength="248" value="{WIIURL}" /></dd>
			<dd>{L_WIIURL_DESC}</dd>
		</dl>
		<!-- ENDIF -->
		<!-- IF S_STEAM -->
		<dl>
			<dt><label for="steam">{L_STEAM_NAME}:</label></dt>
			<dd><input type="text" name="steam" id="steam" maxlength="50" value="{STEAM}" /></dd>
		</dl>
		<dl>
			<dt><label for="steamid">{L_STEAMID}:</label></dt>
			<dd><input type="text" name="steamid" id="steamid" maxlength="17" value="{STEAMID}" onkeyup="Psteamid(this)" onblur="Psteamid(this)" /></dd>
			<dd>{L_STEAMID_DESC}</dd>
		</dl>
		<!-- ENDIF -->
		<!-- IF S_XFIRE -->
		<dl>
			<dt><label for="xfire">{L_XFIRE_NAME}:</label></dt>
			<dd><input type="text" name="xfire" id="xfire" maxlength="25" value="{XFIRE}" onkeyup="Pxfireu(this)" onblur="Pxfireu(this)" /></dd>
		</dl>
		<dl>
			<dt><label for="xfireskin">{L_XFIRE_SKIN}:</label></dt>
			<dd><select name="xfireskin" id="xfireskin">
			<option value="sh" {XFIRESKIN1}>{L_SHADOW}</option>
			<option value="co" {XFIRESKIN2}>{L_COMBAT}</option>
			<option value="sf" {XFIRESKIN3}>{L_SHIFI}</option>
			<option value="os" {XFIRESKIN4}>{L_FANTASY}</option>
			<option value="bg" {XFIRESKIN5}>{L_DEFAULT}</option>
			</select></dd>
			<dd>{L_XFIRE_DESC}</dd>
		</dl>
		<!-- ENDIF -->
		<!-- IF S_ORIGIN -->
		<dl>
			<dt><label for="origin">{L_ORIGIN}:</label></dt>
			<dd><input type="text" name="origin" id="origin" maxlength="16" value="{ORIGINID}" onkeyup="Porigin(this)" onblur="Porigin(this)" /></dd>
		</dl>
		<!-- ENDIF -->

		<!-- IF not S_XBOX or not S_PSN or not S_WII or not S_STEAM or not S_XFIRE or not S_ORIGIN -->
		<div class="row" id="div1" style="display:none">
			<!-- IF not S_XBOX -->
			<dl>
				<dt><label for="xbox">{L_XBOXGT}:</label></dt>
				<dd><input type="text" name="xbox" id="xbox" maxlength="15" value="{XBOX}" onkeyup="Pxbox(this)" onblur="Pxbox(this)" /></dd>
			</dl>
			<!-- ENDIF -->
			<!-- IF not S_PSN -->
			<dl>
				<dt><label for="psn">{L_PSNGT}:</label></dt>
				<dd><input type="text" name="psn" id="psn" maxlength="16" value="{PSN}" onkeyup="Ppsn(this)" onblur="Ppsn(this)" /></dd>
			</dl>
			<dl>
				<dt><label for="psnzone">{L_PSN_ZONE}:</label></dt>
				<dd><select name="psnzone" id="psnzone">
				<option value="0" {PSNZONE1}>{L_EU}</option>
				<option value="1" {PSNZONE2}>{L_USA}</option>
				</select></dd>
				<dd>{L_PSNZONE_DESC}</dd>
			</dl>
			<!-- ENDIF -->
			<!-- IF not S_WII -->
			<dl>
				<dt><label for="wii">{L_WIIGT}:</label></dt>
				<dd><input type="text" name="wii" id="wii" maxlength="22" value="{WII}" onkeyup="Pwii(this)" onblur="Pwii(this)" /></dd>
			</dl>
			<dl>
				<dt><label for="wiiurl">{L_WII_URL}:</label></dt>
				<dd><input type="text" name="wiiurl" id="wiiurl" maxlength="248" value="{WIIURL}" /></dd>
				<dd>{L_WIIURL_DESC}</dd>
			</dl>
			<!-- ENDIF -->
			<!-- IF not S_STEAM -->
			<dl>
				<dt><label for="steam">{L_STEAM_NAME}:</label></dt>
				<dd><input type="text" name="steam" id="steam" maxlength="50" value="{STEAM}" /></dd>
			</dl>
			<dl>
				<dt><label for="steamid">{L_STEAMID}:</label></dt>
				<dd><input type="text" name="steamid" id="steamid" maxlength="17" value="{STEAMID}" onkeyup="Psteamid(this)" onblur="Psteamid(this)" /></dd>
				<dd>{L_STEAMID_DESC}</dd>
			</dl>
			<!-- ENDIF -->
			<!-- IF not S_XFIRE -->
			<dl>
				<dt><label for="xfire">{L_XFIRE_NAME}:</label></dt>
				<dd><input type="text" name="xfire" id="xfire" maxlength="25" value="{XFIRE}" onkeyup="Pxfireu(this)" onblur="Pxfireu(this)" /></dd>
			</dl>
			<dl>
				<dt><label for="xfireskin">{L_XFIRE_SKIN}:</label></dt>
				<dd><select name="xfireskin" id="xfireskin">
				<option value="sh" {XFIRESKIN1}>{L_SHADOW}</option>
				<option value="co" {XFIRESKIN2}>{L_COMBAT}</option>
				<option value="sf" {XFIRESKIN3}>{L_SHIFI}</option>
				<option value="os" {XFIRESKIN4}>{L_FANTASY}</option>
				<option value="bg" {XFIRESKIN5}>{L_DEFAULT}</option>
				</select></dd>
				<dd>{L_XFIRE_DESC}</dd>
			</dl>
			<!-- ENDIF -->
			<!-- IF not S_ORIGIN -->
			<dl>
				<dt><label for="origin">{L_ORIGIN}:</label></dt>
				<dd><input type="text" name="origin" id="origin" maxlength="16" value="{ORIGINID}" onkeyup="Porigin(this)" onblur="Porigin(this)" /></dd>
			</dl>
			<!-- ENDIF -->
		</div>
		<!-- ENDIF -->
		
	
	</fieldset>

	<fieldset class="quick">
		<input class="button1" type="submit" name="update" value="{L_SUBMIT}" />
		{S_FORM_TOKEN}
	</fieldset>
</form>

<script type="text/javascript">
// <![CDATA[
	function showMe(it, box) { 
	  var vis = (box.checked) ? "block" : "none"; 
	  document.getElementById(it).style.display = vis;
	} 
// ]]>
</script>