<!-- INCLUDE overall_header.html -->
<a name="maincontent"></a>

<h1>{L_MAPS_INDEX_TITLE}</h1>

<form id="acp_maps" method="post" action="{U_ACTION}">
	<fieldset>
		<legend>{L_MAPS_INDEX_TITLE}</legend>
		<dl>
			<dt><label for="tracks_apikey">{L_MAPS_APIKEY}:</label></dt>
			<dd><input type="text" name="tracks_apikey" id="tracks_apikey" size="50" value="{TRACKS_APIKEY}" /></dd>
		</dl>	
	</fieldset>
    
	<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		
	</p>
 {S_FORM_TOKEN}   	
</form>        

<!-- INCLUDE overall_footer.html -->