<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

<!-- IF S_EDIT_CAT -->
	<script type="text/javascript">
	// <![CDATA[
		function display_options(value)
		{
			if (value == 0)
			{
				dE('cat_display_parent', -1);
			}
			else
			{
				dE('cat_display_parent', 1);
			}
		}
		
		function update_image(newimage)
		{
			document.getElementById('image').src = (newimage) ? "{DIR_ICON_PATH}/" + encodeURI(newimage) : "./images/spacer.gif";
		}
		
		function createRequestObject()
		{
			var http;
			if (window.XMLHttpRequest)
			{
				http = new XMLHttpRequest();
			}
			else if (window.ActiveXObject)
			{
				http = new ActiveXObject("Microsoft.XMLHTTP");
			}
			return http;
		}
		
		function update_next_check(day)
		{
			var date = new Date();
			var timestamp = date.setTime((date.getTime()/1000) + day * 86400);

			http = createRequestObject();
			http.open('GET', '{U_DATE}&timestamp='+timestamp, true);
			http.onreadystatechange = handleAJAXReturn;
			http.send(null);
		}
		
		function handleAJAXReturn()
		{
			var next = '-';
			if (http.readyState == 4 && http.status == 200)
			{
				next = http.responseText;
			}
			document.getElementById("next_check").innerHTML = next;
		}
	// ]]>
	</script>

	<a href="{U_BACK}" style="float: {S_CONTENT_FLOW_END};">&laquo; {L_BACK}</a>

	<h1>{L_TITLE} :: {DIR_CAT_NAME}</h1>

	<p>{L_DIR_EDIT_EXPLAIN}</p>

	<!-- IF S_ERROR -->
		<div class="errorbox">
			<h3>{L_WARNING}</h3>
			<p>{ERROR_MSG}</p>
		</div>
	<!-- ENDIF -->

	<form id="forumedit" method="post" action="{U_EDIT_ACTION}">

	<fieldset>
		<legend>{L_DIR_CAT_SETTINGS}</legend>
	<dl>
		<dt><label for="parent">{L_DIR_CAT_PARENT}:</label></dt>
		<dd><select id="parent" name="cat_parent_id" onchange="display_options(this.options[this.selectedIndex].value);"><option value="0"<!-- IF not S_CAT_PARENT_ID --> selected="selected"<!-- ENDIF --> style="font-weight: bold">{L_DIR_NO_PARENT}</option>{S_PARENT_OPTIONS}</select></dd>
	</dl>
	<dl>
		<dt><label for="cat_name">{L_DIR_CAT_NAME}:</label></dt>
		<dd><input class="text medium" type="text" id="cat_name" name="cat_name" value="{DIR_CAT_NAME}" maxlength="255" /></dd>
	</dl>
	<dl>
		<dt><label for="cat_desc">{L_DIR_CAT_DESC}:</label><br /><span>{L_DIR_CAT_DESC_EXPLAIN}</span></dt>
		<dd><textarea id="cat_desc" name="cat_desc" rows="5" cols="45">{DIR_CAT_DESC}</textarea></dd>
		<dd><label><input type="checkbox" class="radio" name="desc_parse_bbcode"<!-- IF S_DESC_BBCODE_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_BBCODE}</label>
			<label><input type="checkbox" class="radio" name="desc_parse_smilies"<!-- IF S_DESC_SMILIES_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_SMILIES}</label>
			<label><input type="checkbox" class="radio" name="desc_parse_urls"<!-- IF S_DESC_URLS_CHECKED --> checked="checked"<!-- ENDIF --> /> {L_PARSE_URLS}</label></dd>
	</dl>
	<dl>
		<dt><label for="cat_icon">{L_DIR_CAT_ICON}:</label></dt>
		<dd><select id="icon" name="cat_icon" onchange="update_image(this.options[selectedIndex].value);">{S_ICON_OPTIONS}</select></dd>
		<dd><img src="{ICON_IMAGE}" id="image" alt="" /></dd>
	</dl>
		<dl>
			<dt><label for="allow_comments">{L_DIR_ALLOW_COMMENTS}:</label></dt>
			<dd><label><input type="radio" class="radio" name="allow_comments" value="1"<!-- IF S_ALLOW_COMMENTS --> id="allow_comments" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="allow_comments" value="0"<!-- IF not S_ALLOW_COMMENTS --> id="allow_comments" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="allow_votes">{L_DIR_ALLOW_VOTES}:</label></dt>
			<dd><label><input type="radio" class="radio" name="allow_votes" value="1"<!-- IF S_ALLOW_VOTES --> id="allow_votes" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="allow_votes" value="0"<!-- IF not S_ALLOW_VOTES --> id="allow_votes" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="must_descibe">{L_DIR_MUST_DESCRIBE}:</label></dt>
			<dd><label><input type="radio" class="radio" name="must_describe" value="1"<!-- IF S_MUST_DESCRIBE --> id="must_descibe" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="must_describe" value="0"<!-- IF not S_MUST_DESCRIBE --> id="must_describe" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{L_DIR_CAT_GENERAL_SETTINGS}</legend>
		<!-- IF S_CAT_PARENT_ID --><div id="cat_display_parent" ><!-- ELSE --><div id="cat_display_parent" style="display: none;" ><!-- ENDIF -->
		<dl>
			<dt><label for="display_on_index">{L_DIR_LIST_INDEX}:</label></dt>
			<dd><label><input type="radio" class="radio" name="display_on_index" value="1"<!-- IF S_DISPLAY_SUBCAT_LIST --> id="display_on_index" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="display_on_index" value="0"<!-- IF not S_DISPLAY_SUBCAT_LIST --> id="display_on_index" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		</div>
		<dl>
			<dt><label for="count_all">{L_DIR_COUNT_ALL}:</label><br /><span>{L_DIR_COUNT_ALL_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="count_all" value="1"<!-- IF S_COUNT_ALL --> id="count_all" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="count_all" value="0"<!-- IF not S_COUNT_ALL --> id="count_all" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="validate">{L_DIR_VALIDATE}:</label></dt>
			<dd><label><input type="radio" class="radio" name="validate" value="1"<!-- IF S_VALIDATE --> id="validate" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="validate" value="0"<!-- IF not S_VALIDATE --> id="validate" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
	</fieldset>
		<fieldset>
			<legend>{L_DIR_CRON_SETTINGS}</legend>
		<dl>
			<dt><label for="link_back">{L_DIR_MUST_BACK}:</label><br /><span>{L_DIR_MUST_BACK_EXPLAIN}</span></dt>
			<dd><label><input type="radio" onchange="dE('cron_enable', 1)" class="radio" name="link_back" value="1"<!-- IF S_LINK_BACK --> id="link_back" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
				<label><input type="radio" onchange="dE('cron_enable', -1)" class="radio" name="link_back" value="0"<!-- IF not S_LINK_BACK --> id="link_back" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<!-- IF S_LINK_BACK --><div id="cron_enable" ><!-- ELSE --><div id="cron_enable" style="display: none;" ><!-- ENDIF -->
		<dl>
			<dt><label for="cron_enable">{L_DIR_CRON_ENABLE}:</label><br /><span>{L_DIR_CRON_ENABLE_EXPLAIN}</span></dt>
			<dd><label><input type="radio" onchange="dE('cron_param', 1)" class="radio" name="cron_enable" value="1"<!-- IF S_CRON_ENABLE --> id="cron_enable" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
				<label><input type="radio" onchange="dE('cron_param', -1)" class="radio" name="cron_enable" value="0"<!-- IF not S_CRON_ENABLE --> id="cron_enable" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<!-- IF S_CRON_ENABLE --><div id="cron_enable" ><!-- ELSE --><div id="cron_param" style="display: none;" ><!-- ENDIF -->
		<dl>
			<dt><label for="cron_every">{L_DIR_CRON_EVERY}:</label></dt>
			<dd><input type="text" id="cron_every" name="cron_every" value="{DIR_CRON_EVERY}" maxlength="2" size="2" onkeyup="update_next_check(this.value)" />&nbsp;{L_DAYS}</dd>
		</dl>
		<dl>
			<dt><label for="cron_every">{L_DIR_NEXT_CRON_ACTION}:</label></dt>
			<dd><strong><div id="next_check">{DIR_NEXT_CRON_ACTION}</div></strong></dd>
		</dl>
		<dl>
			<dt><label for="nb_check">{L_DIR_NB_CHECK}:</label><br /><span>{L_DIR_NB_CHECK_EXPLAIN}</span></dt>
			<dd><input type="text" id="nb_check" name="nb_check" value="{DIR_CRON_NB_CHECK}" maxlength="2" size="2" /></dd>
		</dl>
		</div>
		</div>
		</fieldset>

	<fieldset class="submit-buttons">
		<legend>{L_SUBMIT}</legend>
		<input class="button1" type="submit" id="submit" name="update" value="{L_SUBMIT}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		{S_FORM_TOKEN}
	</fieldset>
	</form>

<!-- ELSEIF S_DELETE_DIR_CAT -->

	<a href="{U_BACK}" style="float: {S_CONTENT_FLOW_END};">&laquo; {L_BACK}</a>

	<h1>{L_DIR_CAT_DELETE}</h1>

	<p>{L_DIR_CAT_DELETE_EXPLAIN}</p>

	<!-- IF S_ERROR -->
		<div class="errorbox">
			<h3>{L_WARNING}</h3>
			<p>{ERROR_MSG}</p>
		</div>
	<!-- ENDIF -->

	<form id="acp_forum" method="post" action="{U_ACTION}">

	<fieldset>
		<legend>{L_DIR_CAT_DELETE}</legend>
	<dl>
		<dt><label>{L_DIR_CAT_NAME}:</label></dt>
		<dd><strong>{DIR_CAT_NAME}</strong></dd>
	</dl>
		<dl>
			<dt><label for="delete_action">{L_ACTION}:</label></dt>
			<dd><label><input type="radio" class="radio" id="delete_action" name="action_links" value="delete" checked /> {L_DIR_DELETE_ALL_LINKS}</label></dd>
			<!-- IF S_MOVE_DIR_CAT_OPTIONS -->
				<dd><label><input type="radio" class="radio" name="action_links" value="move" /> {L_DIR_MOVE_LINKS_TO}</label> <select name="links_to_id">{S_MOVE_DIR_CAT_OPTIONS}</select></dd>
			<!-- ENDIF -->
		</dl>
	<!-- IF S_HAS_SUBCATS -->
		<dl>
			<dt><label for="sub_delete_action">{L_ACTION}:</label></dt>
			<dd><label><input type="radio" class="radio" id="sub_delete_action" name="action_subcats" value="delete" checked /> {L_DIR_DELETE_SUBCATS}</label></dd>
			<!-- IF S_CATS_LIST -->
				<dd><label><input type="radio" class="radio" name="action_subcats" value="move" /> {L_DIR_MOVE_SUBCATS_TO}</label> <select name="subcats_to_id">{S_CATS_LIST}</select></dd>
			<!-- ENDIF -->
		</dl>
	<!-- ENDIF -->

	<p class="quick">
		<input class="button1" type="submit" name="update" value="{L_SUBMIT}" />
	</p>
	{S_FORM_TOKEN}
	</fieldset>
	</form>

<!-- ELSEIF S_CONTINUE_SYNC -->

	<script type="text/javascript">
	// <![CDATA[
		var close_waitscreen = 0;
		// no scrollbars...
		popup('{UA_PROGRESS_BAR}', 400, 240, '_sync');
	// ]]>
	</script>

	<h1>{L_DIR_CAT_ADMIN}</h1>

	<p>{L_DIR_CAT_ADMIN_EXPLAIN}</p>

	<p>{L_PROGRESS_EXPLAIN}</p>

<!-- ELSE -->

	<script type="text/javascript">
	// <![CDATA[
		/**
		* Popup search progress bar
		*/
		function popup_progress_bar()
		{
			var close_waitscreen = 0;
			// no scrollbars...
			popup('{UA_PROGRESS_BAR}', 400, 240, '_sync');
		}
	// ]]>
	</script>

	<h1>{L_DIR_CAT_ADMIN}</h1>

	<p>{L_DIR_CAT_ADMIN_EXPLAIN}</p>

	<!-- IF ERROR_MSG -->
		<div class="errorbox">
			<h3>{L_WARNING}</h3>
			<p>{ERROR_MSG}</p>
		</div>
	<!-- ENDIF -->

	<!-- IF S_RESYNCED -->
		<script type="text/javascript">
		// <![CDATA[
			var close_waitscreen = 1;
		// ]]>
		</script>

		<div class="successbox">
			<h3>{L_NOTIFY}</h3>
			<p>{L_DIR_CAT_RESYNCED}</p>
		</div>
	<!-- ENDIF -->

	<p><strong>{NAVIGATION}<!-- IF S_NO_CATS --> [<a href="{U_EDIT}">{L_EDIT}</a> | <a href="{U_DELETE}">{L_DELETE}</a><!-- IF not S_LINK --> | <a href="{U_SYNC}">{L_RESYNC}</a><!-- ENDIF --->]<!-- ENDIF --></strong></p>

	<!-- IF .cats -->
		<table cellspacing="1">
			<col class="row1" /><col class="row1" /><col class="row2" />
		<tbody>
		<!-- BEGIN cats -->
			<tr>
				<td style="width: 5%; text-align: center;">{cats.FOLDER_IMAGE}</td>
				<td>
					<!-- IF cats.CAT_IMAGE --><div style="float: {S_CONTENT_FLOW_BEGIN}; margin-right: 5px;">{cats.CAT_IMAGE}</div><!-- ENDIF -->
					<strong><a href="{cats.U_CAT}">{cats.CAT_NAME}</a></strong>
					<!-- IF cats.CAT_DESCRIPTION --><br /><span>{cats.CAT_DESCRIPTION}</span><!-- ENDIF -->
					<br /><br /><span>{L_DIR_LINKS}: <strong>{cats.CAT_LINKS}</strong></span>
				</td>
				<td style="vertical-align: top; width: 100px; text-align: right; white-space: nowrap;">
					<!-- IF cats.S_FIRST_ROW && not cats.S_LAST_ROW -->
						{ICON_MOVE_UP_DISABLED}
						<a href="{cats.U_MOVE_DOWN}">{ICON_MOVE_DOWN}</a>
					<!-- ELSEIF not cats.S_FIRST_ROW && not cats.S_LAST_ROW-->
						<a href="{cats.U_MOVE_UP}">{ICON_MOVE_UP}</a>
						<a href="{cats.U_MOVE_DOWN}">{ICON_MOVE_DOWN}</a>
					<!-- ELSEIF cats.S_LAST_ROW && not cats.S_FIRST_ROW -->
						<a href="{cats.U_MOVE_UP}">{ICON_MOVE_UP}</a>
						{ICON_MOVE_DOWN_DISABLED}
					<!-- ELSE -->
						{ICON_MOVE_UP_DISABLED}
						{ICON_MOVE_DOWN_DISABLED}
					<!-- ENDIF -->
					<a href="{cats.U_EDIT}">{ICON_EDIT}</a>
						<a href="{cats.U_SYNC}" onclick="popup_progress_bar();">{ICON_SYNC}</a>
					<a href="{cats.U_DELETE}">{ICON_DELETE}</a>
				</td>
			</tr>
		<!-- END cats -->
		</tbody>
		</table>
	<!-- ENDIF -->

	<form id="cselect" method="post" action="{U_SEL_ACTION}">

	<fieldset class="quick">
		{L_DIR_SELECT_CAT}: <select name="parent_id" onchange="if(this.options[this.selectedIndex].value != -1){ this.form.submit(); }">{CAT_BOX}</select>

		<input class="button2" type="submit" value="{L_GO}" />
		{S_FORM_TOKEN}
	</fieldset>
	</form>

	<form id="cats" method="post" action="{U_ACTION}">

	<fieldset class="quick">
		<input type="hidden" name="action" value="add" />

		<input type="text" name="cat_name" value="" maxlength="255" />
		<input class="button2" name="addforum" type="submit" value="{L_DIR_CREATE_CAT}" />
		{S_FORM_TOKEN}
	</fieldset>
	</form>

<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
