<!-- INCLUDE overall_header.html -->
<form id="postform" method="post" action="{S_POST_ACTION}" onsubmit="return checkForm(this);"{S_FORM_ENCTYPE}>
<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th align="center" colspan="4">{L_POST_A}</th>
</tr>
<!-- IF ERROR -->
	<tr>
		<td class="row2" colspan="4" align="center"><span class="genmed error">{ERROR}</span></td>
	</tr>
<!-- ENDIF -->
<tr>
	<td width="20%" class="row1" valign="top">
		<b>{L_DMV_COMMENT}</b><br /><div class="gensmall">{L_DMV_COMMENT_EXPLAIN}</div><br /><br />
		<b>{L_SMILIES}</b><br />
		<!-- BEGIN smiley -->
		<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;" style="line-height: 20px;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" hspace="2" vspace="2" /></a>
		<!-- END smiley -->
		<br />
		<!-- IF U_MORE_SMILIES -->
		<a class="nav" href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
		<!-- ENDIF -->
	</td>
	<td class="row2" colspan="3">
		<script type="text/javascript">
		// <![CDATA[
			var form_name = 'postform';
			var text_name = 'message';
		// ]]>
		</script>
		
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<!-- INCLUDE posting_buttons.html -->
		<tr>
			<td valign="top" style="width: 100%;"><textarea name="message" rows="10" cols="76" tabindex="6" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" style="width: 98%;">{VIDEO_COMMENT}</textarea></td>
			<!-- IF S_BBCODE_ALLOWED -->
			<td width="80" align="center" valign="top">
				<script type="text/javascript">
				// <![CDATA[
					colorPalette('v', 7, 6)
				// ]]>
				</script>
			</td>
			<!-- ENDIF -->
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="row1">
		{BBCODE_STATUS}<br />
		{L_IMAGES_ARE_ON}<br />
		{L_FLASH_IS_ON}<br />
		{L_URL_IS_ON}<br />
		{L_SMILIES_ARE_ON}
	</td>
	<td class="row2" colspan="3">
			<input type="checkbox" name="disable_bbcode" id="disable_bbcode"{S_BBCODE_CHECKED} /> {L_DISABLE_BBCODE}<br />
			<input type="checkbox" name="disable_smilies" id="disable_smilies"{S_SMILIES_CHECKED} /> {L_DISABLE_SMILIES}<br />
			<input type="checkbox" name="disable_magic_url" id="disable_magic_url"{S_MAGIC_URL_CHECKED} /> {L_DISABLE_MAGIC_URL}<br />
	</td>
</tr>
<tr>
	<td class="cat" colspan="4" align="center">
		{S_HIDDEN_FIELDS}
		<input type="hidden" name="video_id" value="{VIDEO_ID}" />
		<input type="submit" accesskey="s" tabindex="8" name="post" value="{L_SUBMIT}" class="btnmain" />
		{S_FORM_TOKEN}
	</td>
</tr>
</table>
</form>
<br />
<!-- INCLUDE overall_footer.html -->