<!-- INCLUDE overall_header.html -->
<form action="{S_POST_ACTION}" method="post" name="postform"{S_FORM_ENCTYPE}>
<input type="hidden" name="cat_id" value="{CAT_ID}" />
<!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE posting_preview.html --><!-- ENDIF -->
<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th align="center" colspan="4">{L_POST_A}</th>
</tr>
<!-- IF ERROR -->
	<tr>
		<td class="row2" colspan="4" align="center"><span class="genmed error">{ERROR}</span></td>
	</tr>
<!-- ENDIF -->
<tr>
	<td valign="top" class="row1" width="50%">
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td valign="top" class="row1" width="30%"><b class="genmed">{L_DMV_TITLE}:</b></td>
				<td class="row1" valign="top"><input type="text" name="video_title" size="35" maxlength="255" tabindex="1" value="{VIDEO_TITLE}" class="post" /></td>
			</tr>
			<tr>
				<td colspan="2" class="row1"><span class="gensmall">{L_DMV_TITLE_EXPLAIN}</span></td>
			</tr>
			<tr>
				<td class="row1" width="30%" valign="top"><b class="genmed">{L_DMV_SINGER}:</b></td>
				<td class="row1" valign="top"><input type="text" name="video_singer" size="35" maxlength="255" tabindex="2" value="{VIDEO_SINGER}" class="post" /></td>
			</tr>
			<tr>
				<td colspan="2" class="row1"><span class="gensmall">{L_DMV_SINGER_EXPLAIN}</span></td>
			</tr>
			<tr>
				<td class="row1" width="30%" valign="top"><b class="genmed">{L_DMV_DURATION}:</b></td>
				<td colspan="3" class="row1" valign="top"><input type="text" name="video_duration" size="45" maxlength="15" tabindex="3" value="{VIDEO_DURATION}" class="post" /></td>
			</tr>
			<tr>
				<td colspan="2" class="row1"><span class="gensmall">{L_DMV_DURATION_EXPLAIN}</span></td>
			</tr>
			<tr>
				<td class="row1" width="30%" valign="top"><b class="genmed">{L_DMV_VIDEO_IMG}:</b></td>
				<td class="row1" valign="top"><input type="text" name="video_image" size="35" maxlength="255" tabindex="4" value="{VIDEO_IMAGE}" class="post" /></td>
			</tr>
			<tr>
				<td colspan="2" class="row1"><span class="gensmall">{L_DMV_VIDEO_IMG_EXPLAIN}</span></td>
			</tr>
		</table>
	</td>
	<td valign="top" class="row1" width="50%">
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td class="row1" width="30%" valign="top"><b class="genmed">{L_DMV_URL}:</b></td>
				<td class="row1" valign="top"><textarea rows="8" cols="35" tabindex="5" name="video_url" class="post">{VIDEO_URL}</textarea></td>
			</tr>
			<tr>
				<td colspan="2" class="row1"> <span class="gensmall">{L_DMV_URL_EXPLAIN}</span></td>
			</tr>
		</table>
	</td>
</tr>
</table>
<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<td width="20%" class="row1" valign="top">
		<b>{L_DMV_SONGTEXT}</b><br /><div class="gensmall">{L_DMV_SONGTEXT_EXPLAIN}</div><br /><br />
		<b>{L_SMILIES}</b><br />
		<!-- BEGIN smiley -->
		<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;" style="line-height: 20px;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" hspace="2" vspace="2" /></a>
		<!-- END smiley -->
		<br />
		<!-- IF U_MORE_SMILIES -->
		<a class="nav" href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
		<!-- ENDIF -->
	</td>
	<td class="row2" colspan="3">
		<script type="text/javascript">
		// <![CDATA[
			var form_name = 'postform';
			var text_name = 'message';
		// ]]>
		</script>
		
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<!-- INCLUDE posting_buttons.html -->
		<tr>
			<td valign="top" style="width: 100%;"><textarea name="message" rows="10" cols="76" tabindex="6" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" style="width: 98%;">{VIDEO_SONGTEXT}</textarea></td>
			<!-- IF S_BBCODE_ALLOWED -->
			<td width="80" align="center" valign="top">
				<script type="text/javascript">
				// <![CDATA[
					colorPalette('v', 7, 6)
				// ]]>
				</script>
			</td>
			<!-- ENDIF -->
		</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="row1">
		{BBCODE_STATUS}<br />
		{L_IMAGES_ARE_ON}<br />
		{L_FLASH_IS_ON}<br />
		{L_URL_IS_ON}<br />
		{L_SMILIES_ARE_ON}
	</td>
	<td class="row2" colspan="3">
			<input type="checkbox" name="disable_bbcode" id="disable_bbcode"{S_BBCODE_CHECKED} /> {L_DISABLE_BBCODE}<br />
			<input type="checkbox" name="disable_smilies" id="disable_smilies"{S_SMILIES_CHECKED} /> {L_DISABLE_SMILIES}<br />
			<input type="checkbox" name="disable_magic_url" id="disable_magic_url"{S_MAGIC_URL_CHECKED} /> {L_DISABLE_MAGIC_URL}<br />
	</td>
</tr>
<tr>
	<td class="cat" colspan="4" align="center">
		{S_HIDDEN_FIELDS}
		{S_FORM_TOKEN}
		<input type="submit" accesskey="s" tabindex="8" name="post" value="{L_SUBMIT}" class="btnmain" />
	</td>
</tr>
</table>



{S_FORM_TOKEN}
</form>
<br />
<!-- INCLUDE overall_footer.html -->