<!-- INCLUDE overall_header.html -->
<h2>{L_INFORMATION}</h2>
<br />
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<td class="row3" align="center">
			<br /><br />
			<strong>{REPORT_THANKS}</strong>
			<br /><br />
			<a href="{U_BACK_CAT}">{L_DMV_BACK_LINK2}</a>
			<br /><br />
		</td>
	</tr>
</table>
<br />
<br />
<!-- INCLUDE dm_video/video_footer.html -->