<br />
<center>
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<td class="row4">
			{DMV_COPY_NOTE}
			<br />
		</td>
	</tr>
</table>
<br /><br />
<div class="copyright">{L_DMV_COPYRIGHT}<br /><br /></div>
</center>
<br />
<!-- INCLUDE overall_footer.html -->