<!-- INCLUDE overall_header.html -->

<script type="text/javascript">
// <![CDATA[
// Thanks to HoF for writing these wonderful Javascript functions :)

var target_fragment = '';

function highlight_load()
{
    frag_highlight(location.hash.substring(1));
}

function frag_highlight(frag)
{
	var fragment = document.getElementById(frag);

    if (target_fragment.length > 0 && document.getElementById(target_fragment))
    {
		document.getElementById(target_fragment).className = 'divide';
    }

    if (frag.length > 0 && fragment)
    {
		target_fragment = frag;
		fragment.className = 'fragment divide';
    }
}

function onclick_highlight()
{
    if (document.getElementsByTagName)
    {
		var alinks = document.getElementById('rules').getElementsByTagName('a');
		for (i = 0; i < alinks.length; i++)
		{
			if (alinks[i].getAttribute('href').indexOf('#') >= 0)
			{
				var fragment = alinks[i].getAttribute('href').substring(alinks[i].getAttribute('href').indexOf('#') + 1);

				var e_onclick_function = "frag_highlight('" + fragment + "')";
				var new_function = new Function('e', e_onclick_function);
				alinks[i].onclick = new_function;
			}
		}
    }
}

window.onload = function() {
    highlight_load();
    onclick_highlight();
};
// ]]>
</script>

<div id="extras">
	<div class="mini-panel">
		<div class="inner"><span class="corners-top"><span></span></span>
			<h3>{L_RULES_SECTIONS}</h3>
			<ul class="menu">
				<!-- BEGIN rules -->
					<!-- IF rules.CAN_SEE_CAT -->
					<li<!-- IF rules.S_LAST_ROW or rules.S_ROW_COUNT eq S_PUBLIC_CATS --> class="last"<!-- ENDIF -->><a href="#rule{rules.ROW_COUNT}">{rules.RULE_CATEGORY}</a></li>
                    <!-- ELSEIF not rules.CAN_SEE_CAT and rules.S_ROW_COUNT eq 1 and rules.S_FIRST_ROW -->
                    	<li class="last">{L_NO_CATS}</li>
					<!-- ENDIF -->
                <!-- BEGINELSE -->
                    <li class="last">{L_NO_CATS}</li>
				<!-- END rules -->
			</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
</div>

<div id="container">
	<h2 class="imgrep">{L_BOARD_RULES}</h2>
	<p class="rules_explain">{L_BOARD_RULES_EXPLAIN}</p>
    
    <div id="main">   
		<ol id="rules">
			<!-- BEGIN rules -->
				<!-- IF rules.CAN_SEE_CAT -->
                <li id="rule{rules.ROW_COUNT}"<!-- IF not rules.S_LAST_ROW --> class="bottom"<!-- ENDIF -->>
                    <h3>{rules.RULE_CATEGORY}</h3>
                    <ol>
                        <!-- BEGIN rule -->
                            <li class="divide" id="rule{rules.ROW_COUNT}{rules.rule.ALPHA_COUNT}">
                                {rules.rule.RULE_DESC} <a class="permalink" href="#rule{rules.ROW_COUNT}{rules.rule.ALPHA_COUNT}" title="{L_RULES_HIGHLIGHT} rule# {rules.ROW_COUNT}{rules.rule.ALPHA_COUNT}">#</a>
                            </li>
                        <!-- END rule -->
                    </ol>
                </li>
                <!-- ENDIF -->
            <!-- END rules -->
        </ol>
    </div>
</div>
<br />
<div id="rules-footer">
	<a href="#top" class="top2">{L_RULES_BACK_TO_TOP}</a>
	&laquo; <a href="javascript:frag_highlight('');">{L_RULES_CLEAR_HIGHLIGHT}</a>
</div>
<!-- INCLUDE overall_footer.html -->
