/* SAFE GT ADDON BY Soshen 2011 <nipponart.org>
---------------------------------------- */
ul.safegt-icons
{
list-style: none;
padding: 0px;
margin: 35px 0 0 0;
}

ul.safegt-icons li {
    display: block;
	height: 15px;
	margin: 2px 0 0 0;
}

ul.safegt-icons li a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0;
}

ul.safegt-icons li span { display:none; }
ul.safegt-icons li a:hover { background: none; }

li.xboxgt-icon
{
background-image: url("{T_THEME_PATH}/safegt/icon_xbox.gif");
background-repeat: no-repeat;
background-position: 0 50%;
padding-left: 16px;
}

li.psngt-icon
{
background-image: url("{T_THEME_PATH}/safegt/icon_psn.gif");
background-repeat: no-repeat;
background-position: 0 50%;
padding-left: 16px;
}

li.wiigt-icon
{
background-image: url("{T_THEME_PATH}/safegt/icon_wii.gif");
background-repeat: no-repeat;
background-position: 0 50%;
padding-left: 16px;
}

li.steamgt-icon
{
background-image: url("{T_THEME_PATH}/safegt/icon_steam.gif");
background-repeat: no-repeat;
background-position: 0 50%;
padding-left: 16px;
}

li.xfiregt-icon
{
background-image: url("{T_THEME_PATH}/safegt/icon_xfire.gif");
background-repeat: no-repeat;
background-position: 0 50%;
padding-left: 16px;
}

li.origin-icon
{
background-image: url("{T_THEME_PATH}/safegt/icon_origin.gif");
background-repeat: no-repeat;
background-position: 0 50%;
padding-left: 16px;
}