/* CSS Document */
#profileCanvas {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

#altitudeCanvas {
	width: 633px;
	height: 262px;
	background-color: #fff;
}

#lastKmsCanvas {
	background-color: #fff;
}

#canvas-wrap { 
	position: relative;
	height: 100%;
}

#navigation-bar {
	position: absolute; 
	width: 1px; 
	border: 0px solid white; 
	top: 0; 
	left: 0;
	height: 0;
}

#trackdescription {
	width: 100%; 
	height: 100%;
	padding: 0; 
	top: 0; 
	left: 0;
}

#mapbar {
	color: #000000;
}

#mapbar a:visited {
	color: #000000;
}

#mapbar a:link {
	color: #000000;
}

.icon-map, .icon-newmap, .icon-mymaps,
.icon-allmaps, .icon-mytours, .icon-alltours, .icon-viewmap, .icon-editmap, .icon-copymap, .icon-deletemap, .icon-public, .icon-private, .icon-tourstages, .icon-properties {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: none;
	padding: 1px 0 0 17px;
}

.rtl .icon-map, .rtl .icon-newmap, .rtl .icon-mymaps,
.rtl .icon-allmaps, .rtl .icon-mytours, .rtl .icon-alltours, .rtl .icon-viewmap, .rtl .icon-copymap, .rtl .icon-editmap, .rtl .icon-deletemap, .rtl .icon-public, .rtl .icon-private, .rtl .icon-tourstages, .rtl .icon-properties {
	background-position: 100% 50%;
	padding: 1px 17px 0 0;
}

/* Map editor */
.icon-map						{ background-image: url("{T_THEME_PATH}/images/icon_map.gif"); }
.icon-newmap						{ background-image: url("{T_THEME_PATH}/images/icon_newmap.gif"); }
.icon-mymaps						{ background-image: url("{T_THEME_PATH}/images/icon_mymaps.gif"); }
.icon-allmaps						{ background-image: url("{T_THEME_PATH}/images/icon_allmaps.gif"); }
.icon-mytours						{ background-image: url("{T_THEME_PATH}/images/icon_mytours.gif"); }
.icon-alltours						{ background-image: url("{T_THEME_PATH}/images/icon_alltours.gif"); }
.icon-viewmap					{ background-image: url("{T_THEME_PATH}/images/icon_viewmap.gif"); }
.icon-editmap					{ background-image: url("{T_THEME_PATH}/images/icon_editmap.gif"); }
.icon-copymap					{ background-image: url("{T_THEME_PATH}/images/icon_copymap.gif"); }
.icon-deletemap					{ background-image: url("{T_THEME_PATH}/images/icon_deletemap.gif"); }
.icon-public				{ background-image: url("{T_THEME_PATH}/images/icon_public.gif"); }
.icon-private				{ background-image: url("{T_THEME_PATH}/images/icon_private.gif"); }
.icon-tourstages				{ background-image: url("{T_THEME_PATH}/images/icon_tourstages.gif"); }
.icon-properties				{ background-image: url("{T_THEME_PATH}/images/icon_prop.gif"); }



