/* CSS Document */
.finishlabels {
	text-align:center;
	font-size:20px;
	font-weight: bold;
	font-family: Arial;
	text-transform: uppercase;
	color: white;
	background: black;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
}

.finishminilabels {
	text-align:center;
	font-size:12px;
	font-weight: bold;
	font-family: Arial;
	text-transform: uppercase;
	color: white;
	background: black;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
}


.sprintlabels {
	text-align:center;
	font-size:10px;
	font-weight: bold;
	font-family: Arial;
	color: white;
	background: #349938;
	border: 2px solid #fff;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
}

.climblabels {
	text-align:center;
	font-size:10px;
	font-weight: bold;
	font-family: Arial;
	color: white;
	background: #dc142e;
	border: 2px solid #fff;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
}

.intermediatelabels {
	text-align:center;
	font-size:10px;
	font-weight: bold;
	font-family: Arial;
	color: white;
	background: #48529e;
	border: 2px solid #fff;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
}

.restlabels {
	text-align:center;
	font-size:10px;
	font-weight: bold;
	font-family: Arial;
	color: white;
	background: #48529e;
	border: 2px solid #fff;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
}

.cobblelabels {
	text-align:center;
	font-size:10px;
	font-weight: bold;
	font-family: Arial;
	color: white;
	background: #939193;
	border: 2px solid #fff;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
}
