<div class="tb_style1" align="center">
	<textarea id="tb_post2" style="width:90%;height:{TB_TEXTAREA}px">{TB_POST2}</textarea>
	<br /><br />
	<input type="button" onclick="tb_edit_submit({TB_ID}, {TB_POST_TIME})" value=" {L_CHANGE} " class="button1" /> &nbsp; <input type="button" onclick="tb_read()" value=" {L_CANCEL} " class="button2" />
</div>