<!-- IF TB_ERROR -->
	<div class="tb_style1" align="center"><span style="color:red">{TB_ERROR}</span></div>
<!-- ENDIF -->

<!-- BEGIN tagrow -->
	<div class="<!-- IF tagrow.S_ROW_COUNT is even -->tb_style1<!-- ELSE -->tb_style2<!-- ENDIF -->">
		<!-- IF (tagrow.TB_QUOTE_TEXT or tagrow.TB_POST_EDIT or tagrow.TB_POST_DELETE) and not S_IS_BOT -->
			<span style="float:right">
				<!-- IF tagrow.TB_QUOTE_TEXT -->
					<img src="{T_THEME_PATH}/images/icon_tb_quote.gif" class="tb_pointer" onclick="insert_quote('{tagrow.TB_QUOTE_USER}','{tagrow.TB_QUOTE_TEXT}')" align="middle" border="0" alt="{L_REPLY_WITH_QUOTE}" title="{L_REPLY_WITH_QUOTE}" />
				<!-- ENDIF -->
				<!-- IF tagrow.TB_POST_EDIT -->
					<img src="{T_THEME_PATH}/images/icon_tb_edit.gif" class="tb_pointer" onclick="tb_edit({tagrow.TB_ID})" align="middle" border="0" alt="{L_EDIT_POST}" title="{L_EDIT_POST}" />
				<!-- ENDIF -->
				<!-- IF tagrow.TB_POST_DELETE -->
					<img src="{T_THEME_PATH}/images/icon_tb_delete.gif" class="tb_pointer" onclick="if(window.confirm('{L_CONFIRM_OPERATION}')) tb_delete({tagrow.TB_ID})" align="middle" border="0" alt="{L_DELETE_POST}" title="{L_DELETE_POST}" />
				<!-- ENDIF -->
			</span>
		<!-- ENDIF -->
		<!-- IF not tagrow.TB_IS_READ -->
			<img src="{T_THEME_PATH}/images/icon_tb_unread.gif" align="middle" border="0" alt="{L_UNREAD_MESSAGES}" title="{L_UNREAD_MESSAGES}" />
		<!-- ENDIF -->
		<span class="tb_post_time">{tagrow.TB_POST_TIME}</span>
		<br />
		<!-- IF tagrow.TB_USER_STATUS == 'offline' --><img src="{T_THEME_PATH}/images/icon_tb_offline.gif" align="bottom" border="0" alt="{L_TB_OFFLINE}" title="{L_TB_OFFLINE}" /><!-- ENDIF -->
		<!-- IF tagrow.TB_USER_STATUS == 'inactive' --><img src="{T_THEME_PATH}/images/icon_tb_inactive.gif" align="bottom" border="0" alt="{L_TB_INACTIVE}" title="{L_TB_INACTIVE}" /><!-- ENDIF -->
		<!-- IF tagrow.TB_USER_STATUS == 'online' --><img src="{T_THEME_PATH}/images/icon_tb_online.gif" align="bottom" border="0" alt="{L_TB_ONLINE}" title="{L_TB_ONLINE}" /><!-- ENDIF -->
		<!-- IF tagrow.TB_USER_STATUS == 'guest' --><img src="{T_THEME_PATH}/images/icon_tb_guest.gif" align="bottom" border="0" alt="{L_TB_GUESTNAME}" title="{L_TB_GUESTNAME}" /><!-- ENDIF -->
		<!-- IF tagrow.TB_USER_PROFILE -->
			<a href="{tagrow.TB_USER_PROFILE}"<!-- IF tagrow.TB_USER_COLOUR --> style="color:{tagrow.TB_USER_COLOUR}"<!-- ENDIF -->><strong><span class="tb_post_username">{tagrow.TB_POST_USERNAME}</span></strong></a>
		<!-- ELSE -->
			<strong><span class="tb_post_username">{tagrow.TB_POST_USERNAME}</span></strong>
		<!-- ENDIF -->
		&raquo;
	<span class="tb_post_text">{tagrow.TB_POST_TEXT}</span>
	</div>
<!-- END tagrow -->

<!-- IF TB_MORE -->
<div class="tb_style1" align="center">
	<a href="javascript:tb_read_more({TB_MORE})"><img src="{ROOT_PATH}adm/images/icon_down_disabled.gif" alt="" /></a>
</div>
<!-- ENDIF -->

<!-- IF TB_UNREAD -->
	<embed src="{T_THEME_PATH}/images/tb_add.swf" width="0" height="0" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"></embed>
<!-- ENDIF -->

{S_FORM_TOKEN}