<!-- IF not S_IS_BOT -->
<script type="text/javascript">
//<![CDATA[
refresh = 0;
document.cookie = 'tb_audio=1';
function tb_xmlhttp()
{
	if(window.XMLHttpRequest)
	{
		return new XMLHttpRequest();
	}
	else if(window.ActiveXObject)
	{
		return new ActiveXObject('Microsoft.XMLHTTP');
	}
	else
	{
		return false;
	}
}
function tb_read()
{
	read_ajax = tb_xmlhttp();
	if(read_ajax)
	{
		read_container = 'tag_board';
		read_mode = '&audio='+document.getElementById('tb_audio').value;
		read_ajax.open('POST', '{TB_URL}', true);
		read_ajax.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		read_ajax.setRequestHeader('Content-length', read_mode.length);
		read_ajax.onreadystatechange = function()
		{
			if(read_ajax.readyState == 4)
			{
				if(read_ajax.status == 200)
				{
					read_results = read_ajax.responseText;
					document.getElementById(read_container).innerHTML = read_results;
				}
				document.getElementById('tb_update').innerHTML = '<img src="{T_THEME_PATH}/images/icon_tb_refresh.gif" border="0" alt="{LA_UPDATE}" title="{LA_UPDATE}" class="tb_pointer" onclick="tb_read()" />';
				<!-- IF TB_REFRESH -->
					if(refresh) clearTimeout(refresh);
					refresh = setTimeout('tb_read()', {TB_REFRESH});
				<!-- ENDIF -->
			}
		}
		document.getElementById('tb_update').innerHTML = '<img src="{T_THEME_PATH}/images/icon_tb_waiting.gif" border="0" alt="" />';
		read_ajax.send(read_mode);
	}
	else
	{
		document.getElementById(read_container).innerHTML = '<div class="tb_style1" align="center"><span style="color:red">{LA_GENERAL_ERROR}</span></div>';
	}
}
function tb_read_more(start)
{
	read_more_ajax = tb_xmlhttp();
	if(read_more_ajax)
	{
		read_more_container = 'tag_board';
		read_more_mode = '&start='+start+'&audio='+document.getElementById('tb_audio').value;
		read_more_ajax.open('POST', '{TB_URL}', true);
		read_more_ajax.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		read_more_ajax.setRequestHeader('Content-length', read_more_mode.length);
		read_more_ajax.onreadystatechange = function()
		{
			if(read_more_ajax.readyState == 4)
			{
				if(read_more_ajax.status == 200)
				{
					read_more_results = read_more_ajax.responseText;
					document.getElementById(read_more_container).innerHTML = read_more_results;
				}
				document.getElementById('tb_update').innerHTML = '<img src="{T_THEME_PATH}/images/icon_tb_refresh.gif" border="0" alt="{LA_UPDATE}" title="{LA_UPDATE}" class="tb_pointer" onclick="tb_read()" />';
			}
		}
		document.getElementById('tb_update').innerHTML = '<img src="{T_THEME_PATH}/images/icon_tb_waiting.gif" border="0" alt="" />';
		<!-- IF TB_REFRESH -->if(refresh) clearTimeout(refresh);<!-- ENDIF -->
		read_more_ajax.send(read_more_mode);
	}
}
function tb_write()
{
	write_ajax = tb_xmlhttp();
	input = document.getElementById('tb_post');
	tb_post = encodeURIComponent(input.value);
	if(write_ajax && tb_post)
	{
		write_container = 'tag_board';
		form_token = document.getElementById('tb_form').form_token.value;
		creation_time = document.getElementById('tb_form').creation_time.value;
		write_mode = '&mode=write&audio='+document.getElementById('tb_audio').value+'&form_token='+form_token+'&creation_time='+creation_time+'&tb_post='+tb_post;
		write_ajax.open('POST', '{TB_URL}', true);
		write_ajax.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		write_ajax.setRequestHeader('Content-length', write_mode.length);
		write_ajax.onreadystatechange = function()
		{
			if(write_ajax.readyState == 4)
			{
				if(write_ajax.status == 200)
				{
					write_results = write_ajax.responseText;
					document.getElementById(write_container).innerHTML = write_results;
					input.value = '';
					input.focus();
					<!-- IF TB_REFRESH -->
						if(refresh) clearTimeout(refresh);
						refresh = setTimeout('tb_read()', {TB_REFRESH});
					<!-- ENDIF -->
				}
			}
		}
		write_ajax.send(write_mode);
	}
}
function tb_edit(id)
{
	edit_ajax = tb_xmlhttp();
	if(id && edit_ajax)
	{
		edit_container = 'tag_board';
		edit_mode = '&mode=edit&id='+id;
		edit_ajax.open('POST', '{TB_URL}', true);
		edit_ajax.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		edit_ajax.setRequestHeader('Content-length', edit_mode.length);
		edit_ajax.onreadystatechange = function()
		{
			if(edit_ajax.readyState == 4)
			{
				if(edit_ajax.status == 200)
				{
					edit_results = edit_ajax.responseText;
					document.getElementById(edit_container).innerHTML = edit_results;
				}
			}
		}
		<!-- IF TB_REFRESH -->if(refresh) clearTimeout(refresh);<!-- ENDIF -->
		edit_ajax.send(edit_mode);
	}
}
function tb_edit_submit(id, post_time)
{
	edit_submit_ajax = tb_xmlhttp();
	var tb_post2 = encodeURIComponent(document.getElementById('tb_post2').value);
	if(id && post_time && edit_submit_ajax && tb_post2)
	{
		edit_submit_container = 'tag_board';
		edit_submit_mode = '&mode=edit_submit&id='+id+'&tb_post_time='+post_time+'&tb_post2='+tb_post2;
		edit_submit_ajax.open('POST', '{TB_URL}', true);
		edit_submit_ajax.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		edit_submit_ajax.setRequestHeader('Content-length', edit_submit_mode.length);
		edit_submit_ajax.onreadystatechange = function()
		{
			if(edit_submit_ajax.readyState == 4)
			{
				if(edit_submit_ajax.status == 200)
				{
					edit_submit_results = edit_submit_ajax.responseText;
					document.getElementById(edit_submit_container).innerHTML = edit_submit_results;
					<!-- IF TB_REFRESH -->
						if(refresh) clearTimeout(refresh);
						refresh = setTimeout('tb_read()', {TB_REFRESH});
					<!-- ENDIF -->
				}
			}
		}
		edit_submit_ajax.send(edit_submit_mode);
	}
}
function tb_delete(id)
{
	delete_ajax = tb_xmlhttp();
	if(id && delete_ajax)
	{
		delete_container = 'tag_board';
		delete_mode = '&mode=delete&id='+id;
		delete_ajax.open('POST', '{TB_URL}', true);
		delete_ajax.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		delete_ajax.setRequestHeader('Content-length', delete_mode.length);
		delete_ajax.onreadystatechange = function()
		{
			if(delete_ajax.readyState == 4)
			{
				if(delete_ajax.status == 200)
				{
					delete_results = delete_ajax.responseText;
					document.getElementById(delete_container).innerHTML = delete_results;
					<!-- IF TB_REFRESH -->
						if(refresh) clearTimeout(refresh);
						refresh = setTimeout('tb_read()', {TB_REFRESH});
					<!-- ENDIF -->
				}
			}
		}
		delete_ajax.send(delete_mode);
	}
}
function getCookie(name)
{ 
   var start = document.cookie.indexOf(name+"="); 
   var len = start+name.length+1; 
   if ((!start) && (name != document.cookie.substring(0,name.length))) return(null); 
   if (start == -1) return(null); 
   var end = document.cookie.indexOf(";",len); 
   if (end == -1) end = document.cookie.length; 
   return(unescape(document.cookie.substring(len,end)) ); 
}
function getAudio()
{
	document.getElementById('tb_audio').value = (getCookie('tb_audio') == 1) ? 1 : 0;
	document.getElementById('icon_tb_audio').src = (getCookie('tb_audio') == 1) ? '{T_THEME_PATH}/images/icon_tb_audio.gif' : '{T_THEME_PATH}/images/icon_tb_no_audio.gif';
}
function tb_audio()
{
	audio = document.getElementById('tb_audio');
	img = document.getElementById('icon_tb_audio');
	audio.value = (audio.value == 1) ? 0 : 1;
	img.src = (audio.value == 1) ? '{T_THEME_PATH}/images/icon_tb_audio.gif' : '{T_THEME_PATH}/images/icon_tb_no_audio.gif';
	document.cookie = 'tb_audio=' + audio.value;
}
function tb_dE(n)
{
	e = document.getElementById(n);
	s = (e.style.display == '' || e.style.display == 'block') ? 0 : 1;
	e.style.display = (s == 1) ? 'block' : 'none';
	return s;
}
function tb_smilies()
{
	smilies_ajax = tb_xmlhttp();
	smilies_container = 'div_smilies';
	if(smilies_ajax && tb_dE(smilies_container))
	{
		smilies_mode = '&mode=smilies';
		smilies_ajax.open('POST', '{TB_URL}', true);
		smilies_ajax.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		smilies_ajax.setRequestHeader('Content-length', smilies_mode.length);
		smilies_ajax.onreadystatechange = function()
		{
			if(smilies_ajax.readyState == 4)
			{
				if(smilies_ajax.status == 200)
				{
					smilies_results = smilies_ajax.responseText;
					document.getElementById(smilies_container).innerHTML = smilies_results;
				}
			}
		}
		smilies_ajax.send(smilies_mode);
	}
}
function tb_smilies_all()
{
	smilies_all_ajax = tb_xmlhttp();
	if(smilies_all_ajax)
	{
		smilies_all_container = 'div_smilies';
		smilies_all_mode = '&mode=smilies&view=all';
		smilies_all_ajax.open('POST', '{TB_URL}', true);
		smilies_all_ajax.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		smilies_all_ajax.setRequestHeader('Content-length', smilies_all_mode.length);
		smilies_all_ajax.onreadystatechange = function()
		{
			if(smilies_all_ajax.readyState == 4)
			{
				if(smilies_all_ajax.status == 200)
				{
					smilies_all_results = smilies_all_ajax.responseText;
					document.getElementById(smilies_all_container).innerHTML = smilies_all_results;
				}
			}
		}
		smilies_all_ajax.send(smilies_all_mode);
	}
}
function tb_palette()
{
	palette_ajax = tb_xmlhttp();
	palette_container = 'div_palette';
	if(palette_ajax && tb_dE(palette_container))
	{
		palette_mode = '&mode=palette';
		palette_ajax.open('POST', '{TB_URL}', true);
		palette_ajax.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		palette_ajax.setRequestHeader('Content-length', palette_mode.length);
		palette_ajax.onreadystatechange = function()
		{
			if(palette_ajax.readyState == 4)
			{
				if(palette_ajax.status == 200)
				{
					palette_results = palette_ajax.responseText;
					document.getElementById(palette_container).innerHTML = palette_results;
				}
			}
		}
		palette_ajax.send(palette_mode);
	}
}
function tb_bbcode()
{
	bbcode_ajax = tb_xmlhttp();
	bbcode_container = 'div_bbcodes';
	if(bbcode_ajax && tb_dE(bbcode_container))
	{
		bbcode_mode = '&mode=bbcode';
		bbcode_ajax.open('POST', '{TB_URL}', true);
		bbcode_ajax.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
		bbcode_ajax.setRequestHeader('Content-length', bbcode_mode.length);
		bbcode_ajax.onreadystatechange = function()
		{
			if(bbcode_ajax.readyState == 4)
			{
				if(bbcode_ajax.status == 200)
				{
					bbcode_results = bbcode_ajax.responseText;
					document.getElementById(bbcode_container).innerHTML = bbcode_results;
				}
			}
		}
		bbcode_ajax.send(bbcode_mode);
	}
}
function insert_smilies(code)
{
	document.getElementById('tb_post').value += ' ' + code + ' ';
	document.getElementById('tb_post').value.focus();
}
function insert_quote(user,text)
{
	var quote = decodeURIComponent(text.replace(/\+/g, " "));
	quote = quote.replace(/&lt;/g, "<");
	quote = quote.replace(/&gt;/g, ">");
	quote = quote.replace(/&#58;/g, ':');
	quote = quote.replace(/&#46;/g, '.');
	quote = quote.replace(/&amp;/g, '&');
	quote = quote.replace(/&quot;/g, '"');
	var username = decodeURIComponent(user.replace(/\+/g, " "));
	username = username.replace(/&lt;/g, "<");
	username = username.replace(/&gt;/g, ">");
	username = username.replace(/&#58;/g, ':');
	username = username.replace(/&#46;/g, '.');
	username = username.replace(/&amp;/g, '&');
	username = username.replace(/&quot;/g, '"');
	document.getElementById('tb_post').value += '[quote="' + username + '"]' + quote + '[/quote]';
	document.getElementById('tb_post').focus();
}
function insert_bbcode(startTag,endTag)
{
	document.getElementById('tb_post').focus();
	if(typeof document.selection != 'undefined')
	{
		var range = document.selection.createRange();
		var insText = range.text;
		range.text = startTag + insText + endTag;
		range = document.selection.createRange();
		if(insText.length == 0)
		{
			range.move('character', -endTag.length);
		}
		else
		{
			range.moveStart('character', startTag.length + insText.length + endTag.length);			
		}
		range.select();
	}
	else if(typeof document.getElementById('tb_post').selectionStart != 'undefined')
	{
		var start = document.getElementById('tb_post').selectionStart;
		var end = document.getElementById('tb_post').selectionEnd;
		var insText = document.getElementById('tb_post').value.substring(start,end);
		document.getElementById('tb_post').value = document.getElementById('tb_post').value.substr(0,start)
			+ startTag
			+ insText
			+ endTag
			+ document.getElementById('tb_post').value.substr(end);
		var pos;
		if(insText.length == 0)
		{
			pos = start + startTag.length;
		}
		else
		{
			pos = start + startTag.length + insText.length + endTag.length;
		}
		document.getElementById('tb_post').selectionStart = pos;
		document.getElementById('tb_post').selectionEnd = pos;
	}
	else
	{
		var pos = document.getElementById('tb_post').value.length;
		document.getElementById('tb_post').value = document.getElementById('tb_post').value.substr(0,pos)
			+ startTag
			+ endTag
			+ document.getElementById('tb_post').value.substr(pos);
	}	
}
//]]>
</script>
<div style="border:#A9B8C2 1px solid;margin-bottom:10px;background-color:#ECECEC">
	<table cellspacing="0" width="100%">
		<tr>
	<!-- IF not TB_GROUPS or TB_DENIED or (TB_AUTH == 'LIMITED' and not S_USER_LOGGED_IN) -->
			<th><span style="color:red">{L_NOT_AUTHORISED}</span></th>
	<!-- ELSE -->
			<th align="left">&nbsp;<a href="http://www.blogantropo.it"><img src="{ROOT_PATH}adm/images/icon_edit_disabled.gif" border="0" alt="www.blogantropo.it" /></a>&nbsp;<img id="icon_tb_audio" class="tb_pointer" onclick="tb_audio()" border="0" alt="" /></th>
			<th align="right"><span id="tb_update"></span>&nbsp;</th>
		</tr>
	</table>
	<form id="tb_form" method="post" action="" onsubmit="tb_write();return false;">
	<input type="hidden" id="tb_audio" />
	<script>getAudio()</script>
	<!-- IF TB_AUTH == 'FULL' or S_USER_LOGGED_IN -->
			<table cellspacing="0" width="100%">
				<tr>
					<td colspan="2">
						<div id="div_palette" style="display:none" align="center"></div>
						<div id="div_smilies" style="display:none" align="center"></div>
						<div id="div_bbcodes" style="display:none" align="center"></div>
					</td>
				</tr>
				<tr>
					<td width="100%"><input id="tb_post" class="inputbox" style="width:99%;height:15px" maxlength="{TB_MAXLENGTH}" /></td>
					<td align="right" nowrap="nowrap">
						<!-- IF TB_BUTTONS -->
							<!-- IF TB_BBCODE -->
								<input type="button" class="button2" value="B" style="cursor:pointer;font-weight:bold;width:25px" onclick="insert_bbcode('[b]','[/b]')" title="Ex: [b]text[/b]" />
								<input type="button" class="button2" value="i" style="cursor:pointer;font-style:italic;width:25px" onclick="insert_bbcode('[i]','[/i]')" title="Ex: [i]text[/i]" />
								<input type="button" class="button2" value="u" style="cursor:pointer;text-decoration:underline;width:25px" onclick="insert_bbcode('[u]','[/u]')" title="Ex: [u]text[/u]" />
								<input type="button" class="button2" value="Code" style="cursor:pointer" onclick="insert_bbcode('[code]','[/code]')" title="Ex: [code]text[/code]" />
								<!-- IF TB_IMG -->
									<input type="button" class="button2" value="Img" style="cursor:pointer" onclick="insert_bbcode('[img]','[/img]')" title="Ex: [img]url[/img]" />
								<!-- ENDIF -->
								<input type="button" class="button2" value="URL" style="cursor:pointer;text-decoration:underline;" onclick="insert_bbcode('[url]','[/url]')" title="Ex: [url]url[/url]" />
								<!-- IF TB_FLASH -->
									<input type="button" class="button2" value="Flash" style="cursor:pointer" onclick="insert_bbcode('[flash]','[/flash]')" title="Ex: [flash]url[/flash]" />
								<!-- ENDIF -->
								<input type="button" class="button2" value="Color" style="cursor:pointer" onclick="tb_palette()" title="Ex: [color=#000000]text[/color]" />
							<!-- ENDIF -->
							<!-- IF TB_SMILIES -->
								<input type="button" class="button2" value="Smilies" style="cursor:pointer" onclick="tb_smilies()" title="Smilies" />
							<!-- ENDIF -->
							<!-- IF TB_BBCODE and TB_CUSTOM -->
								<input type="button" class="button2" style="cursor:pointer;width:115px" value="Custom BBCodes" onclick="tb_bbcode()" title="Custom BBCodes" />
							<!-- ENDIF -->
							<!-- IF TB_BBCODE and TB_FONT -->
								<select onchange="insert_bbcode('[size='+this.options[this.selectedIndex].value+']','[/size]')" title="{L_CHANGE_FONT_SIZE}">
									<option value="85">-1</option>
									<option value="100" selected="selected">1</option>
									<option value="150">+1</option>
									<option value="200">+2</option>
								</select>
							<!-- ENDIF -->
							&nbsp;
						<!-- ENDIF -->
						<input type="submit" value="{L_SUBMIT}" class="button1" style="cursor:pointer;font-weight:bold" />
					</td>
				</tr>
			</table>
		<!-- ENDIF -->
			<table cellspacing="0" width="100%">
				<tr>
					<td><div id="tag_board" style="height:{TB_HEIGTH}px;overflow:auto"><script type="text/javascript">tb_read();</script></div></td>
	<!-- ENDIF -->
				</tr>
			</table>
	</form>
</div>
<!-- ENDIF -->