
/* =Icon font
-------------------------------------------------------------- */

@font-face {
	font-family: 'Genericons';
	src: url('../fonts/genericons/genericons-regular-webfont.eot');
	src: url('../fonts/genericons/genericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/genericons/genericons-regular-webfont.woff') format('woff'),
	     url('../fonts/genericons/genericons-regular-webfont.ttf') format('truetype'),
	     url('../fonts/genericons/genericons-regular-webfont.svg#genericonsregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* =Clearfix
-------------------------------------------------------------- */

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after {
    clear: both
}
.clearfix {
    zoom: 1
}


/* =General
-------------------------------------------------------------- */

.appearance_page_graphene_options #icon-themes,
.appearance_page_graphene_faq #icon-themes {
	background: url(images/admin-icon.png) center center no-repeat;
	width: 48px;
}
.js .postbox .hndle {
	cursor: pointer;
}
.js .no-toggle .hndle {
	cursor: auto;
}
.form-table th {
	width: 260px;
}
.form-table th.small-row { 
	width: 120px; 
}
.wrap h3 {
	margin: 30px 0 10px 0;
}
.wrap h4 {
	margin: 20px 0 0 0;
}
table.graphene-code-example th {
	font-weight: normal;
	line-height: 18px;
	text-align: left;
}
.code {
	font: normal 12px "Courier New", Courier, monospace;
}
.left-wrap {
	float: left;
	width: 70%;
}
.left-wrap label {
	line-height: normal;
}
.side-wrap {
	float: left;
	margin-left: 10px;
	width: 25%;
}
.postbox small {
	display: block;
	line-height: 18px;
	margin-top: 5px;
}
.code {
	font: normal 12px "Courier New", Courier, monospace;
}
.select-multiple {
	height: 200px !important;
	overflow: scroll;
}
.options-tab {
	border-bottom: 1px solid #ccc;
	height: 27px;
	margin-bottom: 20px !important;
	padding-left: 5px !important;
}
.options-tab a,
.options-tab a:visited {
	display: block;
	float: left;
}
#wpcontent option {
	padding: 4px;
}
.column-options label img {
	padding-right: 30px;
	vertical-align: middle;
}
.cc-logo{
	display: block;
	height: 32px;
	width: 96px;
	background: url(../images/sprite_master.png) -417px -240px no-repeat;
	margin-top: 5px;
}
.add-ons .title{
	font-weight: bold;
}
.add-ons .activated{
	color: #2A7FFF;
}
.add-ons .not-active{
	color: #999;	
}
.generated-css-wrap {
	max-width: 70%;
}
#generated-css {
	background: #fff;
	height: 300px;
	overflow-y: scroll;
	padding: 5px;
	border-color: #ddd;
}
.panel-wrap .submit {
	text-align: right;
	margin-bottom: 0;
	padding-bottom: 0;
}
.graphene-ajax-response {
	width: 400px;
	position: fixed;
	top: 40%;
	left: 50%;
	margin-left: -200px;
	-moz-box-shadow: 0 0 100px #999;
	-webkit-box-shadow: 0 0 100px #999;
	box-shadow: 0 0 100px #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	z-index: 100;
	display: none;
	padding: 0;
}
.graphene-ajax-response > div {
	border-radius: 5px;
	margin: 0 !important;
}
a.button {
	padding: 4px 10px 5px;
}
.panel-wrap .submit {
	overflow: auto;
}
.ajaxload {
	vertical-align: middle;
	margin: 0 10px;
}


/* =Colour previews
-------------------------------------------------------------- */

.colorpicker{
	background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    position: absolute;
    z-index: 100;	
}

.top-bar-preview {
	width: 200px;
}
.top-bar-preview .top-bar {
	background: url(../images/sprite_h.png) left -596px repeat-x #313130;
	border-bottom: 1px solid #222;
	height: 54px;
	position: relative;
	z-index: 10;
}
.top-bar-preview .profiles{
	padding-top: 13px;
	float: left;
	margin-left: 10px;
}
.top-bar-preview .profiles a {
	float: left;
	margin-right: 10px;
}
.top-bar-preview .profiles span {
	display: none;
}
.top-bar-preview .header {
	background: #fff;
	border-top: 1px solid #000;
	width: 100%;
	height: 10px;
}

.sidebar h3 {
	background: url(../images/bg-sidebar-h3.png) left bottom repeat-x #3C9CD2;
	background: -moz-linear-gradient(#3C9CD2, #1F6EB6);
	background: -webkit-linear-gradient(#3C9CD2, #1F6EB6);
	background: linear-gradient(#3C9CD2, #1F6EB6);
	border-bottom: 1px solid #195392;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	color: #fff;
	padding: 7px 12px;
	font: bold 16px/20px arial;
	text-shadow: 0 -1px 0 #555;
	width: 100%;
	margin: -15px 0 5px -12px;
	box-shadow: none;
}
.sidebar h3:hover{
	color: #fff;
	cursor: default;
}
.sidebar div.sidebar-wrap {
	background: #fff;
	-moz-box-shadow: 0 0 5px #BBB;
	-webkit-box-shadow: 0 0 5px #BBB;
	box-shadow: 0 0 5px #BBB;
	margin-bottom: 16px;
	padding: 10px 12px;
	position: relative;
	width: 220px;
}
.sidebar ul {
	color: #000;
	font: normal 12px arial;
	margin: 0;
}
.sidebar ul li {
	border-bottom: 1px solid #f5f5f5;
	line-height: 15px;
	padding: 6px 0;
}

.graphene, .graphene li, .graphene p{
	color: #2c2b2b;	
}
.graphene a,
.graphene a:visited{
	color: #1772af;
	text-decoration: none;
}
.graphene a:hover{
	color: #074d7c;
	text-decoration: none;	
}
#grad-box{
	width:230px;
	height:100px;
	background: #0F2D4D;
	background: linear-gradient(left top, #0F2D4D, #2880C3);
	background: -moz-linear-gradient(left top, #0F2D4D, #2880C3);
	background: -webkit-linear-gradient(left top, #0F2D4D, #2880C3);
}

.block-button,
.block-button:visited,
.Button {
	background: url(../images/bg-block-button.png) left bottom repeat-x #1C5FA5;
	background: -moz-linear-gradient(#2982C5, #1C5FA5);
	background: -webkit-linear-gradient(#2982C5, #1C5FA5);
	background: linear-gradient(#2982C5, #1C5FA5);
	border: 1px solid #1C5FA5;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 2px #aaa;
	-webkit-box-shadow: 0 1px 2px #aaa;
	box-shadow: 0 1px 2px #aaa;
	color: #fff;
	cursor: pointer;
	display: block;
	float: left;
	font: bold 12px arial;
	padding: 5px 15px 6px;
	position: relative;
	text-decoration: none;
	text-shadow: 0 -1px 0 #16497E;
}
.block-button:hover {
	background: url(../images/bg-block-button-hover.png) left bottom repeat-x #1C5FA5;
	background: -moz-linear-gradient(#2982C5, #15467A);
	background: -webkit-linear-gradient(#2982C5, #15467A);
	background: linear-gradient(#2982C5, #15467A);
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

.archive-title-preview {
	width: 500px;
}
.page-title {
	background: #2070B7;
	background: linear-gradient(left top, #0F2D4D, #2880C3);
	background: -moz-linear-gradient(left top, #0F2D4D, #2880C3);
	background: -webkit-linear-gradient(left top, #0F2D4D, #2880C3);
	-pie-background: linear-gradient(left top, #0F2D4D, #2880C3);
	color: #e3e3e3;
	font-size: 16px;
	margin: 0 auto 10px;
	padding: 8px 0;
	text-align: center;
	text-shadow: 0 -1px 0 #333;
	display: block;
	font-weight: bold;
}
.page-title span {
	color: #fff;
}

.graphene-news-list {
	margin-top: 10px;
}
.graphene-news a {
	text-decoration: none;
}
.graphene-news .news-item-date {
	font-size: 10px;
	color: #888;
}

.column-width .form-table th {
	width: 120px;
}
.width-wrap {
	margin-right: 50px;
	float: left;
}
.slider-legend {
	font-size: 10px;
	color: #888;
}
.hide {
	display: none; 
}


/* =Menu previews
-------------------------------------------------------------- */

.menu-bottom-shadow{
	background: url(../images/sprite_h.png) left top repeat-x #eee;
	height: 3px;
	width: 100%;
}
/* Top level header menu, default state */
.primary-menu-preview {
	width: 322px;
}
.primary-menu-preview.dropdown {
	width: 200px;
}
#header-menu-wrap {
	background: url(../images/sprite_h.png) left -4px repeat-x #101010;
	background: -moz-linear-gradient(#212121, #101010);
	background: -webkit-linear-gradient(#212121, #101010);
	background: linear-gradient(#212121, #101010);
	border-bottom: 1px solid #000;
	height: 51px;
}
#header-menu,
#secondary-menu {
	margin: 0 10px;
}
#header-menu-wrap a {
	display: block;
	text-decoration: none;
}
.primary-menu-preview ul > li {
	font: normal 14px arial;
	margin: 0 0 0 5px;
}
.primary-menu-preview #header-menu > li {
	float: left;
}
.primary-menu-preview ul > li:first-child {
	margin-left: 0;
}
.primary-menu-preview ul > li > a {
	color: #fff;
	display: block;
	line-height: 16px;
	padding: 9px 10px 10px;
	text-decoration: none;
}
#header-menu-wrap > ul > li > a > span {
	display: block;
	font-size: 11px;
	color: #aaa;
	margin-left: 14px;
}
#header-menu-wrap > ul > li.menu-item-ancestor > a:before {
	content: '\f431';
	display: inline-block;
	margin-left: -2px;
	-webkit-font-smoothing: antialiased;
	font: normal 16px/1 'Genericons';
	vertical-align: top;
}

/* Top level header menu, hover and current state */
.primary-menu-preview ul > li.current-menu-item,
.primary-menu-preview ul > li.current-menu-ancestor {
	background: url(../images/sprite_h.png) left -300px repeat-x #eee;
	background: -moz-linear-gradient(#eee, #ddd);
	background: -webkit-linear-gradient(#eee, #ddd);
	background: linear-gradient(#eee, #ddd);
}
.primary-menu-preview ul > li.current-menu-item > a,
.primary-menu-preview ul > li.current-menu-ancestor > a {
	color: #000;
}
#header-menu-wrap > ul > li.current-menu-item > a > span,
#header-menu-wrap > ul > li.current-menu-ancestor > a > span {
	color: #484848;
}
.primary-menu-preview ul > li.current-menu-item > a,
.primary-menu-preview ul > li.current-menu-ancestor > a {
	background-position: -877px -192px;
}

/* Sub level header menu, default state */
.primary-menu-preview.dropdown ul > li > a {
	color: #000;
}
.primary-menu-preview .sub-menu {
	box-shadow: 0 1px 2px #555;
}
.primary-menu-preview.dropdown ul li {
	background: url(../images/sprite_h.png) left -777px repeat-x #dfdfdf;
	background: -moz-linear-gradient(#efefef, #DFDFDF);
	background: -webkit-linear-gradient(#efefef, #DFDFDF);
	background: linear-gradient(#efefef, #DFDFDF);
	margin: 0;
}
.primary-menu-preview.dropdown ul li.menu-item-ancestor > a:after {
	content: '\f501';
	display: inline-block;
	float: right;
	margin: 2px -5px 0 0;
	-webkit-font-smoothing: antialiased;
	font: normal 10px/1 'Genericons';
	vertical-align: middle;
}

/* Sub level header menu, hover and current state */
.primary-menu-preview.dropdown ul li.current-menu-item,
.primary-menu-preview.dropdown ul li.current-menu-ancestor {
	background-position: left -856px;
	background-color: #212121;
	background: -moz-linear-gradient(#333, #212121);
	background: -webkit-linear-gradient(#333, #212121);
	background: linear-gradient(#333, #212121);
}
.primary-menu-preview.dropdown ul li.current-menu-item > a,
.primary-menu-preview.dropdown ul li.current-menu-ancestor > a {
	color: #fff;
}
.primary-menu-preview.dropdown ul li.current-menu-item > a,
.primary-menu-preview.dropdown ul li.current-menu-ancestor > a {
	background-position: -652px -238px;
}

/* Secondary menu */
/* Top level, default state */
.secondary-menu-preview {
	width: 250px;
}
#secondary-menu-wrap {
	border-top: 1px solid #2C2C2C;
	background: #222;
	height: 29px;
}
#secondary-menu > li {
	font: normal 11px arial;
	margin: 0 5px;
	text-transform: uppercase;
	float: left;
}
#secondary-menu > li:first-child {
	margin-left: 0;
}
#secondary-menu > li > a {
	display: block;
	text-decoration: none;
	color: #fff;
	line-height: 16px;
	padding: 7px 10px 6px;
}
#secondary-menu > li.menu-item-ancestor > a:before {
	content: '\f431';
	display: inline-block;
	margin-left: -2px;
	-webkit-font-smoothing: antialiased;
	font: normal 12px/1 'Genericons';
	vertical-align: text-top;
}

/* Top level, hover and current state */
#secondary-menu > li.current-menu-item,
#secondary-menu > li.current-menu-ancestor {
	background: #eee;
}
#secondary-menu > li.current-menu-item > a,
#secondary-menu > li.current-menu-ancestor > a {
	color: #000;
}

/* Sub level, default state */
.secondary-menu-preview .sub-menu {
	width: 200px;
	margin: 0;
	box-shadow: 0 1px 2px #555;
}
.secondary-menu-preview .sub-menu li a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 7px 15px 6px;
	width: 170px;
	line-height: 16px;
}
.secondary-menu-preview .sub-menu li {
	background: url(../images/sprite_h.png) left -1014px repeat-x #dfdfdf;
	margin-bottom: 0;
}
.secondary-menu-preview .sub-menu li.menu-item-ancestor > a:after {
	content: '\f501';
	display: inline-block;
	float: right;
	margin: 3px -5px 0 0;
	-webkit-font-smoothing: antialiased;
	font: normal 8px/1 'Genericons';
	vertical-align: middle;
}
/* Sub level header menu, hover and current state */
.secondary-menu-preview .sub-menu li.current-menu-item,
.secondary-menu-preview .sub-menu li.current-menu-ancestor {
	background-position: left -1084px;
	background-color: #212121;
}
.secondary-menu-preview .sub-menu li.current-menu-item > a,
.secondary-menu-preview .sub-menu li.current-menu-ancestor > a {
	color: #fff;
}
.secondary-menu-preview .sub-menu li.current-menu-item > a,
.secondary-menu-preview .sub-menu li.current-menu-ancestor > a {
	background-position: -652px -319px;
}

/* Footer */
.form-table .footer-preview p {
	margin-bottom: 0;
	margin-top: 10px;
}
.graphene-footer {
	background: url(../images/sprite_h.png) left -1352px repeat-x #111;
	border-top: 1px solid #d5d5d5;
	padding-top: 40px;
	margin-bottom: 30px;
	height: 160px;
	width: 500px;
	position: relative;
	color: #999;
	clear: both;
}
.graphene-copyright {
	margin: 0 10px 20px;
	float: left;
	max-width: 30%;
}
.graphene-copyright p {
	margin-top: 10px;
}
.graphene-copyright .heading {
	font: normal 14px arial;
	color: #e3e3e3;
}
.graphene-footer a,
.graphene-footer a:visited {
	color: #fff;
	text-decoration: none;
}
.graphene-footer a:hover {
	border-bottom: 1px dotted #fff;
}
.footer-menu-wrap {
	font-size: 14px;
    float: right;
    text-align: right;
	margin: 0 10px 0;
}
.footer-menu-wrap li {
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding-left: 10px;
	margin-left: 10px;
    vertical-align: top;
}
.footer-menu-wrap a, 
.footer-menu-wrap a:visited {
	color: #fff;
}
.footer-menu-wrap ul.sub-menu {
    margin-top: 5px;
	padding-left: 5px;
	border-left: 1px solid #222;
    list-style: none;
}

.footer-menu-wrap ul.sub-menu li {
    display: block;
    font-size: 12px;
	line-height: 18px;
    border: none;
    margin: 0;
    padding: 0;
}
.footer-menu {
	text-align: left;
	margin-bottom: 0;
}
.footer-menu .sub-menu {
	margin: 0;
}
.footer-menu .sub-menu li a,
.footer-menu .sub-menu li a:visited {
	color: #ccc;
}
.graphene-developer {
    text-align: right;
    clear: right;
    padding: 0;
	float: right;
	margin-right: 10px;
}


/* =Social media profiles
-------------------------------------------------------------- */

.socialprofile-table {
    background: #eee;
    border: solid 1px #fff;
    cursor: move;
}
.socialprofile-dragging {
    background: #fefefe;
    height: 80px;
    width: 100%;
    border: solid 1px #ccc;
    margin-top: .5em;
}
.form-table .delete a, .form-table .delete a:visited{
	color: #BC0B0B;
	text-decoration: none;
}
.form-table .delete a:hover{
	text-decoration: underline;
}
tr.new-social-media, tr.social-media-custom{
	background: #eee;
}
tr.new-social-media-name, tr.social-media-custom-name{
	border-top: 1px solid #fff;
}


/* =Collapsible options boxes
-------------------------------------------------------------- */

.postbox .hndle {
	cursor: pointer;
	font-size: 13px;
	margin: 0;
	padding: 6px 10px 7px 30px;
}
.postbox .nodocs .hndle,
.side-wrap .postbox .hndle {
	padding-left: 10px;
}
.panel-wrap.inside {
	padding: 0 10px 10px 10px;
}
.panel-wrap .panel-wrap.inside {
	background: #fff;
	overflow: visible;
	margin: 0;
	padding: 10px;
}
.postbox .postbox .handlediv {
	height: 27px;
}
.handlediv {
	cursor: pointer;
}
.colour-option-group {
	margin-top: 10px;
}
.toggle-all, 
.toggle-all:visited,
.toggle-options-wrapper a, 
.toggle-options-wrapper a:visited {
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
	padding-top: 5px;
}
.toggle-options-wrapper {
	float: left;
	width: auto;
	margin-left: 5px;
	padding-left: 5px;
	border-left: 1px solid #ddd;
	margin-top: 4px;
}
.toggle-options-wrapper a {
	float: none;
	display: inline;
}
.toggle-options-wrapper .toggle-all-options {
	display: none;
}
.inner-toggle-link {
	float: right;
}
.inner-toggle-link a {
	text-decoration: none;
}
.head-wrap {
	position: relative;
}
.head-wrap .graphene-docs-link {
	position: absolute;
	left: 7px;
	top: 5px;
}