.left-wrap {
    float:right;
}
.side-wrap {
    float:right;
    margin-right:10px;
    margin-left: auto;
}
.options-tab {
	padding-left: 0 !important;
	padding-right: 5px !important;
	
}
.options-tab a,
.options-tab a:visited {
	float: right;
}
.column-options label img {
	padding-left: 30px;
	padding-right: 0;
}
.sidebar h3 {
	margin: -15px -12px 5px 0;	
}
.block-button,
.block-button:visited,
.Button {
	float: right;
}
.panel-wrap .submit {
	text-align: left;
}

#header-menu-wrap > ul > li.menu-item-ancestor > a:before,
#secondary-menu > li.menu-item-ancestor > a:before {
	margin-right: -2px;
	margin-left: 0;
}
.primary-menu-preview.dropdown ul li.menu-item-ancestor > a:after {
	content: "\f503";
	float: left;
	margin: 2px 0 0 -5px;
}
.secondary-menu-preview .sub-menu li.menu-item-ancestor > a:after {
	content: "\f503";
	float: left;
	margin: 3px 0 0 -5px;
}