<!-- INCLUDE overall_header.html -->
<!-- IF U_MCP --><p><a href="{U_MCP}">{L_MCP}</a></p><!-- ENDIF -->

<!-- NOTE: remove the style="display: none" when you want to have the forum description on the topic body -->
<!-- IF FORUM_DESC and not S_IS_BOT --><div style="display: none !important;">{FORUM_DESC}<br /></div><!-- ENDIF -->

<!-- IF S_FORUM_RULES and not S_IS_BOT -->
	<div class="rules block">
		<!-- IF U_FORUM_RULES -->
			<a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a>
		<!-- ELSE -->
			<h2>{L_FORUM_RULES}</h2>
			{FORUM_RULES}
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->

<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
    <!-- IF S_DISPLAY_SEARCHBOX -->
        <div class="search-box float-right">
            <form method="get" id="topic-search" action="{S_SEARCHBOX_ACTION}">
            <fieldset>
                <input class="inputbox search tiny"  type="text" name="keywords" id="search_keywords" size="20" value="{L_SEARCH_TOPIC}" onclick="if(this.value=='{LA_SEARCH_TOPIC}')this.value='';" onblur="if(this.value=='')this.value='{LA_SEARCH_TOPIC}';" />
                <input class="button2" type="submit" value="{L_SEARCH}" />
                {S_SEARCH_LOCAL_HIDDEN_FIELDS}
            </fieldset>
            </form>
        </div>
    <!-- ENDIF -->
    <div class="buttons">
        <a href="{U_POST_REPLY_TOPIC}" class="gradient link"><!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED_SHORT}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF --></a>
    </div>
<!-- ENDIF -->

<!-- IF S_HAS_POLL -->
	<form method="post" action="{S_POLL_ACTION}">
	<div class="block">
        <h2>{POLL_QUESTION}</h2>
        <p class="author">{L_POLL_LENGTH}<!-- IF S_HIDE_RESULTS --><br /><b>{L_RESULTS_HIDDEN}</b><!-- ENDIF --><!-- IF S_CAN_VOTE and L_POLL_LENGTH --><br /><!-- ENDIF --><!-- IF S_CAN_VOTE -->{L_MAX_VOTES}<!-- ENDIF --></p>

        <fieldset class="polls fields2">
        <!-- BEGIN poll_option -->
            <dl class="<!-- IF poll_option.POLL_OPTION_VOTED -->voted<!-- ENDIF -->"<!-- IF poll_option.POLL_OPTION_VOTED --> title="{L_POLL_VOTED_OPTION}"<!-- ENDIF -->>
                <dt><!-- IF S_CAN_VOTE --><label for="vote_{poll_option.POLL_OPTION_ID}">{poll_option.POLL_OPTION_CAPTION}</label><!-- ELSE -->{poll_option.POLL_OPTION_CAPTION}<!-- ENDIF --></dt>
                <!-- IF S_CAN_VOTE --><dd><!-- IF S_IS_MULTI_CHOICE --><input type="checkbox" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ELSE --><input type="radio" name="vote_id[]" id="vote_{poll_option.POLL_OPTION_ID}" value="{poll_option.POLL_OPTION_ID}"<!-- IF poll_option.POLL_OPTION_VOTED --> checked="checked"<!-- ENDIF --> /><!-- ENDIF --></dd><!-- ENDIF -->
                <!-- IF S_DISPLAY_RESULTS --><dd class="resultbar"><div class="<!-- IF poll_option.POLL_OPTION_PCT < 20 -->pollbar1<!-- ELSEIF poll_option.POLL_OPTION_PCT < 40 -->pollbar2<!-- ELSEIF poll_option.POLL_OPTION_PCT < 60 -->pollbar3<!-- ELSEIF poll_option.POLL_OPTION_PCT < 80 -->pollbar4<!-- ELSE -->pollbar5<!-- ENDIF -->" style="width:{poll_option.POLL_OPTION_PERCENT};">{poll_option.POLL_OPTION_RESULT}</div></dd>
                <dd><!-- IF poll_option.POLL_OPTION_RESULT == 0 -->{L_NO_VOTES}<!-- ELSE -->{poll_option.POLL_OPTION_PERCENT}<!-- ENDIF --></dd><!-- ENDIF -->
            </dl>
        <!-- END poll_option -->

        <!-- IF S_DISPLAY_RESULTS -->
            <dl>
                <dt>&nbsp;</dt>
                <dd class="resultbar">{L_TOTAL_VOTES} : {TOTAL_VOTES}</dd>
            </dl>
        <!-- ENDIF -->

        <!-- IF S_CAN_VOTE -->
            <dl style="border-top: none;">
                <dt>&nbsp;</dt>
                <dd class="resultbar"><input type="submit" name="update" value="{L_SUBMIT_VOTE}" class="button1" /></dd>
            </dl>
        <!-- ENDIF -->

        <!-- IF not S_DISPLAY_RESULTS -->
            <dl style="border-top: none;">
                <dt>&nbsp;</dt>
                <dd class="resultbar"><a href="{U_VIEW_RESULTS}">{L_VIEW_RESULTS}</a></dd>
            </dl>
        <!-- ENDIF -->
        </fieldset>
		{S_FORM_TOKEN}
		{S_HIDDEN_FIELDS}
	</div>
	</form>
<!-- ENDIF -->

<!-- BEGIN postrow -->
	<!-- IF postrow.S_FIRST_UNREAD --><a id="unread"></a><!-- ENDIF -->
	<div id="{U_VIEW_TOPIC}p{postrow.POST_ID}" class="block post<!-- IF postrow.S_UNREAD_POST --> unreadpost<!-- ENDIF --><!-- IF postrow.S_ONLINE and not postrow.S_IGNORE_POST --> online<!-- ENDIF -->">
        <div class="post-header">
            <!-- IF not S_IS_BOT -->
                <!-- IF postrow.U_EDIT or postrow.U_DELETE or postrow.U_REPORT or postrow.U_WARN or postrow.U_INFO or postrow.U_QUOTE -->
                    <div class="post-author gradient link settings">
                        <a href="javascript:void(0);">&nbsp;</a>
                        <ul class="sub">
                            <!-- IF postrow.U_EDIT --><li><a href="{postrow.U_EDIT}">{L_EDIT_POST}</a></li><!-- ENDIF -->
                            <!-- IF postrow.U_DELETE --><li><a href="{postrow.U_DELETE}">{L_DELETE_POST}</a></li><!-- ENDIF -->
                            <!-- IF postrow.U_REPORT --><li><a href="{postrow.U_REPORT}">{L_REPORT_POST}</a></li><!-- ENDIF -->
                            <!-- IF postrow.U_WARN --><li><a href="{postrow.U_WARN}">{L_WARN_USER}</a></li><!-- ENDIF -->
                            <!-- IF postrow.U_INFO --><li><a href="{postrow.U_INFO}">{L_INFORMATION}</a></li><!-- ENDIF -->
                            <!-- IF postrow.U_QUOTE --><li><a href="{postrow.U_QUOTE}">{L_REPLY_WITH_QUOTE}</a></li><!-- ENDIF -->
                        </ul>
                    </div>
                <!-- ENDIF -->
            <!-- ENDIF -->
            <!-- IF postrow.U_POST_AUTHOR -->
                <div class="post-author gradient link">
                    <a href="{postrow.U_POST_AUTHOR}">{postrow.POST_AUTHOR}</a>
                    <ul class="sub">
                        <li><a href="{postrow.U_POST_AUTHOR}">{postrow.POST_AUTHOR}</a></li>
                		<!-- IF postrow.POSTER_POSTS != '' --><li><span>{L_POSTS}: {postrow.POSTER_POSTS}</span></li><!-- ENDIF -->
                		<!-- IF postrow.POSTER_JOINED --><li><span>{L_JOINED}: {postrow.POSTER_JOINED}</span></li><!-- ENDIF -->
                        <!-- IF postrow.POSTER_FROM --><li><span>{L_LOCATION}: {postrow.POSTER_FROM}</span></li><!-- ENDIF -->
                        <!-- IF postrow.S_PROFILE_FIELD1 -->
                            <li><span>{postrow.PROFILE_FIELD1_NAME}: {postrow.PROFILE_FIELD1_VALUE}</span></li>
                        <!-- ENDIF -->
                        <!-- BEGIN custom_fields -->
                            <li><span>{postrow.custom_fields.PROFILE_FIELD_NAME}: {postrow.custom_fields.PROFILE_FIELD_VALUE}</span></li>
                        <!-- END custom_fields -->
                		<!-- IF not S_IS_BOT -->
        					<!-- IF postrow.U_PM --><li><a href="{postrow.U_PM}">{L_PRIVATE_MESSAGE}</a></li><!-- ENDIF -->
        					<!-- IF postrow.U_EMAIL --><li><a href="{postrow.U_EMAIL}">{L_SEND_EMAIL_USER} {postrow.POST_AUTHOR}</a></li><!-- ENDIF -->
        					<!-- IF postrow.U_WWW --><li><a href="{postrow.U_WWW}">{L_WEBSITE}</a></li><!-- ENDIF -->
                		<!-- ENDIF -->

                    </ul>
                </div>
            <!-- ENDIF -->
            <h2>{postrow.POST_SUBJECT}</h2>
        </div>
        <p class="post-time">{postrow.POST_DATE}</p>

		<div class="postbody">
			<!-- IF postrow.S_IGNORE_POST -->
				<div class="block rules">{postrow.L_IGNORE_POST}</div>
			<!-- ELSE -->

			<!-- IF postrow.S_POST_UNAPPROVED or postrow.S_POST_REPORTED -->
				<p class="block rules">
					<!-- IF postrow.S_POST_UNAPPROVED --><a href="{postrow.U_MCP_APPROVE}">{L_POST_UNAPPROVED}</a><br /><!-- ENDIF -->
					<!-- IF postrow.S_POST_REPORTED --><a href="{postrow.U_MCP_REPORT}">{L_POST_REPORTED}</a><!-- ENDIF -->
				</p>
			<!-- ENDIF -->

			{postrow.MESSAGE}
			<!-- IF postrow.U_QUOTE and postrow.DECODED_MESSAGE -->
				<div id="message_{postrow.POST_ID}" style="display: none;">{postrow.DECODED_MESSAGE}</div>
			<!-- ENDIF -->
			<!-- IF postrow.S_HAS_ATTACHMENTS -->
				<dl class="attachbox">
					<dt>{L_ATTACHMENTS}</dt>
					<!-- BEGIN attachment -->
						<dd>{postrow.attachment.DISPLAY_ATTACHMENT}</dd>
					<!-- END attachment -->
				</dl>
			<!-- ENDIF -->

			<!-- IF postrow.S_DISPLAY_NOTICE --><div class="block rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->
			<!-- IF postrow.EDITED_MESSAGE or postrow.EDIT_REASON -->
				<div class="notice">{postrow.EDITED_MESSAGE}
					<!-- IF postrow.EDIT_REASON --><br /><strong>{L_REASON}:</strong> <em>{postrow.EDIT_REASON}</em><!-- ENDIF -->
				</div>
			<!-- ENDIF -->

			<!-- IF postrow.BUMPED_MESSAGE --><div class="notice"><br /><br />{postrow.BUMPED_MESSAGE}</div><!-- ENDIF -->
		<!-- ENDIF -->

		</div>
	</div>
<!-- END postrow -->

<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
	<div class="buttons">
		<a href="{U_POST_REPLY_TOPIC}" class="gradient link"><!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED_SHORT}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF --></a>
        <!-- IF S_QUICK_REPLY -->
            <a href="javascript:void(0);" onclick="document.getElementById('qr_editor_div').style.display = ''; this.style.display = 'none'; return false;" class="gradient link">{L_SHOW_QR}</a>
        <!-- ENDIF -->
    </div>
<!-- ENDIF -->

<!-- IF S_QUICK_REPLY -->
	<!-- INCLUDE quickreply_editor.html -->
<!-- ENDIF -->

<!-- INCLUDE jumpbox.html -->

<!-- IF S_TOPIC_MOD -->
	<form method="post" action="{S_MOD_ACTION}">
	<fieldset class="quickmod">
		<label for="quick-mod-select">{L_QUICK_MOD}:</label> {S_TOPIC_MOD} <input type="submit" value="{L_GO}" class="button2" />
		{S_FORM_TOKEN}
	</fieldset>
	</form>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->