<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt>Facebook</dt>
					</dl>
				</li>
			</ul>
        
            <table class="bg1" cellpadding="0" cellspacing="0" width="100%">
                <tr class="bg1"><td class="bg1">
            <!-- Facebook box start -->
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&appId=191648171028632&version=v2.0";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-like-box" data-href="https://www.facebook.com/PCMItalia" data-width="300" data-height="500" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>                
            <!-- Facebook box end -->
                </td></tr>
             </table>
    <span class="corners-bottom"><span></span></span></div>
</div>