<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt>Google+</dt>
					</dl>
				</li>
			</ul>
        
            <table class="bg1" cellpadding="0" cellspacing="0" width="100%">
                <tr class="bg1"><td class="bg1">
                    <!-- Inserisci questo tag nel punto in cui vuoi che sia visualizzato l'elemento widget. -->
                    <div class="g-page" data-href="https://plus.google.com/115996332766555678947" data-showtagline="false" data-rel="publisher"></div>
                    
                    <!-- Inserisci questo tag dopo l'ultimo tag di widget. -->
                    <script type="text/javascript">
                      window.___gcfg = {lang: 'it'};
                    
                      (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/platform.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                      })();
                    </script>
                </td></tr>
             </table>
    <span class="corners-bottom"><span></span></span></div>
</div>