<!-- INCLUDE overall_header.html -->

<p class="{S_CONTENT_FLOW_END}<!-- IF S_USER_LOGGED_IN --> rightside<!-- ENDIF -->"><!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->{CURRENT_TIME}<!-- ENDIF --></p>
<!-- IF U_MCP --><p>{CURRENT_TIME} <br />[&nbsp;<a href="{U_MCP}">{L_MCP}</a>&nbsp;]</p><!-- ELSEIF S_USER_LOGGED_IN --><p>{CURRENT_TIME}</p><!-- ENDIF -->
<!-- INCLUDE tag_board.html -->

<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
<ul class="linklist">
	<!-- IF S_DISPLAY_SEARCH -->
		<li><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a><!-- IF S_LOAD_UNREADS --> &bull; <a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a><!-- ENDIF --><!-- IF S_USER_LOGGED_IN --> &bull; <a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a><!-- ENDIF --> &bull; <a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li>
	<!-- ENDIF -->
	<!-- IF not S_IS_BOT and U_MARK_FORUMS --><li class="rightside"><a href="{U_MARK_FORUMS}" accesskey="m" class="markread">{L_MARK_FORUMS_READ}</a></li><!-- ENDIF -->
</ul>
<!-- ENDIF -->



<!-- IF S_MCHAT_ENABLE and S_MCHAT_ON_INDEX and S_MCHAT_LOCATION --><!-- INCLUDE mchat_body.html --><!-- ENDIF -->
<table id="forumtable" width="100%">
	<tr>
    	<td valign="top">
        	<!-- INCLUDE forumlist_body.html -->
        </td>
    	<td width="10px">
        </td>        
        <td width="300px" valign="top">
        	<!-- INCLUDE socialnetwork_widget.html -->
        </td>
	</tr>
</table>
<!-- IF S_CALENDAR_WEEK -->
	<!-- INCLUDE calendar_week_on_index.html -->
<!-- ELSEIF S_CALENDAR_NEXT_EVENTS -->
	<!-- INCLUDE calendar_next_events_on_index.html -->
<!-- ENDIF -->
<!-- IF S_MCHAT_ENABLE and S_MCHAT_ON_INDEX and not S_MCHAT_LOCATION --><!-- INCLUDE mchat_body.html --><!-- ENDIF -->

<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
	<form method="post" action="{S_LOGIN_ACTION}" class="headerspace">
	<h3><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a><!-- IF S_REGISTER_ENABLED -->&nbsp; &bull; &nbsp;<a href="{U_REGISTER}">{L_REGISTER}</a><!-- ENDIF --></h3>
		<fieldset class="quick-login">
			<label for="username">{L_USERNAME}:</label>&nbsp;<input type="text" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" />
			<label for="password">{L_PASSWORD}:</label>&nbsp;<input type="password" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" />
			<!-- IF S_AUTOLOGIN_ENABLED -->
				| <label for="autologin">{L_LOG_ME_IN} <input type="checkbox" name="autologin" id="autologin" /></label>
			<!-- ENDIF -->
			<input type="submit" name="login" value="{L_LOGIN}" class="button2" />
			{S_LOGIN_REDIRECT}
		</fieldset>
	</form>
<!-- ENDIF -->

<!-- IF S_DISPLAY_ONLINE_LIST -->
	<!-- IF U_VIEWONLINE --><h3><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}</a></h3><!-- ELSE --><h3>{L_WHO_IS_ONLINE}</h3><!-- ENDIF -->
	<p>{TOTAL_USERS_ONLINE} ({L_ONLINE_EXPLAIN})<br />{RECORD_USERS}<br /> <br />{LOGGED_IN_USER_LIST}
	<!-- IF LEGEND --><br /><em>{L_LEGEND}: {LEGEND}</em><!-- ENDIF --></p>
	<!-- IF WHO_WAS_HERE_TOTAL -->
		<h3>{L_WHO_WAS_HERE}</h3>
		<p>{WHO_WAS_HERE_TOTAL} ({WHO_WAS_HERE_EXP})<br />{WHO_WAS_HERE_RECORD}<br />{WHO_WAS_HERE_LIST}</p>
	<!-- ELSEIF U_ACP -->
		<h3>{L_WHO_WAS_HERE}</h3>
		<p>{L_WWH_UPDATE_NEED}</p>
	<!-- ENDIF -->
<!-- ENDIF -->


<!-- INCLUDE mchat_stats.html -->
<!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
	<h3>{L_BIRTHDAYS}</h3>
	<p><!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF --></p>
<!-- ENDIF -->


<!-- IF DONATION_STATS_INDEX_ENABLE and (DONATION_RAISED_ENABLE or DONATION_GOAL_ENABLE or DONATION_USED_ENABLE) -->
	<!-- INCLUDE donate/donate_stats.html -->
<!-- ENDIF -->
<!-- IF NEWEST_USER -->
	<h3>{L_STATISTICS}</h3>
	<p>{TOTAL_POSTS} &bull; {TOTAL_TOPICS}<!-- IF TOTAL_IMAGES --> &bull; {TOTAL_IMAGES}<!-- ENDIF --> &bull; {TOTAL_USERS} <!-- IF TOTAL_BANNED_USERS -->&bull; {L_BANNED_USERS} <a href="{U_BANLIST}">{TOTAL_BANNED_USERS}</a> <!-- ENDIF -->&bull; {NEWEST_USER}</p>
<!-- ENDIF -->

<!-- IF RS_TOPLIST -->
	<h3>{L_RS_TOPLIST}</h3>
	<p>{L_RS_TOPLIST_EXPLAIN}: <strong>{RS_TOPLIST}</strong></p>
<!-- ENDIF -->
<!-- Start Ultimate Points -->
<!-- IF S_DISPLAY_POINTS_STATS -->
<h3>{L_POINTS_STATISTICS}</h3>
<p>{TOTAL_POINTS_USER} &bull; {TOTAL_BANK_USER} &bull; {TOTAL_BANK_POINTS} <!-- IF S_DISPLAY_LOTTERY--> &bull; {LOTTERY_TIME} <!-- ENDIF --></p>

<!-- IF S_DISPLAY_INDEX -->
<h3>{L_POINTS_MOST_RICH_USERS}</h3>
<p><!-- BEGIN rich_user --><!-- IF not rich_user.S_FIRST_ROW --> &bull; <!-- ENDIF -->{rich_user.USERNAME} ({rich_user.SUM_POINTS} {rich_user.SUM_POINTS_NAME})<!-- END rich_user --></p>
<!-- ENDIF -->
<!-- ENDIF -->
<!-- End Ultimate Points -->


<!-- Start DM Video -->
<!-- IF S_VIDEO_EXIST -->
	<h3>{L_DMV_MOST_SEEN_VIDEOS}</h3>
	<p>{NUMBER_VIDEOS}<br/><!-- BEGIN videoline --><!-- IF not videoline.S_FIRST_ROW --> &bull; <!-- ENDIF --> {videoline.TITEL} ({videoline.VIDEO_COUNTER}) <!-- END videoline --></p>
<!-- ENDIF -->
<!-- End DM Video -->
<!-- INCLUDE overall_footer.html -->