<form id="postform" method="post" action="{U_QR_ACTION}">
	<div class="panel" id="postingbox">
		<div class="inner"><span class="corners-top"><span></span></span>
		
		<h2>{L_QUICKREPLY}</h2>
		
		<fieldset class="fields2">
			<!-- IF S_SHOW_TOPIC_ICONS -->
				<dl>
					<dt><label for="icon">{L_ICON}:</label></dt>
					<dd>
						<label for="icon"><input type="radio" name="icon" id="icon" value="0" checked="checked" /> {L_NO_TOPIC_ICON}</label>
						<!-- BEGIN topic_icon --><label for="icon-{topic_icon.ICON_ID}"><input type="radio" name="icon" id="icon-{topic_icon.ICON_ID}" value="{topic_icon.ICON_ID}" {topic_icon.S_ICON_CHECKED} /><img src="{topic_icon.ICON_IMG}" width="{topic_icon.ICON_WIDTH}" height="{topic_icon.ICON_HEIGHT}" alt="" title="" /></label> <!-- END topic_icon -->
					</dd>
				</dl>
			<!-- ENDIF -->
			
			<!-- IF S_DISPLAY_USERNAME -->
				<dl style="clear: left;">
					<dt><label for="username">{L_USERNAME}:</label></dt>
					<dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="inputbox autowidth" /></dd>
				</dl>
			<!-- ENDIF -->
			
			<dl style="clear: left;">
				<dt><label for="subject">{L_SUBJECT}:</label></dt>
				<dd><input type="text" name="subject" id="subject" size="45" maxlength="64" tabindex="2" value="{SUBJECT}" class="inputbox autowidth" /></dd>
			</dl>
			
			<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
				<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
				<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
			<!-- ENDIF -->
			
			<!-- INCLUDE posting_buttons.html -->
			
			<!-- IF S_SMILIES_ALLOWED and .smiley -->
				<div id="smiley-box">
					<strong>{L_SMILIES}</strong><br />
					<!-- BEGIN smiley -->
						<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
					<!-- END smiley -->
					
					<!-- IF S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED-->
						<br /><a href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
					<!-- ENDIF -->
				</div>
			<!-- ENDIF -->
			
			<div id="message-box" <!-- IF not S_SMILIES_ALLOWED -->style="width: 100%;"<!-- ENDIF -->>
				<textarea style="height: 9em;" name="message" rows="15" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox"></textarea>
			</div>
		</fieldset>
		
		<span class="corners-bottom"><span></span></span></div>
	</div>
	
   <div class="panel bg2" id="qr_editor_div">
		<div class="inner"><span class="corners-top"><span></span></span>
		
		<fieldset class="submit-buttons">
			{S_FORM_TOKEN}
			{QR_HIDDEN_FIELDS}
			<!-- IF S_SAVE_ALLOWED --><input type="submit" accesskey="k" tabindex="6" name="save" value="{L_SAVE_DRAFT}" class="button2" />&nbsp;<!-- ENDIF -->
			<input type="submit" accesskey="f" tabindex="7" name="preview" value="{L_PREVIEW}" class="button1" onclick="document.getElementById('postform').action += '#preview';" />&nbsp;
			<input type="submit" accesskey="s" tabindex="8" name="post" value="{L_SUBMIT}" class="button1" />&nbsp;
		</fieldset>
		
		<span class="corners-bottom"><span></span></span></div>
	</div>
</form>
