<div class="forabg">
			<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt>Twitter</dt>
					</dl>
				</li>
			</ul>
        
            <table class="bg1" cellpadding="0" cellspacing="0" width="100%">
                <tr class="bg1"><td class="bg1">
                 <!-- Twitter box start -->
                    <a class="twitter-timeline" href="https://twitter.com/pcmitalia" data-widget-id="467043029585383424">Tweets di @pcmitalia</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                 <!-- Twitter box end -->
                </td></tr>
             </table>
    <span class="corners-bottom"><span></span></span></div>
</div>