<!-- INCLUDE ucp_header.html -->

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<form method="post" action="{U_COUNT_ACTION}" name="count_form" id="count_form">
		{L_DISPLAY_EVENTS_DAYCOUNT} <input type="number" name="daycount" id="daycount" value="{DAYCOUNT}">
		<input type="submit" name="post" value="{L_SUBMIT}" class="button1" />
		</form><br />
		<!-- IF .events -->
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt>{L_UPCOMING_EVENTS}</dt>
						<dd style="width:16%">{L_COL_WILL_ATTEND}</dd>
						<dd style="width:16%">{L_INVITE_INFO}</dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist cplist">
			<!-- BEGIN events -->
					<!-- IF events.VALUE != 1 -->
						<li class="row">
							<dl class="icon"<!-- IF events.IMAGE --> style="background-image: url({events.IMAGE}); background-repeat: no-repeat;"<!-- ENDIF -->>
								<dt><a href="{events.EVENT_URL}" title="<!-- IF events.ETYPE_DISPLAY_NAME -->{events.ETYPE_DISPLAY_NAME}: <!-- ENDIF -->{events.FULL_SUBJECT}">
									<span style="<!-- IF events.COLOR -->color:#{events.COLOR};<!-- ENDIF --> font-weight: bold;">
										<!-- IF events.ETYPE_DISPLAY_NAME -->{events.ETYPE_DISPLAY_NAME}: <!-- ENDIF -->{events.SUBJECT}</span><br /><!-- IF events.ALL_DAY -->{L_ALL_DAY} {events.START_TIME}<!-- ELSE -->{events.START_TIME} {L_TO_TIME} {events.END_TIME}<!-- ENDIF --></a>
										<br />{events.POSTER}
								</dt>
								<dd style="width:16%; padding-left:5px;" class="lastpost"><span style="<!-- IF events.COLOR_RSVP -->color:#{events.COLOR_RSVP};<!-- ENDIF -->">{events.VALUE_TXT}<!-- IF events.HEADCOUNT > 1 --> ({events.HEADCOUNT})<!-- ENDIF --></span></dd>
								<dd style="width:16%; padding-left:5px;" class="lastpost">{events.INVITED}</dd>
							</dl>
						</li>
					<!-- ENDIF -->
			<!-- END events -->
			</ul>
		<!-- ENDIF -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- INCLUDE ucp_footer.html -->