<!-- INCLUDE overall_header.html -->
<h2>{VIDEO_TITLE}</h2>
<br />
<!-- IF S_ADD_COMMENT -->
<div class="topic-actions">
	<div class="buttons">
		<div class="video-comment"><a href="{U_ADD_COMMENT}" accesskey="n" title="{L_DMV_COMMENT_ADD}"><span></span>{L_DMV_COMMENT_ADD}</a></div>
	</div>
</div>
<!-- ENDIF -->
<br /><br />
<!-- BEGIN comments -->
	<!-- IF comments.S_FIRST_ROW -->
	<div class="forabg">
		<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dd class="dmv-comments">{L_DMV_COMMENT}</dd>
						<dd class="dmv-lastpost">{L_DMV_AUTHOR}</dd>
						<!-- IF comments.S_EDIT_COMMENT or comments.S_DELETE_COMMENT -->
						<dd class="dmv-action">{L_DMV_ACTION}</dd>
						<!-- ENDIF -->
					</dl>
				</li>
			</ul>
			<ul class="topiclist topics">
	<!-- ENDIF -->
				<li class="<!-- IF comments.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
					<dl>
						<dd class="dmv-comments">{comments.VIDEO_COMMENT}</dd>
						<dd class="dmv-lastpost">
							&nbsp;{L_POST_BY_AUTHOR} {comments.COMMENT_AUTHOR_FULL}<br />
							&nbsp;{L_POSTED_ON_DATE} {comments.COMMENT_POST_TIME}
						</dd>
						<!-- IF comments.S_EDIT_COMMENT or comments.S_DELETE_COMMENT -->
						<dd class="dmv-action">
							<ul class="profile-icons">
								<!-- IF comments.S_EDIT_COMMENT--><li class="edit-icon"><a href="{comments.U_EDIT_COMMENT}" title="{L_DMV_COMMENT_EDIT}"><span>{L_DMV_COMMENT_EDIT}</span></a></li><!-- ENDIF -->
								<!-- IF comments.S_DELETE_COMMENT --><li class="delete-icon"><a href="{comments.U_DELETE_COMMENT}" title="{L_DMV_COMMENT_DEL}"><span>{L_DMV_COMMENT_DEL}</span></a></li><!-- ENDIF -->
							</ul>
						</dd>
						<!-- ENDIF -->
					</dl>
				</li>
	<!-- IF comments.S_LAST_ROW -->
			</ul>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	<!-- ENDIF -->
<!-- BEGINELSE -->
	<!-- IF comments.S_ROW_COUNT == 0 -->
		<div class="panel">
			<div class="inner"><span class="corners-top"><span></span></span>
			<strong>{L_DMV_COMMENT_NONE}</strong>
			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- ENDIF -->
<!-- END comments -->
<br />
<p></p><p><a href="{U_BACK_VIDEO}" class="left-box {S_CONTENT_FLOW_BEGIN}" accesskey="r">{L_RETURN_TO} {VIDEO_NAME}</a></p>
<br />
<!-- IF PAGINATION or TOTAL_COMMENTS -->
<div class="pagination">
	{TOTAL_COMMENTS}<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
</div>
<!-- ENDIF -->
<div class="clear"></div>
<br />
<!-- INCLUDE dm_video/video_footer.html -->
