<!-- INCLUDE dl_mod/dl_header.html -->

	<form action="{S_DL_SEARCH_ACTION}" method="post" >

	<div class="panel">
		<div class="inner"><span class="corners-top"><span></span></span>

		<h3>{L_SEARCH_FOR}</h3>

		<fieldset>

			<dl>
				<dt>{L_SEARCH_KEYWORDS}</dt>
				<dd class="time"><input type="text" class="inputbox" name="search_keywords" size="50" maxlength="255" value="" /></dd>
			</dl>
			<dl>
				<dt>{L_DL_SEARCH_AUTHOR}</dt>
				<dd class="time"><input type="text" class="inputbox" name="search_author" size="50" maxlength="255" value="" /></dd>
			</dl>

		</fieldset>

		<span class="corners-bottom"><span></span></span></div>
	</div>

	<div class="panel bg2">
		<div class="inner"><span class="corners-top"><span></span></span>
		<h3>{L_SEARCH_OPTIONS}</h3>

		<fieldset>

			<dl>
				<dt>{L_DL_CAT_NAME}</dt>
				<dd class="time">{S_DL_CATEGORY_OPTIONS}</dd>
			</dl>
			<dl>
				<dt>{L_SEARCH_WITHIN}</dt>
				<dd class="time">{S_DL_SORT_OPTIONS}</dd>
			</dl>
			<dl>
				<dt>{L_DL_ORDER}</dt>
				<dd class="time">{S_DL_SORT_ORDER}</dd>
			</dl>

		</fieldset>

		<fieldset class="submit-buttons">
			<input class="button1" type="submit" name="submit" value="{L_SEARCH}" />
			{S_FORM_TOKEN}
		</fieldset>

		<span class="corners-bottom"><span></span></span></div>
	</div>

	</form>

<br />

<!-- INCLUDE dl_mod/dl_footer.html -->