<!-- @todo: Add all code that needs to be executed in the header here -->
<link href="{T_THEME_PATH}/jquery_base.css" rel="stylesheet" type="text/css" />
<script src="{T_SUPER_TEMPLATE_PATH}/jquery_base/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="{T_SUPER_TEMPLATE_PATH}/jquery_base/jquery-ui-1.8.9.custom.min.js" type="text/javascript"></script>
<script src="{T_SUPER_TEMPLATE_PATH}/jquery_base/jquery.notify.min.js" type="text/javascript"></script>

<script type="text/javascript">
// <![CDATA[
/**
* change this to the div you need for your style
* if you don't know what it is, take a look at http://www.m-a-styles.de
*/
var quickedit_div = '#post\%d div.content';
var edited_by_div = '#post\%d div.notice';

/** 
* init vars - DO NOT CHANGE
* 
*/
var popup_open = false;
var cur_post_id = 0;
var login_instance;
var login_open = false;
var new_pm_count = 0;

var logged_in = '{S_USER_LOGGED_IN}';

// Make sure we don't get issues with other MODs or libraries
var pjb = jQuery.noConflict();

/**
* init functions
*/

/**
* functions that need to be executed after the page has finished loading
*/

pjb(document).ready(function(){
	<!-- IF PJB_QUICKEDIT_ENABLE -->
	// quickedit
	pjb('.qe-icon a').click(function() {
		post_id = pjb(this).attr('id');
		post_id = post_id.replace(/quickedit/g, ''); // filter out the post ID

		// check if quick edit is already enabled
		if(popup_open != true)
		{
			cur_location = pjb(location).attr('href');
			data = 'mode=quickedit&qe_mode=init&post_id=' + post_id + '&location=' + location;
			pjB_do_ajax('open', data, true);
			popup_open = true;
			cur_post_id = post_id;
		}
	});
	<!-- ENDIF -->
	
	<!-- IF PJB_MARK_READ_ENABLE -->
	// mark forums read
	pjb('li.rightside a.markread').click(function() {
		if(popup_open != true)
		{
			cur_location = pjb(location).attr('href');
			data = 'mode=markread_forums&location=' + location;
			pjB_do_ajax('mark_read', data, true);
			return false;
		}
	});
	
	// mark topics read
	pjb('div.pagination a.markread').click(function() {
		if(popup_open != true)
		{
			cur_location = pjb(location).attr('href');
			data = 'mode=markread_topics&location=' + location;
			pjB_do_ajax('mark_read', data, true);
			return false;
		}
	});
	<!-- ENDIF -->
	
	<!-- IF PJB_QUICKREPLY_ENABLE -->
	// Quickreply
	pjb('#qr_editor_div .button1').click(function(event) {
		if(popup_open != true)
		{
			event.preventDefault();
			var data = 'mode=quickreply';
			cur_location = pjb(location).attr('href');
			
			// get some more info, i.e. subject
			data += '&subject=' + pjb('#postingbox input#subject').val();
			data += '&' + pjb('#postingbox textarea.inputbox').serialize();
			data += '&location=' + cur_location;

			var i = 1;
			pjb('#qr_editor_div input:hidden').each(function() {
				data += '&reply_data' + i + '=' + pjb(this).attr('name') + '&reply_data_val' + i + '=' + pjb(this).val();
				i++;
			});
			pjB_do_ajax('quickreply', data, true);
		}
	});
	<!-- ENDIF -->
	
	<!-- IF not S_USER_LOGGED_IN and PJB_LOGIN_ENABLE -->
	// Quick Login
	pjb('.icon-logout a').click(function(event) {
			event.preventDefault();
			var data = 'mode=login&get_template=1';
			pjB_do_ajax('login_template', data, true);
	});
	<!-- ENDIF -->
	
	// initialise jQuery UI notify widget
	pjb("#container").notify();
	
	<!-- IF S_USER_PM_POPUP and S_NEW_PM -->
	// show "new" PM popup
	if(logged_in)
	{
		pjB_output_info('<a id="popupHeader" href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}</a>', '{LA_YOU_NEW_PM}<br /><br /><a class="postlink" href="{U_PRIVATEMSGS}">{LA_PROFILE}</a>', false);
	}
	else
	{
		pjB_output_info('<a id="popupHeader" href="{U_PRIVATEMSGS}">{PRIVATE_MESSAGE_INFO}</a>', '{LA_LOGIN_CHECK_PM}', false);
	}
	<!-- ENDIF -->
	
	<!-- IF PJB_PM_UPDATE_INTERVAL and S_USER_PM_POPUP -->
	/* 
	* check for new PMs every {PJB_PM_UPDATE_INTERVAL} minutes
	*/
	setInterval(function() {
		pjB_do_ajax('check_pm', 'mode=check_pm', true);
	}, 1000 * 60 * {PJB_PM_UPDATE_INTERVAL}); // 1000 ms * 60 = 60 s * X = X minutes
	<!-- ENDIF -->

});

/*
* Onclick functions for BBCode buttons
*/
function bind_quickedit_buttons()
{
	// somebody clicks on the bbcode buttons
	pjb('#quickedit-buttons input').bind('click', function() {
		cur_bbcode = pjb(this).attr('id');
		cur_bbcode = cur_bbcode.replace(/bbcode/g, ''); // filter out unneeded parts
		
		// make sure we don't get javascript errors
		if (cur_bbcode == parseInt(cur_bbcode))
		{
			qe_bbstyle(parseInt(cur_bbcode));
		}
	});
	
	// somebody uses the size dropdown box
	pjb('select#addbbcode202').bind('change', function() {
		var cur_size = pjb('select#addbbcode202 option:selected').val();
		qe_bbfontstyle('[size=' + cur_size + ']', '[/size]');
		pjb('select#addbbcode202 option')[2].attr('selected', 'selected');
	});
	
	// click on "submit"
	pjb('#submit_jqe').bind('click', function() {
		if(quickedit_open == true)
		{
			content = pjb('textarea#jqe-message').serialize();
			content = content.substring(8); // make sure we get rid of the 'message=' in front of the post text
			cur_location = pjb(location).attr('href');
			data = 'mode=quickedit&qe_mode=submit&post_id=' + post_id + '&contents=' + content + '&location=' + location;
			pjB_do_ajax('submit', data, true);
		}
	});
	
	// click on "cancel"
	pjb('#cancel_jqe').bind('click', function() {
		if(quickedit_open == true)
		{
			pjb('textarea#jqe-message').val(''); // make sure the user can't see what was in the textbox after clicking cancel
			cancel_edit(); // we don't need an ajax request since we just need to close the edit window
			quickedit_open = false;
		}
	});
	
	// click on "advanced edit"
	pjb('#adv_jqe').bind('mouseover', function() {
		if(quickedit_open == true)
		{
			// get current url for forum_id if we have a global announcement
			content = pjb('textarea#jqe-message').val();
			pjb('input[name="message"]:hidden').val(content);
		}
	});
	
	// click on login
	pjb('#pjb-login input.button1').bind('click', function() {
		// get current url for forum_id if we have a global announcement
		cur_location = pjb(location).attr('href');
		user = pjb('#pjb-login #username').serialize();
		password = pjb('#pjb-login #password').serialize();
		
		// hide login body
		login_instance.close();
		
		var data = 'mode=login&' + user + '&' + password + '&location=' + location;
		login_open = false;
		pjB_do_ajax('login', data, true);
	});

	// submit login "form" on hitting enter
	var complete_body = pjb('body');
	complete_body.keypress(function(e)
	{
		var code = null;
		code = (e.keyCode) ? e.keyCode : e.which;
		if (code == 13 && login_open)
		{
			pjb('#pjb-login input.button1').click();
			e.preventDefault(); // don't care, just don't submit any forms ...
		}
	});

}

// open edit window
function open_edit(success)
{	
	if(success['ERROR'])
	{
		for(i = 0; i < success['ERROR_COUNT']; i++)
		{
			pjB_output_info('', success['ERROR'][i], true);
		}
	}
	else
	{
		pjb('#post' + cur_post_id + ' div.content').hide();
		pjb('#post' + cur_post_id + ' div.notice').hide();
		pjb('#post' + cur_post_id + ' dl.attachbox').hide();
		pjb('#post' + cur_post_id).append(success['TPL_BODY']);
		pjb('#pjB-qe-form').show('slow');
		bind_quickedit_buttons();
		quickedit_open = true;
	}
}

// submit edit
function submit_edit(data)
{
	if(data['ERROR'])
	{
		for(i = 0; i < data['ERROR_COUNT']; i++)
		{
			pjB_output_info('', data['ERROR'][i], true);
		}
		
		if(data['ERROR_ACTION'] == 'cancel')
		{
			cancel_edit();
		}
	}
	else
	{
		pjb('#post' + cur_post_id + ' div.content').html(data['TEXT']);
		pjb('#post' + cur_post_id + ' div.notice').html(data['EDITED_BY']);
		pjb('#pjB-qe-form').hide('slow');
		pjb('#pjB-qe-form').remove();
		pjb('#post' + cur_post_id + ' div.content').show('slow');
		pjb('#post' + cur_post_id + ' dl.attachbox').show('slow');
		pjb('#post' + cur_post_id + ' div.notice').show('slow');
		<!-- IF PJB_POPUPS_ENABLE -->
		pjB_output_info(data['SUCCESS_TITLE'], data['SUCCESS_MESSAGE'], true);
		<!-- ENDIF -->
		
		quickedit_open = false;
		popup_open = false;
	}
}

// cancel quickedit
function cancel_edit()
{
	pjb('#pjB-qe-form').hide('slow');
	pjb('#pjB-qe-form').remove();
	pjb('#post' + cur_post_id + ' div.content').show('slow');
	pjb('#post' + cur_post_id + ' dl.attachbox').show('slow');
	pjb('#post' + cur_post_id + ' div.notice').show('slow');
	quickedit_open = false;
	popup_open = false;
}

// mark_read
function mark_read(success)
{
	if(success['MARK_REDIRECT'])
	{
		<!-- IF PJB_POPUPS_ENABLE -->
		pjB_output_info(success['SUCCESS_TITLE'], success['SUCCESS_MESSAGE'], true);
		<!-- ENDIF -->
		setTimeout (
			'location.reload()', 
			1000 // 1 second until page reload
		);
	}
	else
	{
		for(i = 0; i < success['ERROR_COUNT']; i++)
		{
			pjB_output_info('', success['ERROR'][i], true);
		}
	}
}

/**
* function quickreply
* show the new post or an error message
*/
function quickreply(success)
{
	if(success['ERROR_COUNT'])
	{
		for(i = 0; i < success['ERROR_COUNT']; i++)
		{
			pjB_output_info('', success['ERROR'][i], true);
		}
	}
	else
	{
		// try to redirect to the last page where we should actually see the post
		if (success['SUCCESS_REDIRECT'] == true)
		{
			var redirect_url = success['SUCCESS_REDIRECT_URL'].replace(/&amp;/g, '&');
			setTimeout (
				'window.location="' + redirect_url + '";', 
				1000 // 1 second until page reload
			);
		}
		else
		{
			pjb('#pjb-quickreply').append(success['TPL_BODY']);
			var cur_id = '';
			/*
			* using this we can get the last id of our quickreply
			* this should be done using the :last select, unfortunately that doesn't work
			*/
			pjb('#pjb-quickreply').children().each( function () {
				cur_id = pjb(this).attr('id');
			});
			
			// we need to bind the click to the new quickedit button
			pjb('.qe-icon a').bind('click', function() {
				post_id = pjb(this).attr('id');
				post_id = post_id.replace(/quickedit/g, ''); // filter out the post ID

				// check if quick edit is already enabled
				if(popup_open != true)
				{
					cur_location = pjb(location).attr('href');
					data = 'mode=quickedit&qe_mode=init&post_id=' + post_id + '&location=' + location;
					pjB_do_ajax('open', data, true);
					popup_open = true;
					cur_post_id = post_id;
				}
			});

   		    pjb('#postingbox textarea.inputbox').val('');
			pjb('#' + cur_id).fadeIn('slow');
			
			<!-- IF PJB_POPUPS_ENABLE -->
			pjB_output_info(success['SUCCESS_TITLE'], success['SUCCESS_MESSAGE'], true);
			<!-- ENDIF -->
		}
	}
}

/**
* handle login messages
* @param (json) data
*/
function pjB_login(data)
{	
	if(data['ERROR'])
	{
		for(i = 0; i < data['ERROR_COUNT']; i++)
		{
			pjB_output_info('', data['ERROR'][i], false);
		}
	}
	else
	{
		pjB_output_info('{LA_LOGIN_LOGOUT}', data['SUCCESS'], true);
		setTimeout (
			'window.location="' + data['LINK'] + '";', 
			1000 // 1 second until page reload
		);
	}
}

/**
* get template for login
*
* @param (json) data
*/
function pjB_login_template(data)
{
	message = data['TPL_BODY'];
	
	login_instance = pjb("#container").notify("create",
	{
		title: "{LA_LOGIN_LOGOUT}",
		text: message
	},
	{
		expires: false
	});
	
	login_open = true;
	
	bind_quickedit_buttons();
}

/**
* check for new PMs
* if there are any update new PM message, if needed
*
* @param (JSON) Json data holding info for new PMs
*/
function pjB_check_pm(data)
{
	/*
	* no error handling ... it's not like anyone would care
	*/
	if(new_pm_count != data['NEW_PM_COUNT'] && data['NEW_PM_COUNT'] > 0 && data['NEW_PM'])
	{
		pjB_output_info('<a id="popupHeader" href="{U_PRIVATEMSGS}">' + data['NEW_PM_MSG'] + '</a>', '{LA_YOU_NEW_PM}<br /><br /><a class="postlink" href="{U_PRIVATEMSGS}">{LA_PROFILE}</a>', false);
		new_pm_count = data['NEW_PM_COUNT'];
	}
}

/**
* creates a new jQuery UI notification message
* @todo: create different design for errors
*
* @param (string) title = Title of the message
* @param (string) message = Message that will be displayed
* @param (bool) expire = define if the message should be faded out after 5 seconds
*/
function pjB_output_info(title, message, expire)
{
	if(expire)
	{
		pjb("#container").notify("create", {
			title: title,
			text: message
		});
	}
	else
	{
		pjb("#container").notify("create", {
			title: title,
			text: message
		},{
			expires: false
		});
	}
}

/** 
* general AJAX function
*/
function pjB_do_ajax(mode, data, use_json)
{
	if(use_json)
	{
		var datatype = 'json';
	}
	else
	{
		var datatype = 'html';
	}

	pjb.ajax({
		type: 'POST',
		data: data,
		dataType: datatype,
		url: '{U_JQUERY_BASE}',
		success: function(data){
			switch(mode)
			{
				case 'open':
					pjb('#quickeditError').html('');
					open_edit(data);
				break;
				case 'submit':
					submit_edit(data);
				break;
				case 'advanced_edit':
					advanced_edit(data);
				break;
				case 'mark_read':
					mark_read(data);
				break;
				case 'quickreply':
					quickreply(data);
				break;
				case 'login':
					pjB_login(data);
				break;
				case 'login_template':
					pjB_login_template(data)
				break;
				case 'check_pm':
					pjB_check_pm(data);
				break;
			}
		}
	});
}

/**
*	some initial vars, needed for the next few functions
*/
// Check for Browser & Platform for PC & IE specific bits
// More details from: http://www.mozilla.org/docs/web-developer/sniffer/browser_type.html
var clientPC = navigator.userAgent.toLowerCase(); // Get client info
var clientVer = parseInt(navigator.appVersion); // Get browser version

var is_ie = ((clientPC.indexOf('msie') != -1) && (clientPC.indexOf('opera') == -1));
var is_win = ((clientPC.indexOf('win') != -1) || (clientPC.indexOf('16bit') != -1));

var baseHeight;

bbcode = new Array();
qe_bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]'<!-- BEGIN custom_tags -->, {custom_tags.BBCODE_NAME}<!-- END custom_tags -->);

/**	Below are all functions regarding BBCodes and the way they are inserted into the textbox
*	Please do not change anything as this might cause major problems
*	Functions are based on the functions in editor.js of prosilver
*	bbCode control by subBlue design [ www.subBlue.com ]
*	Includes unixsafe colour palette selector by SHS`
*	modified by Marc Alexander:	- changed in order to work with jQuery Quick Edit
*								- added jQuery functions
*/



var qe_txt_name = 'jqe-message';
var qe_txt_name2 = '#jqe-message';



/**
* Fix a bug involving the TextRange object. From
* http://www.frostjedi.com/terra/scripts/demo/caretBug.html
*/ 
function qe_initInsertions() 
{
	//var textarea = document.getElementById(qe_txt_name);
	var textarea = pjb(qe_txt_name2);

	if (is_ie && typeof(baseHeight) != 'number')
	{
		//textarea.focus(); // fix stack overflow error in IE
		baseHeight = document.selection.createRange().duplicate().boundingHeight;
	}
}

/**
* bbstyle
*/
function qe_bbstyle(bbnumber)
{	
	if (bbnumber != -1)
	{
		qe_bbfontstyle(qe_bbtags[bbnumber], qe_bbtags[bbnumber+1]);
	} 
	else 
	{
		qe_insert_text('[*]');
		document.getElementById(qe_txt_name).focus();
	}
}

/**
* Apply bbcodes
*/
function qe_bbfontstyle(bbopen, bbclose)
{
	theSelection = false;

	var textarea = document.getElementById(qe_txt_name);

	textarea.focus();

	if ((clientVer >= 4) && is_ie && is_win)
	{
		// Get text selection
		theSelection = document.selection.createRange().text;

		if (theSelection)
		{
			// Add tags around selection
			document.selection.createRange().text = bbopen + theSelection + bbclose;
			document.getElementById(qe_txt_name).focus();
			theSelection = '';
			return;
		}
	}
	else if (document.getElementById(qe_txt_name).selectionEnd && (document.getElementById(qe_txt_name).selectionEnd - document.getElementById(qe_txt_name).selectionStart > 0))
	{
		qe_mozWrap(document.getElementById(qe_txt_name), bbopen, bbclose);
		document.getElementById(qe_txt_name).focus();
		theSelection = '';
		return;
	}
	
	//The new position for the cursor after adding the bbcode
	var caret_pos = qe_getCaretPosition(textarea).start;
	var new_pos = caret_pos + bbopen.length;		

	// Open tag
	qe_insert_text(bbopen + bbclose);

	// Center the cursor when we don't have a selection
	// Gecko and proper browsers
	if (!isNaN(textarea.selectionStart))
	{
		textarea.selectionStart = new_pos;
		textarea.selectionEnd = new_pos;
	}	
	// IE
	else if (document.selection)
	{
		var range = textarea.createTextRange(); 
		range.move("character", new_pos); 
		range.select();
		qe_storeCaret(textarea);
	}

	textarea.focus();
	return;
}

/**
* Insert text at position
*/
function qe_insert_text(text, spaces, popup)
{
	var textarea;
	
	if (!popup) 
	{
		textarea = document.getElementById(qe_txt_name);
	} 
	else 
	{
		textarea = opener.document.getElementById(qe_txt_name);
	}
	if (spaces) 
	{
		text = ' ' + text + ' ';
	}
	
	// Since IE9, IE also has textarea.selectionStart, but it still needs to be treated the old way.
	// Therefore we simply add a !is_ie here until IE fixes the text-selection completely.
	if (!isNaN(textarea.selectionStart) && !is_ie)
	{
		var sel_start = textarea.selectionStart;
		var sel_end = textarea.selectionEnd;

		qe_mozWrap(textarea, text, '');
		textarea.selectionStart = sel_start + text.length;
		textarea.selectionEnd = sel_end + text.length;
	}
	else if (textarea.createTextRange && textarea.caretPos)
	{
		if (baseHeight != textarea.caretPos.boundingHeight) 
		{
			textarea.focus();
			qe_storeCaret(textarea);
		}

		var caret_pos = textarea.caretPos;
		caret_pos.text = caret_pos.text.charAt(caret_pos.text.length - 1) == ' ' ? caret_pos.text + text + ' ' : caret_pos.text + text;
	}
	else
	{
		textarea.value = textarea.value + text;
	}
	if (!popup) 
	{
		textarea.focus();
	}
}

/**
* From http://www.massless.org/mozedit/
*/
function qe_mozWrap(txtarea, open, close)
{
	var selLength = (typeof(txtarea.textLength) == 'undefined') ? txtarea.value.length : txtarea.textLength;
	var selStart = txtarea.selectionStart;
	var selEnd = txtarea.selectionEnd;
	var scrollTop = txtarea.scrollTop;

	if (selEnd == 1 || selEnd == 2) 
	{
		selEnd = selLength;
	}

	var s1 = (txtarea.value).substring(0,selStart);
	var s2 = (txtarea.value).substring(selStart, selEnd);
	var s3 = (txtarea.value).substring(selEnd, selLength);

	txtarea.value = s1 + open + s2 + close + s3;
	txtarea.selectionStart = selStart + open.length;
	txtarea.selectionEnd = selEnd + open.length;
	txtarea.focus();
	txtarea.scrollTop = scrollTop;

	return;
}

/**
* Insert at Caret position. Code from
* http://www.faqts.com/knowledge_base/view.phtml/aid/1052/fid/130
*/
function qe_storeCaret(textEl)
{
	if (textEl.createTextRange)
	{
		textEl.caretPos = document.selection.createRange().duplicate();
	}
}

/**
* Caret Position object
*/
function qe_caretPosition()
{
	var start = null;
	var end = null;
}

/**
* Get the caret position in an textarea
*/
function qe_getCaretPosition(txtarea)
{
	var caretPos = new qe_caretPosition();
	
	// simple Gecko/Opera way
	if(txtarea.selectionStart || txtarea.selectionStart == 0)
	{
		caretPos.start = txtarea.selectionStart;
		caretPos.end = txtarea.selectionEnd;
	}
	// dirty and slow IE way
	else if(document.selection)
	{
	
		// get current selection
		var range = document.selection.createRange();

		// a new selection of the whole textarea
		var range_all = document.body.createTextRange();
		range_all.moveToElementText(txtarea);
		
		// calculate selection start point by moving beginning of range_all to beginning of range
		var sel_start;
		for (sel_start = 0; range_all.compareEndPoints('StartToStart', range) < 0; sel_start++)
		{		
			range_all.moveStart('character', 1);
		}
	
		txtarea.sel_start = sel_start;
	
		// we ignore the end value for IE, this is already dirty enough and we don't need it
		caretPos.start = txtarea.sel_start;
		caretPos.end = txtarea.sel_start;			
	}

	return caretPos;
}

// ]]>
</script>