<!-- INCLUDE overall_header.html -->
<script type="text/javascript">
hs.graphicsDir = '../highslide/graphics/';
hs.align = 'center';
hs.wrapperClassName = 'draggable-header';
hs.dimmingOpacity = 0.80;
hs.width = 685;
hs.hight = 650;
hs.preserveContent = false;
hs.showCredits = false;
</script>

<script type="text/javascript">
<!--
function popup2(mylink, windowname)
{
if (! window.focus)return true;
var href;
if (typeof(mylink) == 'string')
   href=mylink;
else
   href=mylink.href;
window.open(href, windowname, 'width=685,height=650');
return false;
}
//-->
</script>
<h2>{L_DMV_SHOW_VIDEO}: {VIDEO_TITLE}</h2>
<br />
<p>{L_DMV_SHOW_VIDEO_EXPLAIN}</p>
<br  />

<form id="postform" method="post" action="{S_ACTION}">
<table class="tablebg" cellspacing="1" width="100%">
	<tr>
		<th colspan="2">{VIDEO_TITLE} {L_DMV_FROM} {VIDEO_SINGER}</th>
	</tr>
	<tr class="row1">
		<td width="40%" align="center" valign="top">
			<!-- IF S_SHARE_ENABLE -->
				<!-- IF S_SHARE_FACEBOOK -->	<a href="{U_FACEBOOK}" onclick="window.open(this.href); return false"><img src="{T_IMAGESET_LANG_PATH}/share_buttons/shareon_facebook.png" alt="{L_DMV_SHARE_ON_FACEBOOK}" title="{L_DMV_SHARE_ON_FACEBOOK}"/></a><!-- ENDIF -->
				<!-- IF S_SHARE_DIGG -->		<a href="{U_DIGG}" onclick="window.open(this.href); return false"><img src="{T_IMAGESET_LANG_PATH}/share_buttons/shareon_digg.gif" alt="{L_DMV_SHARE_ON_DIGG}" title="{L_DMV_SHARE_ON_DIGG}"/></a><!-- ENDIF -->
				<!-- IF S_SHARE_MYSPACE -->	<a href="{U_MYSPACE}" onclick="window.open(this.href); return false"><img src="{T_IMAGESET_LANG_PATH}/share_buttons/shareon_myspace.png" alt="{L_DMV_SHARE_ON_MYSPACE}" title="{L_DMV_SHARE_ON_MYSPACE}"/></a><!-- ENDIF -->
				<!-- IF S_SHARE_DELICIOUS -->	<a href="{U_DELICIOUS}" onclick="window.open(this.href); return false"><img src="{T_IMAGESET_LANG_PATH}/share_buttons/shareon_delicious.gif" alt="{L_DMV_SHARE_ON_DELICIOUS}" title="{L_DMV_SHARE_ON_DELICIOUS}"/></a><!-- ENDIF -->
				<!-- IF S_SHARE_TECHNORATI -->	<a href="{U_TECHNORATI}" onclick="window.open(this.href); return false"><img src="{T_IMAGESET_LANG_PATH}/share_buttons/shareon_technorati.png" alt="{L_DMV_SHARE_ON_TECHNORATI}" title="{L_DMV_SHARE_ON_TECHNORATI}"/></a><!-- ENDIF -->
			<!-- ENDIF -->
			<div class="gensmall" style="float: right;">
				<!-- IF S_EDIT_VIDEO --><a href="{U_EDIT_VIDEO}" title="{L_EDIT_VIDEO}">{EDIT_IMG}</a><!-- ENDIF -->
				<!-- IF S_DELETE_VIDEO --><a href="{U_DELETE_VIDEO}" title="{L_DELETE_POST}">{DELETE_IMG}</a><!-- ENDIF -->
				<!-- IF S_REPORT_VIDEO --><a href="{U_REPORT_VIDEO}">{REPORT_IMG}</a> <!-- ENDIF --> 
			</div>
			<br />

			<br /><br />
			<!-- IF S_HIGHSLIDE -->
				<a href="{U_SHOW_POPUP}" onclick="return hs.htmlExpand(this, { objectType: 'iframe' } )">{VIDEO}</a>
			<!-- ELSE -->
				<a href="{U_SHOW_POPUP}" onclick="return popup2(this, 'showpopup')">{VIDEO}</a>
			<!-- ENDIF -->
			<br /><br />
			{L_DMV_AUTHOR}: <strong>{VIDEO_ADDED_BY}</strong> {L_DMV_ON} {VIDEO_TIME}<br />
			{VIDEO_CLICKS}
			<br /><br />
			{VIDEO_RATING_IMG}<br />
			<!-- IF S_HAS_PERM_RATE -->
				<br />{L_DMV_RATING}<br />
				{VIDEO_RATING_SELECT}
				<input type="hidden" name="id" value="{ID}" />
				<input type="submit" accesskey="s" tabindex="6" name="submit" value="{L_GO}" class="button2" />&nbsp;
				{S_HIDDEN_FIELDS}
				{S_FORM_TOKEN}
				<br /><br />
			<!-- ENDIF -->
			<br /><br />
		</td>
		<td width="60%" align="center" valign="top">
			<br /><br />
			<img src="{VIDEO_IMAGE}" alt="" />
            {VIDEO_URL}
			<br /><br />
			{VIDEO_SONGTEXT}
			<br /><br />
		</td>
	</tr>
	<tr>
		<td colspan="2" class="cat">&nbsp;</td>
	</tr>
</table>
</form>
<br />
<!-- IF S_ADD_COMMENT -->
<div class="topic-actions">
	<div class="buttons">
		<div class="comment-icon"><a href="{U_ADD_COMMENT}" accesskey="n"><img src="{T_IMAGESET_LANG_PATH}/button_comment_new.gif" alt="{L_DMV_COMMENT_ADD}" /></a></div>
	</div>
</div>
<!-- ENDIF -->
<br /><br />
<!-- BEGIN comments -->
	<!-- IF comments.S_FIRST_ROW -->
		<table class="tablebg" cellspacing="1" width="100%">
			<tr>
				<!-- IF comments.S_EDIT_COMMENT or comments.S_DELETE_COMMENT -->
					<th width="60%">{L_DMV_COMMENT}</th>
					<th width="20%">{L_DMV_AUTHOR}</th>
					<th width="25%">{L_DMV_ACTION}</th>
				<!-- ELSE -->
					<th width="70%">{L_DMV_COMMENT}</th>
					<th width="20%">{L_DMV_AUTHOR}</th>
				<!-- ENDIF -->
			</tr>
	<!-- ENDIF -->
			<tr class="<!-- IF comments.S_ROW_COUNT is odd -->row1<!-- ELSE -->row2<!-- ENDIF -->">
				<!-- IF comments.S_EDIT_COMMENT or comments.S_DELETE_COMMENT -->
					<td width="60%">{comments.VIDEO_COMMENT}</td>
					<td width="20%" valign="top">
							&nbsp;{L_POST_BY_AUTHOR} {comments.COMMENT_AUTHOR_FULL}<br />
							&nbsp;{L_POSTED_ON_DATE} {comments.COMMENT_POST_TIME}<br />
					</td>
					<td width="25%" valign="top" align="center">
						<!-- IF comments.S_EDIT_COMMENT --><a href="{comments.U_EDIT_COMMENT}" title="{L_DMV_COMMENT_EDIT}">{EDIT_IMG}</a><!-- ENDIF -->
						<!-- IF comments.S_DELETE_COMMENT --><a href="{comments.U_DELETE_COMMENT}" title="{L_DMV_COMMENT_DEL}">{DELETE_IMG}</a><!-- ENDIF -->
					</td>
				<!-- ELSE -->
					<td width="70%">{comments.VIDEO_COMMENT}</td>
					<td width="20%" valign="top">
							&nbsp;{L_POST_BY_AUTHOR} {comments.COMMENT_AUTHOR_FULL}<br />
							&nbsp;{L_POSTED_ON_DATE} {comments.COMMENT_POST_TIME}<br />
					</td>
				<!-- ENDIF -->
			</tr>
	<!-- IF comments.S_LAST_ROW -->
			<tr>
				<td colspan="3" class="cat">&nbsp;</td>
			</tr>
		</table>
	<!-- ENDIF -->
<!-- BEGINELSE -->
	<!-- IF comments.S_ROW_COUNT == 0 -->
		<p><br /><br />	
		<strong>{L_DMV_COMMENT_NONE}</strong>
		<br /><br />
		</p>
	<!-- ENDIF -->
<!-- END comments -->
<br /><br />
<!-- IF S_SHOW_COMMENTS -->
{CC}</a> | 
<!-- ENDIF -->
<a href="{U_SHOW_ALL_COMMENTS}">{L_DMV_SHOW_ALL_COMMENTS}</a>
<br />
<div class="clear"></div>
<br />

<p></p><p><a href="{U_BACK_CAT}" class="left-box {S_CONTENT_FLOW_BEGIN}" accesskey="r">{L_RETURN_TO} {VIDEO_CAT_NAME}</a>&nbsp;|&nbsp;<a href="{U_BACK_PAGE}">{L_DMV_BACK_PAGE}</a></p>
<br />

<!-- INCLUDE dm_video/video_footer.html -->