<!-- INCLUDE overall_header.html -->
<h2>{VIDEO_TITLE}</h2>
<br />
<!-- IF S_ADD_COMMENT -->
<div class="topic-actions">
	<div class="buttons">
		<div class="comment-icon"><a href="{U_ADD_COMMENT}" accesskey="n"><img src="{T_IMAGESET_LANG_PATH}/button_comment_new.gif" alt="{L_DMV_COMMENT_ADD}" /></a></div>
	</div>
</div>
<!-- ENDIF -->
<br /><br />
<!-- BEGIN comments -->
	<!-- IF comments.S_FIRST_ROW -->
		<table class="tablebg" cellspacing="1" width="100%">
			<tr>
				<!-- IF comments.S_EDIT_COMMENT or comments.S_DELETE_COMMENT -->
					<th width="60%">{L_DMV_COMMENT}</th>
					<th width="20%">{L_DMV_AUTHOR}</th>
					<th width="25%">{L_DMV_ACTION}</th>
				<!-- ELSE -->
					<th width="70%">{L_DMV_COMMENT}</th>
					<th width="20%">{L_DMV_AUTHOR}</th>
				<!-- ENDIF -->
			</tr>
	<!-- ENDIF -->
			<tr class="<!-- IF comments.S_ROW_COUNT is odd -->row1<!-- ELSE -->row2<!-- ENDIF -->">
				<!-- IF comments.S_EDIT_COMMENT or comments.S_DELETE_COMMENT -->
					<td width="60%">{comments.VIDEO_COMMENT}</td>
					<td width="20%" valign="top">
							&nbsp;{L_POST_BY_AUTHOR} {comments.COMMENT_AUTHOR_FULL}<br />
							&nbsp;{L_POSTED_ON_DATE} {comments.COMMENT_POST_TIME}<br />
					</td>
					<td width="25%" valign="top" align="center">
						<!-- IF comments.S_EDIT_COMMENT --><a href="{comments.U_EDIT_COMMENT}" title="{L_DMV_COMMENT_EDIT}">{EDIT_IMG}</a><!-- ENDIF -->
						<!-- IF comments.S_DELETE_COMMENT --><a href="{comments.U_DELETE_COMMENT}" title="{L_DMV_COMMENT_DEL}">{DELETE_IMG}</a><!-- ENDIF -->
					</td>
				<!-- ELSE -->
					<td width="70%">{comments.VIDEO_COMMENT}</td>
					<td width="20%" valign="top">
							&nbsp;{L_POST_BY_AUTHOR} {comments.COMMENT_AUTHOR_FULL}<br />
							&nbsp;{L_POSTED_ON_DATE} {comments.COMMENT_POST_TIME}<br />
					</td>
				<!-- ENDIF -->
			</tr>
	<!-- IF comments.S_LAST_ROW -->
			<tr>
				<td colspan="3" class="cat">&nbsp;</td>
			</tr>
		</table>
	<!-- ENDIF -->
<!-- BEGINELSE -->
	<!-- IF comments.S_ROW_COUNT == 0 -->
		<p><br /><br />	
		<strong>{L_DMV_COMMENT_NONE}</strong>
		<br /><br />
		</p>
	<!-- ENDIF -->
<!-- END comments -->
<br /><br />
<p><a href="{U_BACK_VIDEO}" class="left-box {S_CONTENT_FLOW_BEGIN}" accesskey="r">{L_RETURN_TO} {VIDEO_NAME}</a></p>
<br />
<!-- IF PAGINATION or TOTAL_COMMENTS -->
<div align="right" class="pagination">
	{TOTAL_COMMENTS}<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
</div>
<!-- ENDIF -->
<!-- INCLUDE dm_video/video_footer.html -->
