<!-- INCLUDE overall_header.html -->
<h2>{TOPTEN_RATING}</h2>
<p>{TOPTEN_RATE_EXPLAIN}</p>

<br />
<a href="{U_BACK}">{L_DMV_BACK}</a> | <a href="{U_TOP_HITS}">{TOPTEN_HITS}</a><br /><br />
<table class="tablebg" width="100%" cellspacing="1" style="table-layout: fixed;">
	<tr>
		<th align="center" style="width: 5%;">{L_DMV_RANK}</th>
		<th align="center">{L_DMV_TITLE}</th>
		<th align="center" style="width: 20%;">{L_DMV_SINGER}</th>
		<th align="center" style="width: 20%;">{L_DMV_CAT_NAME1}</th>
		<th align="center" style="width: 10%;">{L_DMV_VIDEO_RATES}</th>
	</tr>
	<!-- BEGIN toptenrow -->
	<tr class="<!-- IF toptenrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<td align="center" class="row1"><span class="genmed">{toptenrow.POS}</span></td>
		<td align="center" class="row1"><span class="genmed"><a href="{toptenrow.U_SHOW_VIDEO}"><strong>{toptenrow.VIDEO_TITLE}</strong></a></span></td>
		<td align="center" class="row1"><span class="genmed">{toptenrow.VIDEO_SINGER}</span></td>
		<td align="center" class="row1"><span class="genmed">{toptenrow.VIDEO_CAT_NAME}</span></td>
		<td align="center" class="row1"><span class="genmed">{toptenrow.VIDEO_RATING_IMG}</span></td>
	</tr>
	<!-- BEGINELSE -->
	<tr>
		<td class="bg1" colspan="<!-- IF S_CLEAR_ALLOWED -->6<!-- ELSE -->5<!-- ENDIF -->" align="center"><span class="gen">{L_DMV_NO_VIDEOS}</span></td>
	</tr>
	<!-- END toptenrow -->
</table>
<!-- INCLUDE dm_video/video_footer.html -->