<div class="catglow">
        <div class="cathead-m">
            <div class="cathead-r">
                <div class="cathead-l">
                    Facebook
                </div>
            </div>
        </div>
        
        <!-- IF $COLLAPSIBLE_CATEGORIES -->
            <!-- IF SCRIPT_NAME eq 'index' --><div class="trigger active"></div><!-- ENDIF -->
        <!-- ENDIF -->
        <div class="collapsethis">
            <table class="cat" cellpadding="0" cellspacing="0" width="100%">
                <tr><td height="400px">
            <!-- Facebook box start -->
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/it_IT/sdk.js#xfbml=1&appId=191648171028632&version=v2.0";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-like-box" data-href="https://www.facebook.com/PCMItalia" data-width="300" data-height="500" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>                
            <!-- Facebook box end -->
                </td></tr>
             </table>
        </div>
</div>