<div class="catglow">
        <div class="cathead-m">
            <div class="cathead-r">
                <div class="cathead-l">
                    Google+
                </div>
            </div>
        </div>
        
        <!-- IF $COLLAPSIBLE_CATEGORIES -->
            <!-- IF SCRIPT_NAME eq 'index' --><div class="trigger active"></div><!-- ENDIF -->
        <!-- ENDIF -->
        <div class="collapsethis">
            <table class="cat" cellpadding="0" cellspacing="0" width="100%">
                <tr><td>
                    <!-- Inserisci questo tag nel punto in cui vuoi che sia visualizzato l'elemento widget. -->
                    <div class="g-page" data-href="https://plus.google.com/115996332766555678947" data-showtagline="false" data-rel="publisher"></div>
                    
                    <!-- Inserisci questo tag dopo l'ultimo tag di widget. -->
                    <script type="text/javascript">
                      window.___gcfg = {lang: 'it'};
                    
                      (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/platform.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                      })();
                    </script>
                </td></tr>
             </table>
        </div>
</div>