<!-- INCLUDE overall_header.html -->

<!-- INCLUDE tag_board.html -->


<!-- IF S_MCHAT_ENABLE and S_MCHAT_ON_INDEX and S_MCHAT_LOCATION --><!-- INCLUDE mchat_body.html --><!-- ENDIF -->

<br />
<table id="forumtable" width="100%">
	<tr>
    	<td valign="top">
        	<!-- INCLUDE forumlist_body.html -->
        </td>
    	<td width="10px">
        </td>        
        <td width="300px" valign="top">
        	<!-- INCLUDE socialnetwork_widget.html -->
        </td>
	</tr>
</table>
<br />
<!-- IF S_CALENDAR_WEEK -->
	<!-- INCLUDE calendar_week_on_index.html -->
<!-- ELSEIF S_CALENDAR_NEXT_EVENTS -->
	<!-- INCLUDE calendar_next_events_on_index.html -->
<!-- ENDIF -->
<!-- IF S_MCHAT_ENABLE and S_MCHAT_ON_INDEX and not S_MCHAT_LOCATION --><!-- INCLUDE mchat_body.html --><!-- ENDIF -->

<br />

<div class="indexlinks">
    <!-- IF U_TEAM --><a href="{U_TEAM}">{L_THE_TEAM}</a> | <!-- ENDIF -->
    <!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a><!-- ENDIF --> | 
    <a href="{U_FAQ}">{L_FAQ}</a>
    <!-- IF not S_IS_BOT and U_MARK_FORUMS and SCRIPT_NAME eq 'index' --> | <a href="{U_MARK_FORUMS}" accesskey="m" class="markread">{L_MARK_FORUMS_READ}</a><!-- ENDIF -->  
    <br />{CURRENT_TIME}
</div>

<br />

<div class="catglow">
    <div class="cathead-m">
        <div class="cathead-r">
            <div class="cathead-l">
            	{L_INFORMATION}
            </div>
        </div>
    </div>
    <div class="collapsethis">
    	<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT -->
            <div class="statspanel" style="background-image: url('{T_THEME_PATH}/images/lock.png');">
                <form method="post" action="{S_LOGIN_ACTION}">
                    <fieldset class="quick-login">
                        <label for="username">{L_USERNAME}:</label>&nbsp;<input type="text" name="username" id="username" size="10" class="inputbox" title="{L_USERNAME}" />
                        <label for="password">{L_PASSWORD}:</label>&nbsp;<input type="password" name="password" id="password" size="10" class="inputbox" title="{L_PASSWORD}" />
                        <!-- IF S_AUTOLOGIN_ENABLED -->
                            <input type="checkbox" name="autologin" id="autologin" class="tip" title="{L_LOG_ME_IN}" /> &nbsp;
                        <!-- ENDIF -->
                        <input type="submit" name="login" value="{L_LOGIN}" class="button2" />
                        {S_LOGIN_REDIRECT}
                    </fieldset>
                </form>
            </div>
        <!-- ENDIF -->
        
         	<div class="statspanel" style="background-image: url('{T_THEME_PATH}/images/who-is-online.png');">       
     		   <!-- IF S_DISPLAY_ONLINE_LIST -->
                    <!--({L_ONLINE_EXPLAIN})--><!-- IF S_USER_LOGGED_IN and U_VIEWONLINE --><strong><a href="{U_VIEWONLINE}">{L_WHO_IS_ONLINE}?</a></strong> -<!-- ENDIF --> {TOTAL_USERS_ONLINE} 
                    <!--<br />{RECORD_USERS}-->
                    <br />{LOGGED_IN_USER_LIST}<br />
     		   <!-- ENDIF -->
               
                <!-- IF WHO_WAS_HERE_TOTAL -->
                		<br />
                        <strong>{L_WHO_WAS_HERE}</strong> - {WHO_WAS_HERE_TOTAL} ({WHO_WAS_HERE_EXP})<br />{WHO_WAS_HERE_RECORD}
                        {WHO_WAS_HERE_LIST}                                   
                        <br />
                <!-- ELSEIF U_ACP -->
                        <br /><strong>{L_WHO_WAS_HERE}</strong> - {L_WWH_UPDATE_NEED}<br />             
                <!-- ENDIF -->  
                        
				<!-- INCLUDE mchat_stats.html -->    
                
                 <!-- IF LEGEND --><br /><strong>{L_LEGEND}: {LEGEND}</strong><!-- ENDIF -->   
            </div>
 
         	<div class="statspanel" style="background-image: url('{T_THEME_PATH}/images/statistics.png');">                           

                <!-- IF NEWEST_USER -->
                        {TOTAL_POSTS} &bull; {TOTAL_TOPICS} <!-- IF TOTAL_IMAGES --> &bull; {TOTAL_IMAGES}<!-- ENDIF --> &bull; {TOTAL_USERS} &bull; {NEWEST_USER} <br /><!-- IF TOTAL_BANNED_USERS -->&bull; {L_BANNED_USERS} <a href="{U_BANLIST}">{TOTAL_BANNED_USERS}</a> <!-- ENDIF -->
                <!-- ENDIF -->
                
                <!-- Start Ultimate Points -->
                <!-- IF S_DISPLAY_POINTS_STATS -->
                		<br />
                        <strong>{L_POINTS_STATISTICS}:</strong> {TOTAL_POINTS_USER} &bull; {TOTAL_BANK_USER} &bull; {TOTAL_BANK_POINTS} <!-- IF S_DISPLAY_LOTTERY--> &bull; {LOTTERY_TIME} <!-- ENDIF -->                           
                        <!-- IF S_DISPLAY_INDEX -->
                        <br />
                        <strong>{L_POINTS_MOST_RICH_USERS}:</strong>
                        <!-- BEGIN rich_user --><!-- IF not rich_user.S_FIRST_ROW --> &bull; <!-- ENDIF -->{rich_user.USERNAME} ({rich_user.SUM_POINTS} {rich_user.SUM_POINTS_NAME})<!-- END rich_user -->
                        <!-- ENDIF --> 
                        <br /> 
                <!-- ENDIF -->       
                <!-- End Ultimate Points -->
                
                <!-- IF RS_TOPLIST -->
                		<br />
                        <strong>{L_RS_TOPLIST}:</strong>
                        {L_RS_TOPLIST_EXPLAIN}: <strong>{RS_TOPLIST}</strong>
                <!-- ENDIF -->        
						<br /> 
                        
                <!-- Start DM Video -->
                <!-- IF S_VIDEO_EXIST -->
					<br /> 
                    <strong>{L_DMV_MOST_SEEN_VIDEOS}:</strong>&nbsp;
                    {NUMBER_VIDEOS}<br/><!-- BEGIN videoline --><!-- IF not videoline.S_FIRST_ROW --> &bull; <!-- ENDIF --> {videoline.TITEL} ({videoline.VIDEO_COUNTER}) <!-- END videoline -->
                <!-- ENDIF -->
                <!-- End DM Video -->
                        
                <!-- IF DONATION_STATS_INDEX_ENABLE and (DONATION_RAISED_ENABLE or DONATION_GOAL_ENABLE or DONATION_USED_ENABLE) -->
                    <!-- INCLUDE donate/donate_stats.html -->
                <!-- ENDIF -->
              </div>
                    
        <!-- IF S_DISPLAY_BIRTHDAY_LIST and BIRTHDAY_LIST -->
        	<div class="statspanel" style="background-image: url('{T_THEME_PATH}/images/birthdays.png');">
            	<!-- IF BIRTHDAY_LIST -->{L_CONGRATULATIONS}: <strong>{BIRTHDAY_LIST}</strong><!-- ELSE -->{L_NO_BIRTHDAYS}<!-- ENDIF -->
            </div>
        <!-- ENDIF -->
        

 	<ul class="linklist<!-- IF GYM_LINKS --> navlinks<!-- ENDIF -->">
     
    <!-- IF GYM_LINKS -->
		<div class="statspanel" >
            <!-- IF GYM_HTML_NEWS_LINK -->{GYM_HTML_NEWS_LINK} &bull; <!-- ENDIF -->
            <!-- IF GYM_HTML_MAP_LINK -->{GYM_HTML_MAP_LINK} &bull; <!-- ENDIF -->
            <!-- IF GYM_GOOGLE_LINK -->{GYM_GOOGLE_LINK} &bull; <!-- ENDIF -->
            <!-- IF GYM_RSS_LINK -->{GYM_RSS_LINK} &bull; <!-- ENDIF -->
            <!-- IF GYM_RSS_CHAN_LINK -->{GYM_RSS_CHAN_LINK}<!-- ENDIF -->
		</div>
    <!-- ENDIF -->          

            

    </div>
</div>

<!-- INCLUDE overall_footer.html -->