<!-- IF S_MCHAT_ENABLE and MCHAT_INDEX_STATS and U_MCHAT -->
		<br /> 
        <a href="{U_MCHAT}#mChat"><strong>{L_WHO_IS_CHATTING}</strong></a>&nbsp;-&nbsp;     
		{MCHAT_INDEX_USERS_COUNT} {L_MCHAT_ONLINE_EXPLAIN}<br />{MCHAT_INDEX_USERS_LIST}<br />
<!-- ENDIF -->