<!-- INCLUDE overall_header.html -->

<h2>{PAGE_TITLE}</h2>

<form method="post" action="{S_PROFILE_ACTION}" id="viewprofile">
<div class="panel bg1<!-- IF S_ONLINE --> online<!-- ENDIF -->">
	<div class="inner"><span class="corners-top"><span></span></span>

	<!-- IF AVATAR_IMG -->
		<dl class="left-box">
			<dt>{AVATAR_IMG}</dt>
			<!-- IF RANK_TITLE --><dd style="text-align: center;">{RANK_TITLE}</dd><!-- ENDIF -->
			<!-- IF RANK_IMG --><dd style="text-align: center;">{RANK_IMG}</dd><!-- ENDIF -->
		</dl>
	<!-- ENDIF -->

	<dl class="left-box details" style="width: 80%;">
		<dt>{L_USERNAME}:</dt>
		<dd>
			<!-- IF USER_COLOR --><span style="color: {USER_COLOR}; font-weight: bold;"><!-- ELSE --><span><!-- ENDIF -->{USERNAME}</span>
			<!-- IF U_USER_ADMIN --> [ <a href="{U_USER_ADMIN}">{L_USER_ADMIN}</a> ]<!-- ENDIF -->
			<!-- IF U_USER_BAN --> [ <a href="{U_USER_BAN}">{L_USER_BAN}</a> ]<!-- ENDIF -->
			<!-- IF U_SWITCH_PERMISSIONS --> [ <a href="{U_SWITCH_PERMISSIONS}">{L_USE_PERMISSIONS}</a> ]<!-- ENDIF -->
		</dd>
		<!-- IF not AVATAR_IMG -->
			<!-- IF RANK_TITLE --><dt>{L_RANK}:</dt> <dd>{RANK_TITLE}</dd><!-- ENDIF -->
			<!-- IF RANK_IMG --><dt><!-- IF RANK_TITLE -->&nbsp;<!-- ELSE -->{L_RANK}:<!-- ENDIF --></dt> <dd>{RANK_IMG}</dd><!-- ENDIF -->
		<!-- ENDIF -->
		<!-- IF S_USER_INACTIVE --><dt>{L_USER_IS_INACTIVE}:</dt> <dd>{USER_INACTIVE_REASON}</dd><!-- ENDIF -->
		<!-- IF LOCATION --><dt>{L_LOCATION}:</dt> <dd>{LOCATION}</dd><!-- ENDIF -->
		<!-- IF AGE !== '' --><dt>{L_AGE}:</dt> <dd>{AGE}</dd><!-- ENDIF -->
		<!-- IF OCCUPATION --><dt>{L_OCCUPATION}:</dt> <dd>{OCCUPATION}</dd><!-- ENDIF -->
		<!-- IF INTERESTS --><dt>{L_INTERESTS}:</dt> <dd>{INTERESTS}</dd><!-- ENDIF -->
		<!-- IF S_GROUP_OPTIONS --><dt>{L_USERGROUPS}:</dt> <dd><select name="g">{S_GROUP_OPTIONS}</select> <input type="submit" name="submit" value="{L_GO}" class="button2" /></dd><!-- ENDIF -->
<!-- IF U_GALLERY --><dt>{L_GALLERY}:</dt> <dd><a href="{U_GALLERY}">{SHOW_PERSONAL_ALBUM_OF}</a></dd><!-- ENDIF -->
		<!-- BEGIN custom_fields --><dt>{custom_fields.PROFILE_FIELD_NAME}:</dt> <dd>{custom_fields.PROFILE_FIELD_VALUE}</dd><!-- END custom_fields -->
		<!-- IF S_USER_LOGGED_IN and S_ZEBRA -->
			<!-- IF U_REMOVE_FRIEND -->
				<dt>&nbsp;</dt> <dd><a href="{U_REMOVE_FRIEND}"><strong>{L_REMOVE_FRIEND}</strong></a></dd>
			<!-- ELSEIF U_REMOVE_FOE -->
				<dt>&nbsp;</dt> <dd><a href="{U_REMOVE_FOE}"><strong>{L_REMOVE_FOE}</strong></a></dd>
			<!-- ELSE -->
				<!-- IF U_ADD_FRIEND -->
					<dt>&nbsp;</dt> <dd><a href="{U_ADD_FRIEND}"><strong>{L_ADD_FRIEND}</strong></a></dd>
				<!-- ENDIF -->
				<!-- IF U_ADD_FOE -->
					<dt>&nbsp;</dt> <dd><a href="{U_ADD_FOE}"><strong>{L_ADD_FOE}</strong></a></dd>
				<!-- ENDIF -->
			<!-- ENDIF -->
		<!-- ENDIF -->
	</dl>

	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div class="column1">

		<h3>{L_CONTACT_USER} {USERNAME}</h3>

		<dl class="details">
		<!-- IF U_EMAIL --><dt>{L_EMAIL_ADDRESS}:</dt> <dd><a href="{U_EMAIL}">{L_SEND_EMAIL_USER} {USERNAME}</a></dd><!-- ENDIF -->
		<!-- IF U_WWW --><dt>{L_WEBSITE}:</dt> <dd><a href="{U_WWW}" title="{L_VISIT_WEBSITE}: {U_WWW}">{U_WWW}</a></dd><!-- ENDIF -->
		<!-- IF U_PM --><dt>{L_PM}:</dt> <dd><a href="{U_PM}">{L_SEND_PRIVATE_MESSAGE}</a></dd><!-- ENDIF -->
		<!-- IF U_MSN or USER_MSN --><dt>{L_MSNM}:</dt> <dd><!-- IF U_MSN --><a href="{U_MSN}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_MSNM_MESSAGE}</a><!-- ELSE -->{USER_MSN}<!-- ENDIF --></dd><!-- ENDIF -->
		<!-- IF U_YIM or USER_YIM --><dt>{L_YIM}:</dt> <dd><!-- IF U_YIM --><a href="{U_YIM}" onclick="popup(this.href, 780, 550); return false;">{L_SEND_YIM_MESSAGE}</a><!-- ELSE -->{USER_YIM}<!-- ENDIF --></dd><!-- ENDIF -->
		<!-- IF U_AIM or USER_AIM --><dt>{L_AIM}:</dt> <dd><!-- IF U_AIM --><a href="{U_AIM}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_AIM_MESSAGE}</a><!-- ELSE -->{USER_AIM}<!-- ENDIF --></dd><!-- ENDIF -->
		<!-- IF U_ICQ or USER_ICQ --><dt>{L_ICQ}:</dt> <dd><!-- IF U_ICQ --><a href="{U_ICQ}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_ICQ_MESSAGE}</a><!-- ELSE -->{USER_ICQ}<!-- ENDIF --></dd><!-- ENDIF -->
<!-- IF U_SKYPE or USER_SKYPE--><dt>{L_SKYPE}:</dt> <dd><!-- IF U_SKYPE --><a href="{U_SKYPE}" onclick="popup(this.href, 550, 400); return false;">{L_SEND_SKYPE_MESSAGE}</a><!-- ELSE -->{USER_SKYPE}<!-- ENDIF --></dd><!-- ENDIF -->
		<!-- IF U_JABBER and S_JABBER_ENABLED --><dt>{L_JABBER}:</dt> <dd><a href="{U_JABBER}" onclick="popup(this.href, 550, 320); return false;">{L_SEND_JABBER_MESSAGE}</a></dd><!-- ELSEIF USER_JABBER --><dt>{L_JABBER}:</dt> <dd>{USER_JABBER}</dd><!-- ENDIF -->
		<!-- IF USER_TWITTER --><dt>{L_TWITTER}:</dt> <dd><a href="http://twitter.com/{USER_TWITTER}" title="{L_VIEW_TWITTER}: {USER_TWITTER}">{L_VIEW_TWITTER}</a></dd><!-- ENDIF -->
		<!-- IF U_FACEBOOK or USER_FACEBOOK --><dt>{L_FACEBOOK}:</dt> <dd><!-- IF U_FACEBOOK --><a href="{U_FACEBOOK}">{USER_FACEBOOK}</a><!-- ELSE -->{USER_FACEBOOK}<!-- ENDIF --></dd><!-- ENDIF -->
		<!-- IF S_PROFILE_FIELD1 -->
			<!-- NOTE: Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
			<dt>{PROFILE_FIELD1_NAME}:</dt> <dd>{PROFILE_FIELD1_VALUE}</dd>
		<!-- ENDIF -->
		</dl>
	</div>

	<div class="column2">
		<h3>{L_USER_FORUM}</h3>
		<dl class="details">
			<dt>{L_JOINED}:</dt> <dd>{JOINED}</dd>
			<dt>{L_VISITED}:</dt> <dd>{VISITED}</dd>
			<!-- Start Ultimate Points -->
			<!-- IF USE_POINTS -->
				<dt>{L_POINTS_CASH_ON_HAND}:</dt>
				<dd><!-- IF U_LOCKED --><b>{L_POINTS_LOCKED}</b><!-- ELSE -->{U_POINTS1} <!-- IF USE_IMAGES_POINTS --><img src="{T_THEME_PATH}/images/money.png" width="11px" height="11px" alt="" /><!-- ELSE -->{P_NAME}<!-- ENDIF --><br /><a href="{U_POINTS_DONATE}">{L_DONATE}</a> <a href="{U_POINTS_MODIFY}">{L_MOD_USER_POINTS}</a><!-- ENDIF --></dd>
			<!-- IF USE_BANK -->
				<!-- BEGIN has_account -->
				<dt>{L_BANK_BALANCE}:</dt>
				<dd><!-- IF U_BLOCKED --><b>{L_POINTS_LOCKED}</b><!-- ELSE --> {BANK_GOLD} <!-- IF USE_IMAGES_POINTS --><img src="{T_THEME_PATH}/images/money.png" width="11px" height="11px" alt="" /><!-- ELSE -->{P_NAME}<!-- ENDIF --><br /><a href="{U_BANK_MODIFY}">{L_MOD_USER_BANK}</a><!-- ENDIF --></dd>
				<!-- END has_account -->
				<!-- BEGIN no_account -->
				<dt>{L_BANK_BALANCE}:</dt>
				<dd>{no_account.BANK_NO_ACCOUNT}</dd>
				<!-- END no_account -->
			<!-- ENDIF -->
			<!-- ENDIF -->
			<!-- End Ultimate Points -->
			<!-- IF S_WARNINGS -->
			<dt>{L_WARNINGS}: </dt>
			<dd><strong>{WARNINGS}</strong><!-- IF U_NOTES or U_WARN --> [ <!-- IF U_NOTES --><a href="{U_NOTES}">{L_VIEW_NOTES}</a><!-- ENDIF --> <!-- IF U_WARN --><!-- IF U_NOTES --> | <!-- ENDIF --><a href="{U_WARN}">{L_WARN_USER}</a><!-- ENDIF --> ]<!-- ENDIF --></dd>
			<!-- ENDIF -->

			<dt>{L_MEDALS_VIEW}:</dt> <dd>{USER_MEDAL_COUNT} <!-- IF U_CAN_AWARD_MEDALS -->| <a href="{U_CAN_AWARD_MEDALS}"><strong>{L_AWARD_MEDAL}</strong></a><!-- ENDIF --><!-- IF U_NOMINATE --> | <a href="{U_NOMINATE}"><strong>{L_NOMINATE}</strong></a><!-- ENDIF --></dd>
			<dt>{L_TOTAL_POSTS}:</dt>
				<dd>{POSTS} <!-- IF S_DISPLAY_SEARCH -->| <strong><a href="{U_SEARCH_USER}">{L_SEARCH_USER_POSTS}</a></strong><!-- ENDIF -->
					<!-- IF POSTS_PCT --><br />({POSTS_PCT} / {POSTS_DAY})<!-- ENDIF -->
					<!-- IF POSTS_IN_QUEUE and U_MCP_QUEUE --><br />(<a href="{U_MCP_QUEUE}">{L_POSTS_IN_QUEUE}</a>)<!-- ELSEIF POSTS_IN_QUEUE --><br />({L_POSTS_IN_QUEUE})<!-- ENDIF -->
				</dd>
			<!-- IF TOTAL_IMAGES -->
				<dt>{L_TOTAL_IMAGES}:</dt>
					<dd>{IMAGES} | <strong><a href="{U_SEARCH_GALLERY}">{L_SEARCH_USER_IMAGES}</a></strong>
						<!-- IF IMAGES_PCT --><br />({IMAGES_PCT} / {IMAGES_DAY})<!-- ENDIF -->
					</dd>
			<!-- ENDIF -->
			<!-- IF S_REPUTATION -->
				<dt>{L_REPUTATION}:</dt> <dd><span class="user-reputation"><strong>{REPUTATION}</strong></span></a> <!-- IF U_VIEW_REP_LIST or S_RATE_USER --> [ <!-- IF U_VIEW_REP_LIST --><a href="{U_VIEW_REP_LIST}">{L_RS_VIEW_DETAILS}</a><!-- ENDIF --> <!-- IF S_RATE_USER --><!-- IF U_VIEW_REP_LIST --> | <!-- ENDIF --><a href="#" onclick="jRS.userrating('{USER_ID}', event); return false;">{L_RS_RATE_USER}</a><!-- ENDIF --> ]<!-- ENDIF --></dd>
			<!-- ENDIF -->
			<!-- IF S_SHOW_ACTIVITY and POSTS -->
				<dt>{L_ACTIVE_IN_FORUM}:</dt> <dd><!-- IF ACTIVE_FORUM != '' --><strong><a href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a></strong><br />({ACTIVE_FORUM_POSTS} / {ACTIVE_FORUM_PCT})<!-- ELSE --> - <!-- ENDIF --></dd>
				<dt>{L_ACTIVE_IN_TOPIC}:</dt> <dd><!-- IF ACTIVE_TOPIC != '' --><strong><a href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a></strong><br />({ACTIVE_TOPIC_POSTS} / {ACTIVE_TOPIC_PCT})<!-- ELSE --> - <!-- ENDIF --></dd>
			<!-- ENDIF -->
 			<!-- Start DM Video -->
			<!-- IF S_VIDEO_EXIST -->
				<dt>{L_DMV_OWN_VIDEO}:</dt> <dd>{USER_OWN_VIDEOS}</dd>
			<!-- ENDIF -->
			<!-- End DM Video -->           
		</dl>
	</div>
	<span class="corners-bottom"><span></span></span></div>
</div>


<!-- SAFEGT START -->
<!-- IF XBOXGT or PSNGT or WIIGT or STEAMGT or XFIREGT or ORIGINID -->
<div class="panel bg1">
	<div class="inner"><span class="corners-top"><span></span></span>

		<h3>{L_GAMERTAG}</h3>

		<dl class="details">
			<!-- IF S_XBOX and XBOXGT --><dt>{L_XBOXGT}: </dt>
			<dd> <a href="https://live.xbox.com/en-US/Profile?gamertag={XBOXGT}" onclick="window.open(this.href);return false;" onmouseover="return getXboxCard('{XBOXGT_IMG}', LEFT);" onmouseout="nd();">{XBOXGT}</a></dd><!-- ENDIF -->
			<!-- IF S_PSN and PSNGT --><dt>{L_PSNGT}: </dt>
			<dd> <a href="{PSNURL}" onclick="window.open(this.href);return false;" onmouseover="return overlibImage('{PSNGT_IMG}', DELAY, 500);" onmouseout="overlibMouseout();">{PSNGT}</a></dd><!-- ENDIF -->
			<!-- IF S_WII and WIIGT --><dt>{L_WIIGT}: </dt>
			<dd> <a href="http://www.nintendo.com/wii/" onclick="window.open(this.href);return false;" onmouseover="return overlibImage('{WIIGT_IMG}', DELAY, 500);" onmouseout="overlibMouseout();">{WIIGT}</a></dd><!-- ENDIF -->
			<!-- IF S_STEAM and STEAMGT --><dt>{L_STEAM_NAME}: </dt>
			<dd> <a href="http://steamcommunity.com/profiles/{STEAMID}" onclick="window.open(this.href);return false;" onmouseover="return overlibImage('{STEAMGT_IMG}', DELAY, 500);" onmouseout="overlibMouseout();">{STEAMGT}</a></dd><!-- ENDIF -->
			<!-- IF S_XFIRE and XFIREGT --><dt>{L_XFIRE_NAME}: </dt>
			<dd> <a href="http://www.xfire.com/profile/{XFIREGT}" onclick="window.open(this.href);return false;" onmouseover="return overlibImage('{XFIREGT_IMG}', DELAY, 500);" onmouseout="overlibMouseout();">{XFIREGT}</a></dd><!-- ENDIF -->
			<!-- IF S_ORIGIN and ORIGINID --><dt>{L_ORIGIN}: </dt>
			<dd> <a href="http://www.origin.com" onclick="window.open(this.href);return false;" >{ORIGINID}</a></dd><!-- ENDIF -->
		</dl>

	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
<!-- SAFEGT END -->
<!-- IF SIGNATURE -->
<div class="panel bg1">
	<div class="inner"><span class="corners-top"><span></span></span>

		<h3>{L_SIGNATURE}</h3>

		<div class="postbody"><div class="signature" style="border-top:none; margin-top: 0;">{SIGNATURE}</div></div>

	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

</form>


<!-- INCLUDE medals/medal_memberlist_view.html -->

<!-- INCLUDE gallery/recent_body.html -->
<!-- INCLUDE jumpbox.html -->

<!-- INCLUDE overall_footer.html -->