<div style="clear: both;"></div>
<div id="nav-wrap-left"></div>
<div id="nav-wrap-right"></div>

<div id="nav">
    <ul>
 
            	<li class="float-right logout">
                	<a href="https://plus.google.com/115996332766555678947/about" class="tip" title="Follow us on Youtube"><img src="{T_THEME_PATH}/images/social_youtube.png" width="16" height="16" alt="" /></a>
                </li>
                <li class="divider float-right"></li> 

            	<li class="float-right logout">
                	<a href="https://plus.google.com/115996332766555678947/about" class="tip" title="Follow us on Google+"><img src="{T_THEME_PATH}/images/social_google.png" width="16" height="16" alt="" /></a>
                </li>
                <li class="divider float-right"></li>               

            	<li class="float-right logout">
                	<a href="http://www.twitter.com/PCMItalia" class="tip" title="Follow us on Twitter"><img src="{T_THEME_PATH}/images/social_twitter.png" width="16" height="16" alt="" /></a>
                </li>
                <li class="divider float-right"></li>

            	<li class="float-right logout">
                	<a href="http://www.facebook.com/PCMItalia" class="tip" title="Like us on Facebook"><img src="{T_THEME_PATH}/images/social_facebook.png" width="16" height="16" alt="" /></a>
                </li>
                <li class="divider float-right"></li>


        <!-- IF not S_IS_BOT -->
          
 			<!-- IF S_MCHAT_ENABLE and U_MCHAT -->
            	<li><a href="{U_MCHAT}#mChat" title="{L_MCHAT_TITLE}"><img src="{T_THEME_PATH}/images/status_online.png" width="16" height="16" alt="" />{L_MCHAT_TITLE}<!-- IF MCHAT_INDEX_USERS_NUMBER -->&nbsp;[{MCHAT_INDEX_USERS_NUMBER}]<!-- ENDIF --> </a>
                </li>
                <li class="divider"></li>  
            <!-- ENDIF -->  
                       
			<!-- IF S_SHOW_DL_LINK -->
            	<li><a href="{U_DL_NAVS}" title="{L_DOWNLOADS}"><img src="{T_THEME_PATH}/images/package.png" width="16" height="16" alt="" />{L_DOWNLOADS}</a></li>    
                <li class="divider"></li>  
            <!-- ENDIF -->       
 
            <!-- IF S_HACKLIST_ON -->
                <li><a href="{U_HACKLIST}" title="{L_HACKLIST}"><img src="{T_THEME_PATH}/images/layout.png" width="16" height="16" alt="" />{L_HACKLIST}</a></li>
                <li class="divider"></li> 
            <!-- ENDIF -->
            
            <!-- IF S_BUGTRACKER_ON -->
                <li><a href="{U_BUG_TRACKER}" title="{L_BUG_TRACKER}"><img src="{T_THEME_PATH}/images/bug.png" width="16" height="16" alt="" />{L_BUG_TRACKER}</a></li>
                <li class="divider"></li> 
            <!-- ENDIF -->    
                        
			<!-- IF U_MEDALS and S_USER_LOGGED_IN and not S_IS_BOT -->
            	<li class="float-right"><a href="{U_MEDALS}" title="{L_MEDALS_VIEW_EXPLAIN}"><img src="{T_THEME_PATH}/images/award_star_gold_1.png" width="16" height="16" alt="" />{L_MEDALS_VIEW}</a></li>
                <li class="divider float-right"></li>                  
            <!-- ENDIF -->              
                                  
         	<!-- IF S_USER_LOGGED_IN -->                   
               	<li class="float-right"><a href="{U_TRACKER}" title="{L_TRACKER}"><img src="{T_THEME_PATH}/images/bug.png" width="16" height="16" alt="" />{L_TRACKER}</a></li>  
                <li class="divider float-right"></li> 
             <!-- ENDIF -->          
                                 
                <li class="float-right"><a href="{U_GALLERY_MOD}" title="{L_GALLERY_EXPLAIN}"><img src="{T_THEME_PATH}/images/photo.png" width="16" height="16" alt="" />{L_GALLERY}</a></li>
                <li class="divider float-right"></li>                                  
                                 
            <!-- Start DM Video -->
            <!-- IF S_VIDEO_EXIST -->
                <li class="float-right"><a href="{U_DMV_VIDEO}"><img src="{T_THEME_PATH}/images/film.png" width="16" height="16" alt="" />{L_DMV_VIDEO}</a></li>
                <li class="divider float-right"></li> 
            <!-- ENDIF -->
            <!-- End DM Video -->
                                                                  
        <!-- ENDIF -->      

    </ul>
</div>