

	</div>
 
</div><!-- /contentpadding -->



</div><!-- /wrap -->

<div style="clear: both;">
<!-- IF U_WATCH_EVENT --><li <!-- IF S_WATCHING_EVENT -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_EVENT}" title="{L_WATCH_EVENT}">{L_WATCH_EVENT}</a></li><!-- ENDIF -->
<!-- IF U_WATCH_CALENDAR --><li <!-- IF S_WATCHING_CALENDAR -->class="icon-unsubscribe"<!-- ELSE -->class="icon-subscribe"<!-- ENDIF -->><a href="{U_WATCH_CALENDAR}" title="{L_WATCH_CALENDAR}">{L_WATCH_CALENDAR}</a></li><!-- ENDIF -->
</div>


<div class="footer" style='width: {$ABSOLUTION_BOARD_WIDTH};'>

 
	<!-- Please do not remove the following credit line. This style is free, and attribution such as this helps to keep it in development. Thanks -->
         &copy; Absolution design by <a href="http://www.christianbullock.com">Christian Bullock</a> for <a href="http://www.bbdigest.com">phpBB Review</a>. 
    <!-- Please do not remove the above credit line. This style is free, and attribution such as this helps to keep it in development. Thanks -->
    <br />{CREDIT_LINE}
    

          
    <!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
	<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
	<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->

</div>



</div><!-- /noise -->

    <script type='text/javascript'>
    // <![CDATA[
       $(function() {
          $('.tip').tipsy({fade: true, gravity: 's'});
       });
    // ]]>
    </script>
<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>
<!-- IF U_JQUERY_BASE -->
<!-- INCLUDE jquery_base/jquery_base_footer.html -->
<!-- ENDIF -->

<!-- IF S_REPUTATION -->
<!-- INCLUDE reputation/reputation_footer.html -->
<!-- ENDIF -->
</body>
</html>