<div class="catglow">
        <div class="cathead-m">
            <div class="cathead-r">
                <div class="cathead-l">
                    Twitter
                </div>
            </div>
        </div>
        
        <!-- IF $COLLAPSIBLE_CATEGORIES -->
            <!-- IF SCRIPT_NAME eq 'index' --><div class="trigger active"></div><!-- ENDIF -->
        <!-- ENDIF -->
        <div class="collapsethis">
            <table class="cat" cellpadding="0" cellspacing="0" width="100%">
                <tr><td height="400px">
                 <!-- Twitter box start -->
                    <a class="twitter-timeline" href="https://twitter.com/pcmitalia" data-widget-id="467043029585383424">Tweets di @pcmitalia</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                 <!-- Twitter box end -->
                </td></tr>
             </table>
        </div>
</div>