<!-- INCLUDE ucp_header.html -->
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<form method="post" action="{U_COUNT_ACTION}" name="count_form" id="count_form">
		{L_DISPLAY_EVENTS_DAYCOUNT} <input type="number" name="daycount" id="daycount" value="{DAYCOUNT}">
		<input type="submit" name="post" value="{L_SUBMIT}" class="button1" />
		</form><br />
	<!-- IF .myevents -->
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dt>{L_MY_EVENTS}</dt>
						<dd style="width:16%">{L_INVITE_INFO}</dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist cplist">
			<!-- BEGIN myevents -->
						<li class="row">
							<dl class="icon"<!-- IF myevents.IMAGE --> style="background-image: url({myevents.IMAGE}); background-repeat: no-repeat;"<!-- ENDIF -->>
								<dt><a href="{myevents.EVENT_URL}" title="<!-- IF myevents.ETYPE_DISPLAY_NAME -->{myevents.ETYPE_DISPLAY_NAME}: <!-- ENDIF -->{myevents.FULL_SUBJECT}">
									<span style="<!-- IF myevents.COLOR -->color:#{myevents.COLOR};<!-- ENDIF --> font-weight: bold;">
										<!-- IF myevents.ETYPE_DISPLAY_NAME -->{myevents.ETYPE_DISPLAY_NAME}: <!-- ENDIF -->{myevents.SUBJECT}</span><br /><!-- IF myevents.ALL_DAY -->{L_ALL_DAY} {myevents.START_TIME}<!-- ELSE -->{myevents.START_TIME} {L_TO_TIME} {myevents.END_TIME}<!-- ENDIF --></a>
										<!-- IF myevents.IS_RECURRING --><br />{L_OCCURS_EVERY}: {myevents.RECURRING_TXT}<!-- ENDIF -->
													<!-- IF myevents.U_DELETE or myevents.U_EDIT --><br />
													<div class="postbody">
														<ul class="profile-icons">
															<!-- IF myevents.U_EDIT --><li class="edit-icon"><a href="{myevents.U_EDIT}" title="{L_EDIT_POST}"><span>{L_EDIT_POST}</span></a></li><!-- ENDIF -->
															<!-- IF myevents.U_EDIT_ALL --><li class="edit-all-icon"><a href="{myevents.U_EDIT_ALL}" title="{L_EDIT_ALL_EVENTS}"><span>{L_EDIT_ALL_EVENTS}</span></a></li><!-- ENDIF -->
															<!-- IF myevents.U_DELETE --><li class="delete-icon"><a href="{myevents.U_DELETE}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF -->
															<!-- IF myevents.U_DELETE_ALL --><li class="delete-all-icon"><a href="{myevents.U_DELETE_ALL}" title="{L_DELETE_ALL_EVENTS}"><span>{L_DELETE_ALL_EVENTS}</span></a></li><!-- ENDIF -->

														</ul>
													</div>
													<!-- ENDIF -->

								</dt>
								<dd style="width:16%; padding-left:5px;" class="lastpost">{myevents.INVITED}</dd>
							</dl>
						</li>
			<!-- END myevents -->
			</ul>
	<!-- ENDIF -->


	<span class="corners-bottom"><span></span></span></div>
</div>


<!-- INCLUDE ucp_footer.html -->
