<!-- INCLUDE dl_mod/dl_header.html -->

<br /><div class="buttons" style="float: right;"><div class="icon-dl-search"><a href="{U_DL_SEARCH}"><span></span>{L_DL_SEARCH_DOWNLOAD}</a></div></div>
<br /><br /><br />

<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
	<ul class="topiclist">
		<li class="header">
			<dl>
				<dt>{L_DL_CAT_NAME} / {L_DL_FILE_DESCRIPTION}</dt>
				<dd class="posts">{L_DL_CAT_FILES}</dd>
				<dd class="lastpost"><span>{L_DL_LATEST_DOWNLOADS}</span></dd>
			</dl>
		</li>
	</ul>
	<ul class="topiclist forums">
		<!-- IF S_NO_CATEGORY -->
		<li class="row">
			<dl>
				<dt>{L_DL_NO_CATEGORY_INDEX}</dt>
			</dl>
		</li>
		<!-- ELSE -->
		<!-- BEGIN downloads -->
		<li class="row">
			<dl>
				<dd style="width: 50%;"><span class="forum-image">{downloads.MINI_IMG}</span>
					<span class="forum-image"><img src="{downloads.CAT_ICON}" alt="" title="{downloads.CAT_NAME}" /></span>
					<a href="{downloads.U_CAT_VIEW}" class="forumtitle">{downloads.CAT_NAME}</a><br />
					<span class="small">{downloads.CAT_DESC}</span>
					<!-- IF subcats.CAT_PAGES --><strong class="pagination"><span>{downloads.CAT_PAGES}</span></strong><!-- ENDIF -->
					<!-- IF S_SUB_ON_INDEX -->
					<!-- BEGIN sub -->
					<table class="table1" cellspacing="0" border="0" width="100%">
					<!-- BEGIN sublevel_row -->
					<tr class="row bg<!-- IF downloads.sub.sublevel_row.S_ROW_COUNT is even -->1<!-- ELSE -->2<!-- ENDIF -->">
						<td style="width: 90%;"><span class="forum-image">{downloads.sub.sublevel_row.M_SUBLEVEL}</span>
							<span class="forum-image"><img src="{subcats.sub.sublevel_row.M_SUBLEVEL_ICON}" alt="" title="{subcats.sub.sublevel_row.L_SUBLEVEL}" /></span>
							<a href="{downloads.sub.sublevel_row.U_SUBLEVEL}" class="small"><strong>{downloads.sub.sublevel_row.L_SUBLEVEL}</strong></a><br />
							<span style="font-size: 7pt;">&nbsp;&nbsp;&nbsp;{downloads.sub.sublevel_row.SUBLEVEL_DESC}</span>
						</td>
						<td style="width: 10%;" align="right"><span class="small">{downloads.sub.sublevel_row.SUBLEVEL_COUNT}</span></td>
					</tr>
					<!-- END sublevel_row -->
					</table>
					<!-- END sub -->
					<!-- ENDIF -->
				</dd>
				<dd class="posts"><span class="small"><b>{downloads.CAT_DL}</b></span></dd>
				<!-- IF downloads.CAT_LAST_DL -->
                <dd class="lastpost">
                    <span><a href="{downloads.U_CAT_LAST_LINK}" class="small">{downloads.CAT_LAST_DL}</a></span><br />
                    <span class="topicdetails"><a href="{downloads.U_CAT_LAST_USER}" class="small">{downloads.CAT_LAST_USER}</a><!-- IF downloads.CAT_LAST_TIME -->&nbsp;&bull;&nbsp;<!-- ENDIF -->{downloads.CAT_LAST_TIME}</span>
                </dd>
                <!-- ENDIF -->
			</dl>
		</li>
		<!-- END downloads -->
		<!-- ENDIF -->
	</ul>

	<span class="corners-bottom"><span></span></span></div>
</div>

<br />

<!-- INCLUDE dl_mod/dl_footer.html -->