<!--version $Id: lottery.html 816 2012-02-18 04:34:04Z femu $ //-->

<!-- IF S_LOTTERY_ENABLED -->
{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{T_THEME_PATH}/images/portal/portal_lottery.png" width="16px" height="16px" alt=""/>&nbsp;<!-- ENDIF -->{L_LOTTERY_TITLE}{$LR_BLOCK_H_R}

	{L_LOTTERY_LAST_WINNER}<br />
	<strong>{LAST_WINNER}</strong>
	<hr class="dashed" />
	{L_LOTTERY_JACKPOT}<br />
	<strong>{JACKPOT}</strong> {CASH_NAME}<br /><br />
	{L_LOTTERY_PLAYERS} <strong>{NO_OF_PLAYERS}</strong><br />
	{L_LOTTERY_TICKETS} <strong>{NO_OF_TICKETS}</strong>
	<hr class="dashed" />
	{L_LOTTERY_NEXT_DRAW}<br />
	<strong>{NEXT_DRAWING}</strong><br /><br />
	<a href="{U_LOTTERY}">{L_LOTTERY_GOTO}</a>

{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
<!-- ENDIF -->