<!-- IF DONATION_STATS_INDEX_ENABLE -->
	<!-- IF U_DONATE --><br /> <strong><a href="{U_DONATE}">{L_DONATION_INDEX}</a></strong><!-- ELSE --><br /> <strong>{L_DONATION_INDEX}</strong><!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_GOAL_NUMBER -->
	<div class="prog_grey"><div class="prog_green" style="width:{DONATION_GOAL_NUMBER}%;"><span class="progress">{DONATION_GOAL_NUMBER}%</span></div></div>
<!-- ENDIF -->

	<!-- IF DONATION_RAISED_ENABLE -->
		{L_DONATION_RAISED}<!-- IF DONATION_USED_ENABLE --><br /><!-- ENDIF -->
	<!-- ENDIF -->
	<!-- IF DONATION_GOAL_ENABLE -->
		{L_DONATION_GOAL}<br />
	<!-- ENDIF -->

<!-- IF S_USED_NUMBER -->

<div class="prog_grey"><div class="prog_red" style="width:{DONATION_USED_NUMBER}%;"><span class="progress">{DONATION_USED_NUMBER}%</span></div></div>
<!-- ENDIF -->

	<!-- IF DONATION_USED_ENABLE -->
				{L_DONATION_USED}
	<!-- ENDIF -->
