<!-- INCLUDE overall_header.html -->
<br />
<form id="postform" method="post" action="{S_POST_ACTION}" onsubmit="return checkForm(this);"{S_FORM_ENCTYPE}>

<!-- IF S_DISPLAY_PREVIEW --><!-- INCLUDE posting_preview.html --><!-- ENDIF -->

<div class="panel" id="postingbox">
	<div class="inner"><span class="corners-top"><span></span></span>
	<h3>{L_POST_A}</h3>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
	<div class="column1">
	<fieldset class="fields1">
		<dl style="clear: left;">
			<dt><label for="video_title">{L_DMV_TITLE}:</label></dt>
			<dd><input type="text" name="video_title" id="video_title" size="35" maxlength="255" tabindex="1" value="{VIDEO_TITLE}" class="inputbox autowidth" /><br />
			<div style="font-size: 10px">{L_DMV_TITLE_EXPLAIN}</div></dd>
		</dl>
		<dl style="clear: left;">
			<dt><label for="video_singer">{L_DMV_SINGER}:</label></dt>
			<dd><input type="text" id="video_singer" tabindex="2" name="video_singer" size="35" maxlength="255" class="inputbox autowidth" value="{VIDEO_SINGER}" /><br />
			<div style="font-size: 10px">{L_DMV_SINGER_EXPLAIN}</div></dd>
		</dl>
		<dl style="clear: left;">
			<dt><label for="video_duration">{L_DMV_DURATION}:</label></dt>
			<dd><input type="text" id="video_duration" tabindex="3" name="video_duration" size="35" maxlength="15" class="inputbox autowidth" value="{VIDEO_DURATION}" /><br />
			<div style="font-size: 10px">{L_DMV_DURATION_EXPLAIN}</div></dd>
		</dl>
		<dl style="clear: left;">
			<dt><label for="video_image">{L_DMV_VIDEO_IMG}:</label></dt>
			<dd><input type="text" id="video_image" tabindex="4" name="video_image"  size="35" class="inputbox autowidth" value="{VIDEO_IMAGE}" /><br />
			<div style="font-size: 10px">{L_DMV_VIDEO_IMG_EXPLAIN}</div></dd>
		</dl>
	</fieldset>
	</div>

	<div class="column2">
	<fieldset class="fields1">
		<dl style="clear: left;">
			<dt><label for="video_url">{L_DMV_URL}:</label></dt>
			<dd><textarea rows="3" cols="1" tabindex="5" id="video_url" name="video_url">{VIDEO_URL}</textarea><br />
			<div style="font-size: 10px">{L_DMV_URL_EXPLAIN}</div></dd>
		</dl>
	</fieldset>
	</div>
	<br style="clear:both;" />
	<h3>{L_DMV_SONGTEXT}</h3>
	{L_DMV_SONGTEXT_EXPLAIN}<br />
	<fieldset class="fields1">
	<!-- INCLUDE posting_buttons.html -->
	<div id="smiley-box">
		<!-- IF .smiley -->
			<strong>{L_SMILIES}</strong><br />
			<!-- BEGIN smiley -->
				<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
			<!-- END smiley -->
		<!-- ENDIF -->
		<!-- IF U_MORE_SMILIES -->
			<br /><a href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
		<!-- ENDIF -->
		<hr />
		{BBCODE_STATUS}<br />
		{L_IMAGES_ARE_ON}<br />
		{L_FLASH_IS_ON}<br />
		{L_URL_IS_ON}<br />
		{L_SMILIES_ARE_ON}
	</div>
	<div id="message-box">
		<textarea name="message" id="message" rows="10" cols="76" tabindex="6" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" class="inputbox">{VIDEO_SONGTEXT}</textarea>
	</div>
	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}
		<input type="hidden" name="cat_id" value="{CAT_ID}" />
		<input type="submit" accesskey="s" tabindex="8" name="post" value="{L_SUBMIT}" class="button1" />
		{S_FORM_TOKEN}
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>

<div id="tabs">
	<ul>
		<li id="options-panel-tab" class="activetab"><a href="#tabs" onclick="subPanels('options-panel'); return false;"><span>{L_OPTIONS}</span></a></li>
	</ul>
</div>

<div class="panel bg3" id="options-panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<fieldset class="fields1">
			<div><label for="disable_bbcode"><input type="checkbox" name="disable_bbcode" id="disable_bbcode"{S_BBCODE_CHECKED} /> {L_DISABLE_BBCODE}</label></div>
			<div><label for="disable_smilies"><input type="checkbox" name="disable_smilies" id="disable_smilies"{S_SMILIES_CHECKED} /> {L_DISABLE_SMILIES}</label></div>
			<div><label for="disable_magic_url"><input type="checkbox" name="disable_magic_url" id="disable_magic_url"{S_MAGIC_URL_CHECKED} /> {L_DISABLE_MAGIC_URL}</label></div>
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>


</form>
<br />
<!-- INCLUDE overall_footer.html -->
