<!-- INCLUDE overall_header.html -->
<script type="text/javascript">
hs.graphicsDir = '../highslide/graphics/';
hs.align = 'center';
hs.wrapperClassName = 'draggable-header';
hs.dimmingOpacity = 0.80;
hs.width = 685;
hs.hight = 650;
hs.preserveContent = false;
hs.showCredits = false;
</script>

<script type="text/javascript">
<!--
function popup2(mylink, windowname)
{
if (! window.focus)return true;
var href;
if (typeof(mylink) == 'string')
   href=mylink;
else
   href=mylink.href;
window.open(href, windowname, 'width=685,height=650');
return false;
}
//-->
</script>

<h2>{L_DMV_SHOW_VIDEO}: {VIDEO_TITLE}</h2>
<p>{L_DMV_SHOW_VIDEO_EXPLAIN}</p>
<br  />

<form id="postform" method="post" action="{S_ACTION}">
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dd>{VIDEO_TITLE} {L_DMV_FROM} {VIDEO_SINGER}</dd>
					</dl>
				</li>
	        </ul>
			<ul class="topiclist forums">
				<li>
					<dl>
						<dd style="width: 39%; text-align: center;">
							<ul>
								<li>
									<!-- IF S_SHARE_ENABLE -->
										<ul class="profile-icons">
											<!-- IF S_SHARE_FACEBOOK --><li class="facebook-icon"><a href="{U_FACEBOOK}" title="{L_DMV_SHARE_ON_FACEBOOK}" onclick="window.open(this.href); return false"><span>{L_DMV_SHARE_ON_FACEBOOK}</span></a></li><!-- ENDIF -->
											<!-- IF S_SHARE_DIGG --><li class="digg-icon"><a href="{U_DIGG}" title="{L_DMV_SHARE_ON_DIGG}" onclick="window.open(this.href); return false"><span>{L_DMV_SHARE_ON_DIGG}</span></a></li><!-- ENDIF -->
											<!-- IF S_SHARE_MYSPACE --><li class="myspace-icon"><a href="{U_MYSPACE}" title="{L_DMV_SHARE_ON_MYSPACE}" onclick="window.open(this.href); return false"><span>{L_DMV_SHARE_ON_MYSPACE}</span></a></li><!-- ENDIF -->
											<!-- IF S_SHARE_DELICIOUS --><li class="delicious-icon"><a href="{U_DELICIOUS}" title="{L_DMV_SHARE_ON_DELICIOUS}" onclick="window.open(this.href); return false"><span>{L_DMV_SHARE_ON_DELICIOUS}</span></a></li><!-- ENDIF -->
											<!-- IF S_SHARE_TECHNORATI --><li class="technorati-icon"><a href="{U_TECHNORATI}" title="{L_DMV_SHARE_ON_TECHNORATI}" onclick="window.open(this.href); return false"><span>{L_DMV_SHARE_ON_TECHNORATI}</span></a></li><!-- ENDIF -->
										</ul>
									<!-- ENDIF -->
									
									<div style="float: right;">
									<!-- IF S_DELETE_VIDEO or S_EDIT_VIDEO or S_REPORT_VIDEO -->
									<ul class="profile-icons">
										<!-- IF S_EDIT_VIDEO --><li class="edit-icon"><a href="{U_EDIT_VIDEO}" title="{L_DMV_EDIT_VIDEO}"><span>{L_DMV_EDIT_VIDEO}</span></a></li><!-- ENDIF -->
										<!-- IF S_DELETE_VIDEO --><li class="delete-icon"><a href="{U_DELETE_VIDEO}" title="{L_DMV_DELETE_VIDEO}"><span>{L_DMV_DELETE_VIDEO}</span></a></li><!-- ENDIF -->
										<!-- IF S_REPORT_VIDEO --><li class="report-icon"><a href="{U_REPORT_VIDEO}" title="{L_DMV_REPORT_VIDEO}"><span>{L_DMV_REPORT_VIDEO}</span></a></li><!-- ENDIF -->
									</ul>
									<!-- ENDIF -->
									</div>
									<br /><br />
								</li>
								<li>
									<span style="float: center;">
									<br /><br />
									<!-- IF S_HIGHSLIDE -->
										<a href="{U_SHOW_POPUP}" onclick="return hs.htmlExpand(this, { objectType: 'iframe' } )">{VIDEO}</a>
									<!-- ELSE -->
										<a href="{U_SHOW_POPUP}" onclick="return popup2(this, 'showpopup')">{VIDEO}</a></td>
									<!-- ENDIF -->
										<br /><br />
									</span>
								</li>
								<li>
									{L_DMV_AUTHOR}: <strong>{VIDEO_ADDED_BY}</strong> {L_DMV_ON} {VIDEO_TIME}<br />
									{VIDEO_CLICKS}
									<br /><br />
									{VIDEO_RATING_IMG}<br />
									<!-- IF S_HAS_PERM_RATE -->
										<br />{L_DMV_RATING}<br />
										<fieldset class="submit-buttons">
										{VIDEO_RATING_SELECT}
										<input type="hidden" name="id" value="{ID}" />
										<input type="submit" accesskey="s" tabindex="6" name="submit" value="{L_GO}" class="button2" />&nbsp;
										{S_HIDDEN_FIELDS}
										{S_FORM_TOKEN}
										</fieldset>
									<br /><br />
									<!-- ENDIF -->
								</li>
							</ul>
						</dd>
						<dd style="width: 59%; text-align: center;">
							<ul>
								<li>
									<span style="float: center;">
									<!-- IF S_IMAGE -->
									<br /><img src="{VIDEO_IMAGE}" width="{}" height="{}" alt=""></img><br />
									<!-- ENDIF -->
									<br />{VIDEO_SONGTEXT}<br /><br /><br />
									</span>
								</li>
							</ul>
						</dd>
					</dl>
				</li>
			</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
</form>

<br />
<!-- IF S_ADD_COMMENT -->
<div class="topic-actions">
	<div class="buttons">
		<div class="video-comment"><a href="{U_ADD_COMMENT}" accesskey="n" title="{L_DMV_COMMENT_ADD}"><span></span>{L_DMV_COMMENT_ADD}</a></div>
	</div>
</div>
<!-- ENDIF -->
<br /><br />
<!-- BEGIN comments -->
	<!-- IF comments.S_FIRST_ROW -->
	<div class="forabg">
		<div class="inner"><span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl>
						<dd class="dmv-comments">{L_DMV_COMMENT}</dd>
						<dd class="dmv-lastpost">{L_DMV_AUTHOR}</dd>
						<!-- IF comments.S_EDIT_COMMENT or comments.S_DELETE_COMMENT -->
						<dd class="dmv-action">{L_DMV_ACTION}</dd>
						<!-- ENDIF -->
					</dl>
				</li>
			</ul>
			<ul class="topiclist topics">
	<!-- ENDIF -->
				<li class="<!-- IF comments.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
					<dl>
						<dd class="dmv-comments">{comments.VIDEO_COMMENT}</dd>
						<dd class="dmv-lastpost">
							&nbsp;{L_POST_BY_AUTHOR} {comments.COMMENT_AUTHOR_FULL}<br />
							&nbsp;{L_POSTED_ON_DATE} {comments.COMMENT_POST_TIME}
						</dd>
						<!-- IF comments.S_EDIT_COMMENT or comments.S_DELETE_COMMENT -->
						<dd class="dmv-action">
							<ul class="profile-icons">
								<!-- IF comments.S_EDIT_COMMENT--><li class="edit-icon"><a href="{comments.U_EDIT_COMMENT}" title="{L_DMV_COMMENT_EDIT}"><span>{L_DMV_COMMENT_EDIT}</span></a></li><!-- ENDIF -->
								<!-- IF comments.S_DELETE_COMMENT --><li class="delete-icon"><a href="{comments.U_DELETE_COMMENT}" title="{L_DMV_COMMENT_DEL}"><span>{L_DMV_COMMENT_DEL}</span></a></li><!-- ENDIF -->
							</ul>
						</dd>
						<!-- ENDIF -->
					</dl>
				</li>
	<!-- IF comments.S_LAST_ROW -->
			</ul>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
	<!-- ENDIF -->
<!-- BEGINELSE -->
	<!-- IF comments.S_ROW_COUNT == 0 -->
		<div class="panel">
			<div class="inner"><span class="corners-top"><span></span></span>
			<strong>{L_DMV_COMMENT_NONE}</strong>
			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- ENDIF -->
<!-- END comments -->
<br />
<!-- IF S_SHOW_COMMENTS -->
{CC} | 
<!-- ENDIF -->
<a href="{U_SHOW_ALL_COMMENTS}">{L_DMV_SHOW_ALL_COMMENTS}</a>
<br />
<div class="clear"></div>
<br />

<p></p><p><a href="{U_BACK_CAT}" class="left-box {S_CONTENT_FLOW_BEGIN}" accesskey="r">{L_RETURN_TO} {VIDEO_CAT_NAME}</a>&nbsp;|&nbsp;<a href="{U_BACK_PAGE}">{L_DMV_BACK_PAGE}</a></p>
<br />
<!-- INCLUDE dm_video/video_footer.html -->