<!-- INCLUDE overall_header.html -->
<h2>{TOPTEN_RATING}</h2>
<p>{TOPTEN_RATE_EXPLAIN}</p>

<a href="{U_BACK}">{L_DMV_BACK}</a> | <a href="{U_TOP_HITS}">{TOPTEN_HITS}</a><br /><br />
<div class="forabg">
<div class="inner"><span class="corners-top"><span></span></span>
<table class="table1" cellspacing="1" style="table-layout: fixed;">
<thead>
	<tr>
		<th style="text-align: center; width: 5%;">{L_DMV_RANK}</th>
		<th style="text-align: center;">{L_DMV_TITLE}</th>
		<th style="text-align: center; width: 20%;">{L_DMV_SINGER}</th>
		<th style="text-align: center; width: 20%;">{L_DMV_CAT_NAME1}</th>
		<th style="text-align: center; width: 10%;">{L_DMV_VIDEO_RATES}</th>
	</tr>
</thead>
<tbody>
	<!-- BEGIN toptenrow -->
	<tr class="<!-- IF toptenrow.S_ROW_COUNT is odd -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
		<td style="text-align: center; width: 5%;">{toptenrow.POS}</td>
		<td style="text-align: center;"><a href="{toptenrow.U_SHOW_VIDEO}"><strong>{toptenrow.VIDEO_TITLE}</strong></a></td>
		<td style="text-align: center; width: 10%;">{toptenrow.VIDEO_SINGER}</td>
		<td style="text-align: center; width: 20%;">{toptenrow.VIDEO_CAT_NAME}</td>
		<td style="text-align: center; width: 10%;">{toptenrow.VIDEO_RATING_IMG}</td>
	</tr>
	<!-- BEGINELSE -->
	<tr>
		<td class="bg1" colspan="<!-- IF S_CLEAR_ALLOWED -->6<!-- ELSE -->5<!-- ENDIF -->" align="center"><span class="gen">{L_DMV_NO_VIDEOS}</span></td>
	</tr>
	<!-- END toptenrow -->
</tbody>
</table>
<span class="corners-bottom"><span></span></span></div>
</div>
<!-- INCLUDE dm_video/video_footer.html -->