/**
* Thanks to HoF for the most of this CSS.
*/

/* icon style */
.icon-rules {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: url("{T_THEME_PATH}/images/icon_rules.gif");;
	padding: 1px 0 0 17px;
}

/* bidi */
.rtl .icon-rules {
	background-position: 100% 50%;
	padding: 1px 17px 0 0;
}


.imgrep {
	color: #4f84ad;
	font-size: 2.8em;
	font-weight: 900;
	font-family: "Helvetica", Arial, sans-serif;	
}

.rules_explain {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	margin-bottom: 1em;
	font-size: 1.2em;
}

.fragment {
	padding: 3px 6px 0 6px;
	background-color: #ECD5D8;
	color: #BC2A4D;
	font-weight: bold;
}

#main {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	padding-right: 25px;
}

#rules-footer {
	float: right;
	padding-bottom: 2px;	
}

#container {
	margin-right: 270px;
	position: relative;
}

#main a {
	text-decoration: underline;
}

#main a.no-underline {
	text-decoration: none;
}

#main h3 {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	text-transform: none;
	color: #d21a4e;
	border-bottom: none;
	margin-top: 5px;
}

#main h3 span {
	color: #222222;
}

#main .panel h3 {
	border-bottom: 1px solid #CCCCCC;
	color: #115098;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.05em;
	font-weight: bold;
	padding-bottom: 2px;
	text-transform: uppercase;
	margin: 0.5em 0pt;
}

#main h4, #main h5 {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	text-transform: none;
	color: #333333;
	margin-top: 1.5em;
}

#main ul, #main ol {
	font-size: 1.2em;
	margin-left: 2em;
	line-height: 1.3em;
}

#main ul ul, #main ol ol{
	font-size: 1em;
}

#main ul h3, #main ol h3 {
	font-size: 1em;
}

#main ul.list {
	margin-bottom: 1em;
}

#main ul.list ul {
	margin-bottom: 0;
}

#main ul.list li {
	margin-bottom: 0.2em;
	font-size: 1.2em;
	margin-left: 1.5em;
}

#main ul.list li li {
	font-size: 1em;
}

/* Rules */
#main ol#rules {
	padding-right: 30px;
}

#main ol#rules ol {
	list-style: lower-alpha;
}

#main ol#rules ol li {
	margin-bottom: 5px;
}

#main ol#rules li.bottom {
	margin-bottom: 20px;
}

#main ol#rules ol li.divide {
	padding-bottom: 5px;
}

/* mini panel */
#extras {
	width: 260px;
	float: right;
}

div.mini-panel {
	padding: 0 10px;
	background-color: #ebebeb;
	margin-bottom: 5px;
	position: relative; 
	z-index: 200;
}

div.mini-panel h3 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin: 5px 0 0 0;
	color: #333333;
}

div.mini-panel span.corners-top,
div.mini-panel span.corners-bottom {
	margin: 0 -10px;
}

/* Menu listing */
ul.menu {
	border-top: 1px solid #FFFFFF;
	list-style: none;
}

ul.menu li {
	padding: 5px 0 4px 0;
	border-bottom: 1px solid #CCCCCC;
	margin: 0;
}

ul.menu li.last {
	border-bottom: none;
}