<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

	<!-- IF S_UP_TO_DATE -->
		<div class="successbox">
			<p>{L_DIR_VERSION_UP_TO_DATE_ACP}</p>
		</div>
	<!-- ELSE -->
		<div class="errorbox">
			<p>{L_DIR_VERSION_NOT_UP_TO_DATE_ACP}</p>
		</div>
	<!-- ENDIF -->

	<fieldset>
	<dl>
		<dt><label>{L_CURRENT_VERSION}</label></dt>
		<dd><strong>{CURRENT_VERSION}</strong></dd>
	</dl>
	<dl>
		<dt><label>{L_LATEST_VERSION}</label></dt>
		<dd><strong>{LATEST_VERSION}</strong></dd>
	</dl>
		<!-- IF not S_UP_TO_DATE -->
			<dl>
				<dt><label>{L_DIR_ANNOUNCEMENT_TOPIC}</label></dt>
				<dd><strong><a href="{U_ANNOUNCE}">{L_DIR_RELEASE_ANNOUNCEMENT}</a></strong></dd>
			</dl>
			<dl>
				<dt><label>{L_DIR_DOWNLOAD_LATEST}</label></dt>
				<dd><strong><a href="{U_DOWNLOAD}">{L_DOWNLOAD}</a></strong></dd>
			</dl>
		<!-- ENDIF -->
	</fieldset>

	<table cellspacing="1">

  <caption>{L_DIR_STATS}</caption>
		<col class="col1" /><col class="col2" /><col class="col1" /><col class="col2" />
	<thead>
	<tr>
		<th>{L_STATISTIC}</th>
		<th>{L_VALUE}</th>
		<th>{L_STATISTIC}</th>
		<th>{L_VALUE}</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>{L_DIR_NUMBER_CATS}:</td>
		<td><strong>{TOTAL_CATS}</strong></td>
		<td>{L_DIR_NUMBER_CLICKS}:</td>
		<td><strong>{TOTAL_CLICKS}</strong></td>
	</tr>
	<tr>
		<td>{L_DIR_NUMBER_LINKS}:</td>
		<td><strong>{TOTAL_LINKS}</strong></td>
		<td>{L_DIR_NUMBER_VOTES}:</td>
		<td><strong>{TOTAL_VOTES}</strong></td>
	</tr>
	<tr>
		<td>{L_DIR_WAITING_LINKS}:</td>
		<td><strong>{WAITING_LINKS}</strong></td>
		<td>{L_DIR_NUMBER_COMMENTS}:</td>
		<td><strong>{TOTAL_COMMENTS}</strong></td>
	</tr>
	<tr>
		<td>{L_DIR_NUMBER_ORPHANS}:</td>
		<td><strong>{TOTAL_ORPHANS}</strong></td>
		<td>{L_DIR_BANNERS_DIR_SIZE}:</td>
		<td><strong>{BANNERS_DIR_SIZE}</strong></td>
	</tr>
	</tbody>
	</table>

		<fieldset>
			<legend>{L_STATISTIC_RESYNC_OPTIONS}</legend>

			<form id="action_online_form" method="post" action="{U_ACTION}">
				<dl>
					<dt><label for="action_online">{L_DIR_RESET_VOTES}</label><br /><span>{L_DIR_RESET_VOTES_EXPLAIN}</span></dt>
					<dd><input type="hidden" name="action" value="votes" /><input class="button2" type="submit" id="action_votes" name="action_votes" value="{L_RUN}" /></dd>
				</dl>
			</form>

			<form id="action_date_form" method="post" action="{U_ACTION}">
				<dl>
					<dt><label for="action_date">{L_DIR_RESET_COMMENTS}</label><br /><span>{L_DIR_RESET_COMMENTS_EXPLAIN}</span></dt>
					<dd><input type="hidden" name="action" value="comments" /><input class="button2" type="submit" id="action_comments" name="action_comments" value="{L_RUN}" /></dd>
				</dl>
			</form>

			<form id="action_stats_form" method="post" action="{U_ACTION}">
				<dl>
					<dt><label for="action_stats">{L_DIR_RESET_CLICKS}</label><br /><span>&nbsp;</span></dt>
					<dd><input type="hidden" name="action" value="clicks" /><input class="button2" type="submit" id="action_clicks" name="action_clicks" value="{L_RUN}" /></dd>
				</dl>
			</form>
			<!-- IF TOTAL_ORPHANS -->
			<form id="action_stats_form" method="post" action="{U_ACTION}">
				<dl>
					<dt><label for="action_stats">{L_DIR_DELETE_ORPHANS}</label><br /><span>{L_DIR_DELETE_ORPHANS_EXPLAIN}</span></dt>
					<dd><input type="hidden" name="action" value="orphans" /><input class="button2" type="submit" id="action_orphans" name="action_orphans" value="{L_RUN}" /></dd>
				</dl>
			</form>
			<!-- ENDIF -->
  		</fieldset>
<!-- INCLUDE overall_footer.html -->