<!-- INCLUDE ucp_header.html -->
<form id="ucp" method="post" action="{U_ACTION}">

<h2>{L_UCP_PROFILE_SAFEGT}</h2>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<p>{L_PROFILE_INFO_NOTICE}</p>

	<fieldset>
	<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
	<!-- IF S_XBOX -->
	<dl>
		<dt><label for="xbox">{L_XBOXGT}:</label></dt>
		<dd><input type="text" size="18" name="xbox" id="xbox" class="inputbox autowidth" maxlength="15" value="{XBOX}" onkeyup="Pxbox(this)" onblur="Pxbox(this)" /></dd>
		<!-- IF S_XBOXANTE --><dd>{L_ANTEPRIMA}:<br /><object data="{XBOXIMG}" type="text/html" width="200" height="136">{L_ANTEPRIMA}</object></dd><!-- ENDIF -->
	</dl>
	<!-- ENDIF -->
	<!-- IF S_PSN -->
	<dl>
		<dt><label for="psn">{L_PSNGT}:</label></dt>
		<dd><input type="text" size="18" name="psn" id="psn" class="inputbox autowidth" maxlength="16" value="{PSN}" onkeyup="Ppsn(this)" onblur="Ppsn(this)" /></dd>
	</dl>
	<dl>
		<dt><label for="psnzone">{L_PSN_ZONE}:</label></dt>
		<dd><select name="psnzone" id="psnzone">
		<option value="0" {PSNZONE1}>{L_EU}</option>
		<option value="1" {PSNZONE2}>{L_USA}</option>
		</select></dd>
		<dd>{L_PSNZONE_DESC}</dd>
		<!-- IF S_PSNANTE --><dd>{L_ANTEPRIMA}:<br /><img src="{PSNIMG}" alt="{L_ANTEPRIMA}" width="400" height="90" /></dd><!-- ENDIF -->
	</dl>
	<!-- ENDIF -->
	<!-- IF S_WII -->
	<dl>
		<dt><label for="wii">{L_WIIGT}:</label></dt>
		<dd><input type="text" size="18" name="wii" id="wii" class="inputbox autowidth" maxlength="22" value="{WII}" onkeyup="Pwii(this)" onblur="Pwii(this)" /></dd>
	</dl>
	<dl>
		<dt><label for="wiiurl">{L_WII_URL}:</label></dt>
		<dd><input type="text" size="18" name="wiiurl" id="wiiurl" class="inputbox autowidth" maxlength="248" value="{WIIURL}" /></dd>
		<dd>{L_WIIURL_DESC}</dd>
		<!-- IF S_WIIANTE --><dd>{L_ANTEPRIMA}:<br /><img src="{WIIURL}" alt="{L_ANTEPRIMA}" /></dd><!-- ENDIF -->
	</dl>
	<!-- ENDIF -->
	<!-- IF S_STEAM -->
	<dl>
		<dt><label for="steam">{L_STEAM_NAME}:</label></dt>
		<dd><input type="text" size="15" name="steam" id="steam" class="inputbox autowidth" maxlength="50" value="{STEAM}" /></dd>
	</dl>
	<dl>
		<dt><label for="steamid">{L_STEAMID}:</label></dt>
		<dd><input type="text" size="15" name="steamid" id="steamid" class="inputbox autowidth" maxlength="17" value="{STEAMID}" onkeyup="Psteamid(this)" onblur="Psteamid(this)" /></dd>
		<dd>{L_STEAMID_DESC}</dd>
		<!-- IF S_STEAMANTE --><dd>{L_ANTEPRIMA}:<br /><img src="{STEAMIMG}" alt="{L_ANTEPRIMA}" /></dd><!-- ENDIF -->
	</dl>
	<!-- ENDIF -->
	<!-- IF S_XFIRE -->
	<dl>
		<dt><label for="xfire">{L_XFIRE_NAME}:</label></dt>
		<dd><input type="text" size="15" name="xfire" id="xfire" class="inputbox autowidth" maxlength="25" value="{XFIRE}" onkeyup="Pxfireu(this)" onblur="Pxfireu(this)" /></dd>
	</dl>
	<dl>
		<dt><label for="xfireskin">{L_XFIRE_SKIN}:</label></dt>
		<dd><select name="xfireskin" id="xfireskin">
		<option value="sh" {XFIRESKIN1}>{L_SHADOW}</option>
		<option value="co" {XFIRESKIN2}>{L_COMBAT}</option>
		<option value="sf" {XFIRESKIN3}>{L_SHIFI}</option>
		<option value="os" {XFIRESKIN4}>{L_FANTASY}</option>
		<option value="bg" {XFIRESKIN5}>{L_DEFAULT}</option>
		</select></dd>
		<dd>{L_XFIRE_DESC}</dd>
		<!-- IF S_XFIREANTE --><dd>{L_ANTEPRIMA}:<br /><img src="{XFIREIMG}" alt="{L_ANTEPRIMA}" width="440" height="111" /></dd><!-- ENDIF -->
	</dl>
	<!-- ENDIF -->
	<!-- IF S_ORIGIN -->
	<dl>
		<dt><label for="origin">{L_ORIGIN}:</label></dt>
		<dd><input type="text" size="18" name="origin" id="origin" class="inputbox autowidth" maxlength="16" value="{ORIGINID}" onkeyup="Porigin(this)" onblur="Porigin(this)" /></dd>
	</dl>
	<!-- ENDIF -->
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>
<fieldset class="submit-buttons">
    <input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
	<input type="submit" name="editusergt" value="{L_SUBMIT}" class="button1" />
</fieldset>
{S_FORM_TOKEN}
</form>

<p>{L_SAFEGTDC}</p>
<p><a href="http://www.nipponart.org"><img src="{ROOT_PATH}safegt/icons/safegt.gif" alt="{L_SAFE_GT_LOGO}" /></a></p>
<!-- INCLUDE ucp_footer.html -->