<!-- INCLUDE overall_header.html -->
<a name="maincontent"></a>

<!-- IF ERROR -->
<div class="errorbox">
	<h3>{L_INFORMATION}</h3>
	<p>{ERROR_MSG}</p>
</div>
<!-- ENDIF -->

<!-- IF CREATE_RULE -->
<a href="{U_BACK}" style="float: right;">&laquo; {L_BACK}</a>

<h1><!-- IF S_IS_RULE -->{L_ACP_CREATE_RULE}<!-- ELSE -->{L_ACP_CREATE_CAT}<!-- ENDIF --> :: <!-- IF S_RULE_TITLE -->{S_RULE_TITLE}<!-- ENDIF --></h1>
<p>{L_CREATE_RULE_EXPLAIN}</p>

<form action="{U_ACTION}" name="acp_rules" id="create_rule" method="post">
	<div id="create_rule">
		<fieldset>
			<legend><!-- IF S_IS_RULE -->{L_RULE_SETTINGS}<!-- ELSE -->{L_CAT_SETTINGS}<!-- ENDIF --></legend>
            <dl>
                <dt><label for="enable"><!-- IF S_IS_RULE -->{L_RULE_ENABLE}<!-- ELSE -->{L_CAT_ENABLE}<!-- ENDIF -->:</label><br /><span>{L_RULE_ENABLE_EXPLAIN}</span></dt>
                <dd><label><input type="radio" class="radio" id="enable" name="enable" <!-- IF S_PARENT_PUBLIC -->checked="checked"<!-- ENDIF --> value="1"/>&nbsp;{L_YES}</label>
                <label><input type="radio" class="radio" name="enable" <!-- IF not S_PARENT_PUBLIC -->checked="checked"<!-- ENDIF --> value="0"/>&nbsp;{L_NO}</label></dd>
            </dl>
			<!-- IF not S_IS_RULE -->
            <dl>
                <dt><label for="group_ids">{L_SET_GROUPS}:</label><br /><span>{L_SET_GROUPS_EXPLAIN}</span></dt>
                <dd><select name="group_ids[]" id="group_ids" multiple="multiple">{S_GROUP_OPTIONS}</select></dd>
            </dl>
			<!-- ENDIF -->
            <dl>
                <dt><label for="rule_title"><!-- IF S_IS_RULE -->{L_RULE_NAME}<!-- ELSE -->{L_CAT_NAME}<!-- ENDIF -->:</label></dt>
                <dd><input class="text medium" type="text" id="rule_title" name="rule_title" value="{S_RULE_TITLE}" maxlength="255" /></dd>
            </dl>
			<!-- IF S_IS_RULE -->
            <dl>
                <dt><label for="rule_description">{L_RULE_DESCRIPTION}:</label><br /><span>{L_RULE_DESCRIPTION_EXPLAIN}</span></dt>
                <dd><textarea id="rule_description" name="rule_description" rows="6" cols="70">{S_RULE_DESC}</textarea></dd>
                <dd><label><input type="checkbox" class="radio" name="rules_parse_bbcode" checked="checked" /> {L_PARSE_BBCODE}</label>
                    <label><input type="checkbox" class="radio" name="rules_parse_smilies" checked="checked" /> {L_PARSE_SMILIES}</label>
                    <label><input type="checkbox" class="radio" name="rules_parse_urls" checked="checked" /> {L_PARSE_URLS}</label></dd>
            </dl>
			<!-- ENDIF -->
		</fieldset>
	</div>
    
	<fieldset class="submit-buttons">
		<legend>{L_SUBMIT}</legend>
		<input class="button1" type="submit" id="submit" name="create" value="{L_SUBMIT}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		{S_FORM_TOKEN}
	</fieldset>
</form>

<!-- ELSEIF EDIT_RULE -->
<a href="{U_BACK}" style="float: right;">&laquo; {L_BACK}</a>

<h1><!-- IF S_IS_RULE -->{L_ACP_RULE_EDIT}<!-- ELSE -->{L_ACP_CAT_EDIT}<!-- ENDIF --> :: {S_RULE_TITLE}</h1>
<p>{L_MANAGE_RULE_EXPLAIN}</p>

<form action="{U_ACTION}" name="acp_rules" id="edit_rule" method="post">
	<div id="edit_rule">
		<fieldset>
			<legend><!-- IF S_IS_RULE -->{L_RULE_SETTINGS}<!-- ELSE -->{L_CAT_SETTINGS}<!-- ENDIF --></legend>
            <dl>
                <dt><label for="enable"><!-- IF S_IS_RULE -->{L_RULE_ENABLE}<!-- ELSE -->{L_CAT_ENABLE}<!-- ENDIF -->:</label><br /><span>{L_RULE_ENABLE_EXPLAIN}</span></dt>
                <dd><label><input type="radio" class="radio" id="enable" name="enable" <!-- IF S_RULE_ENABLED -->checked="checked"<!-- ENDIF --> value="1"/>&nbsp;{L_YES}</label>
                <label><input type="radio" class="radio" name="enable" <!-- IF not S_RULE_ENABLED -->checked="checked"<!-- ENDIF --> value="0"/>&nbsp;{L_NO}</label></dd>
            </dl>
            <!-- IF not S_IS_RULE -->
            <dl>
                <dt><label for="group_ids">{L_SET_GROUPS}:</label><br /><span>{L_SET_GROUPS_EXPLAIN}</span></dt>
                <dd><select name="group_ids[]" id="group_ids" multiple="multiple">{S_GROUP_OPTIONS}</select></dd>
            </dl>
			<!-- ENDIF -->
            <!-- IF S_IS_RULE -->
            <dl>
                <dt><label for="rule_parent">{L_RULE_PARENT}:</label></dt>
                <dd><select name="rule_parent" id="rule_parent">{S_PARENT_SELECT}</select></dd>
            </dl>
            <!-- ENDIF -->
            <dl>
                <dt><label for="rule_title"><!-- IF S_IS_RULE -->{L_RULE_NAME}<!-- ELSE -->{L_CAT_NAME}<!-- ENDIF -->:</label></dt>
                <dd><input class="text medium" type="text" id="rule_title" name="rule_title" value="{S_RULE_TITLE}" maxlength="255" /></dd>
            </dl>
            <!-- IF S_IS_RULE -->
            <dl>
                <dt><label for="rule_description">{L_RULE_DESCRIPTION}:</label><br /><span>{L_RULE_DESCRIPTION_EXPLAIN}</span></dt>
                <dd><textarea id="rule_description" name="rule_description" rows="6" cols="70">{S_RULE_DESCRIPTION}</textarea></dd>
                <dd><label><input type="checkbox" class="radio" name="rules_parse_bbcode"<!-- IF S_PARSE_BBCODE --> checked="checked"<!-- ENDIF --> /> {L_PARSE_BBCODE}</label>
                    <label><input type="checkbox" class="radio" name="rules_parse_smilies"<!-- IF S_PARSE_SMILIES --> checked="checked"<!-- ENDIF --> /> {L_PARSE_SMILIES}</label>
                    <label><input type="checkbox" class="radio" name="rules_parse_urls"<!-- IF S_PARSE_LINKS --> checked="checked"<!-- ENDIF --> /> {L_PARSE_URLS}</label></dd>
            </dl>
            <!-- ENDIF -->
		</fieldset>
	</div>
    
	<fieldset class="submit-buttons">
		<legend>{L_SUBMIT}</legend>
		<input class="button1" type="submit" id="submit" name="update" value="{L_SUBMIT}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		{S_FORM_TOKEN}
	</fieldset>
</form>

<!-- ELSE -->
<h1>{L_RULES_ADMIN}</h1>
<p>{L_RULES_ADMIN_EXPLAIN}</p>
    
<form action="{U_ACTION}" name="acp_rules" method="post">
	<fieldset>
		<legend>{L_RULES_PAGE_MANAGE}</legend>
		<dl>
			<dt><label for="enable_board_rules">{L_RULES_ENABLE}:</label><br /><span>{L_RULES_ENABLE_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" id="enable_board_rules" name="enable_board_rules" <!-- IF S_BOARD_RULES -->checked="checked"<!-- ENDIF --> value="1"/>&nbsp;{L_YES}</label>
				<label><input type="radio" class="radio" name="enable_board_rules" <!-- IF not S_BOARD_RULES -->checked="checked"<!-- ENDIF --> value="0"/>&nbsp;{L_NO}</label></dd>
		</dl>
        
        <p class="quick">
            <input class="button1" type="submit" name="submit" value="{L_SUBMIT}" />
            {S_FORM_TOKEN}
        </p>
	</fieldset>
</form>

<p><strong>{NAVIGATION}</strong></p>

<!-- IF .rules -->
	<table cellspacing="1">
		<col class="row1" /><col class="row1" /><col class="row2" />
	<tbody>
	<!-- BEGIN rules -->
	<tr>
		<td style="width: 5%; text-align: center;">{rules.FOLDER_IMG}</td>
		<td>
			<strong>{rules.COUNTER}<!-- IF not rules.IS_RULE --><a href="{rules.U_RULE}"><!-- ENDIF -->{rules.RULE_NAME}<!-- IF not rules.IS_RULE --></a><!-- ENDIF --></strong>
			<!-- IF rule.RULE_DESCRIPTION --><br /><span>{rules.RULE_DESCRIPTION}</span><!-- ENDIF -->
		</td>
		<td style="vertical-align: top; width: 100px; text-align: center; white-space: nowrap;">
			<!-- IF rules.S_FIRST_ROW && not rules.S_LAST_ROW -->
				{ICON_MOVE_UP_DISABLED}
				<a href="{rules.U_MOVE_DOWN}">{ICON_MOVE_DOWN}</a>
			<!-- ELSEIF not rules.S_FIRST_ROW && not rules.S_LAST_ROW -->
				<a href="{rules.U_MOVE_UP}">{ICON_MOVE_UP}</a>
				<a href="{rules.U_MOVE_DOWN}">{ICON_MOVE_DOWN}</a>
			<!-- ELSEIF rules.S_LAST_ROW && not rules.S_FIRST_ROW -->
				<a href="{rules.U_MOVE_UP}">{ICON_MOVE_UP}</a>
				{ICON_MOVE_DOWN_DISABLED}
			<!-- ELSE -->
				{ICON_MOVE_UP_DISABLED}
				{ICON_MOVE_DOWN_DISABLED}
			<!-- ENDIF -->
				<a href="{rules.U_EDIT}">{ICON_EDIT}</a>
			<!-- IF rules.RULE_ENABLED -->
				<a href="{rules.U_DISABLE}">{ICON_ENABLE}</a>
			<!-- ELSE -->
				<a href="{rules.U_ENABLE}">{ICON_DISABLE}</a>
			<!-- ENDIF -->
				<a href="{rules.U_DELETE}">{ICON_DELETE}</a>
		</td>
	</tr>
	<!-- END rules -->
	</tbody>
	</table>
<!-- ENDIF -->
    
<form id="rules" method="post" action="{U_ACTION}">
	<fieldset class="quick">
		<input type="hidden" name="action" value="create" />
		<input type="text" name="rule_name" value="" maxlength="255" />
		<input class="button2" name="addrule" type="submit" <!-- IF HAS_PARENT -->value="{L_CREATE_RULE}"<!-- ELSE -->value="{L_CREATE_CAT}"<!-- ENDIF --> />
		{S_FORM_TOKEN}
	</fieldset>
</form>
    
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->