<!-- INCLUDE overall_header.html -->

<div id="pagecontent">

	<form method="post" action="{S_PROFILE_ACTION}">

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="2" nowrap="nowrap">{L_VIEWING_PROFILE}</th>
	</tr>
	<tr>
		<td class="cat" width="40%" align="center"><h4>{L_USER_PRESENCE}</h4></td>
		<td class="cat" width="60%" align="center"><h4>{L_USER_FORUM}</h4></td>
	</tr>
	<tr>
		<td class="row1" align="center">

			<table cellspacing="1" cellpadding="2" border="0">
			<!-- IF S_USER_INACTIVE -->
			<tr>
				<td align="center" style="color: red;"><b class="gen">{L_USER_IS_INACTIVE}</b><br />{L_INACTIVE_REASON}: {USER_INACTIVE_REASON}<br /><br /></td>
			</tr>
			<!-- ENDIF -->
			<tr>
				<td align="center"><!-- IF USER_COLOR --><b class="gen" style="color: {USER_COLOR}"><!-- ELSE --><b class="gen"><!-- ENDIF -->{USERNAME}</b><!-- IF U_USER_BAN --><span class="genmed"> [ <a href="{U_USER_BAN}">{L_USER_BAN}</a> ]</span><!-- ENDIF --><!-- IF U_USER_ADMIN --><span class="genmed"> [ <a href="{U_USER_ADMIN}">{L_USER_ADMIN}</a> ]</span><!-- ENDIF --></td>
			</tr>
			<!-- IF RANK_TITLE -->
				<tr>
					<td class="postdetails" align="center">{RANK_TITLE}</td>
				</tr>
			<!-- ENDIF -->
			<!-- IF RANK_IMG -->
				<tr>
					<td align="center">{RANK_IMG}</td>
				</tr>
			<!-- ENDIF -->
			<!-- IF AVATAR_IMG -->
				<tr>
					<td align="center">{AVATAR_IMG}</td>
				</tr>
			<!-- ENDIF -->
			<!-- IF ONLINE_IMG -->
			<tr>
				<td align="center">{ONLINE_IMG}</td>
			</tr>
			<!-- ENDIF -->
			<!-- IF U_SWITCH_PERMISSIONS -->
				<tr>
					<td class="genmed" align="center">[ <a href="{U_SWITCH_PERMISSIONS}">{L_USE_PERMISSIONS}</a> ]</td>
				</tr>
			<!-- ENDIF -->
			<!-- IF S_USER_LOGGED_IN and S_ZEBRA -->
				<tr>
					<td class="genmed" align="center">[
						<!-- IF U_REMOVE_FRIEND -->
							<a href="{U_REMOVE_FRIEND}">{L_REMOVE_FRIEND}</a>
						<!-- ELSEIF U_REMOVE_FOE -->
							<a href="{U_REMOVE_FOE}">{L_REMOVE_FOE}</a>
						<!-- ELSE -->
							<!-- IF U_ADD_FRIEND --><a href="{U_ADD_FRIEND}">{L_ADD_FRIEND}</a><!-- ENDIF --><!-- IF U_ADD_FOE --><!-- IF U_ADD_FRIEND --> | <!-- ENDIF --><a href="{U_ADD_FOE}">{L_ADD_FOE}</a><!-- ENDIF -->
						<!-- ENDIF -->
					]</td>
				</tr>
			<!-- ENDIF -->
			</table>
		</td>
		<td class="row1">
			<table width="100%" cellspacing="1" cellpadding="2" border="0">
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_JOINED}: </td>
				<td width="100%"><b class="gen">{JOINED}</b></td>
			</tr>
			<!-- Start Ultimate Points -->
			<!-- IF USE_POINTS -->
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_POINTS_CASH_ON_HAND}:</td>
				<td><!-- IF U_LOCKED --><b>{L_POINTS_LOCKED}</b><!-- ELSE -->{U_POINTS1} <!-- IF USE_IMAGES_POINTS --><img src="{T_THEME_PATH}/images/money.png" width="11px" height="11px" alt="" /><!-- ELSE -->{P_NAME}<!-- ENDIF --><br /><a href="{U_POINTS_DONATE}">{L_DONATE}</a> <a href="{U_POINTS_MODIFY}">{L_MOD_USER_POINTS}</a><!-- ENDIF --></td>
			</tr>
			<!-- IF USE_BANK -->
			<!-- BEGIN has_account -->
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_BANK_BALANCE}:</td>
	 			<td><!-- IF U_BLOCKED --><b>{L_POINTS_LOCKED}</b><!-- ELSE --> {BANK_GOLD} <!-- IF USE_IMAGES_POINTS --><img src="{T_THEME_PATH}/images/money.png" width="11px" height="11px" alt="" /><!-- ELSE -->{P_NAME}<!-- ENDIF --><br /><a href="{U_BANK_MODIFY}">{L_MOD_USER_BANK}</a><!-- ENDIF --></td>
			</tr>
			<!-- END has_account -->
			<!-- BEGIN no_account -->
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_BANK_BALANCE}:</td>
	 			<td>{no_account.BANK_NO_ACCOUNT}</td>
			</tr>
			<!-- END no_account -->
			<!-- ENDIF -->
			<!-- ENDIF -->
			<!-- End Ultimate Points -->
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_VISITED}: </td>
				<td width="100%"><b class="gen">{VISITED}</b></td>
			</tr>
			<!-- IF S_WARNINGS -->
				<tr>
					<td class="gen" align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_WARNINGS}: </td>
					<td width="100%"><b class="gen">{WARNINGS}</b><!-- IF U_NOTES or U_WARN --><br /><span class="genmed"> [ <!-- IF U_NOTES --><a href="{U_NOTES}">{L_VIEW_NOTES}</a><!-- ENDIF --> <!-- IF U_WARN --><!-- IF U_NOTES --> | <!-- ENDIF --><a href="{U_WARN}">{L_WARN_USER}</a><!-- ENDIF --> ]</span><!-- ENDIF --></td>
				</tr>
			<!-- ENDIF -->
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_MEDALS_VIEW}: </td>
				<td><b class="gen">{USER_MEDAL_COUNT}</b><!-- IF U_CAN_AWARD_MEDALS or U_NOMINATE --><br /><span class="genmed"> [ <!-- IF U_CAN_AWARD_MEDALS --><a href="{U_CAN_AWARD_MEDALS}">{L_AWARD_MEDAL}</a><!-- ENDIF --> <!-- IF U_NOMINATE --><!-- IF U_CAN_AWARD_MEDALS --> | <!-- ENDIF --><a href="{U_NOMINATE}">{L_NOMINATE}</a><!-- ENDIF --> ]</span><!-- ENDIF --></td>
			</tr>
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_TOTAL_POSTS}: </td>
				<td><b class="gen">{POSTS}</b><span class="genmed"><!-- IF POSTS_PCT --><br />[{POSTS_PCT} / {POSTS_DAY}]<!-- ENDIF -->
				<!-- IF POSTS_IN_QUEUE and U_MCP_QUEUE --><br />[<a href="{U_MCP_QUEUE}">{L_POSTS_IN_QUEUE}</a>]<!-- ELSEIF POSTS_IN_QUEUE --><br />[{L_POSTS_IN_QUEUE}]<!-- ENDIF -->
				<!-- IF S_DISPLAY_SEARCH --><br /><a href="{U_SEARCH_USER}">{L_SEARCH_USER_POSTS}</a><!-- ENDIF --></span></td>
			</tr>
			<!-- IF TOTAL_IMAGES -->
				<tr>
					<td class="gen" align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_TOTAL_IMAGES}: </td>
					<td><b class="gen">{IMAGES}</b><span class="genmed"><!-- IF IMAGES_PCT --><br />[{IMAGES_PCT} / {IMAGES_DAY}]<!-- ENDIF --><br /><a href="{U_SEARCH_GALLERY}">{L_SEARCH_USER_IMAGES}</a></span></td>
				</tr>
			<!-- ENDIF -->
			<!-- IF S_SHOW_ACTIVITY -->
				<tr>
					<td class="gen" align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_ACTIVE_IN_FORUM}: </td>
					<td><!-- IF ACTIVE_FORUM != '' --><b><a class="gen" href="{U_ACTIVE_FORUM}">{ACTIVE_FORUM}</a></b><br /><span class="genmed">[ {ACTIVE_FORUM_POSTS} / {ACTIVE_FORUM_PCT} ]</span><!-- ELSE --><span class="gen">-</span><!-- ENDIF --></td>
				</tr>
				<tr>
					<td class="gen" align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_ACTIVE_IN_TOPIC}: </td>
					<td><!-- IF ACTIVE_TOPIC != '' --><b><a class="gen" href="{U_ACTIVE_TOPIC}">{ACTIVE_TOPIC}</a></b><br /><span class="genmed">[ {ACTIVE_TOPIC_POSTS} / {ACTIVE_TOPIC_PCT} ]</span><!-- ELSE --><span class="gen">-</span><!-- ENDIF --></td>
				</tr>
			<!-- ENDIF -->
				<!-- Start DM Video -->
				<!-- IF S_VIDEO_EXIST -->
				<tr>
					<td class="gen" align="{S_CONTENT_FLOW_END}" valign="top" nowrap="nowrap">{L_DMV_OWN_VIDEO}:</td>
					<td class="gen">{USER_OWN_VIDEOS}</td>
				</tr>
				<!-- ENDIF -->
				<!-- End DM Video -->            
			</table>
		</td>
	</tr>
	<tr>
		<td class="cat" align="center"><h4>{L_CONTACT_USER}</h4></td>
		<td class="cat" align="center"><h4>{L_ABOUT_USER}</h4></td>
	</tr>
	<tr>
		<td class="row1">
			<table width="100%" cellspacing="1" cellpadding="2" border="0">
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_EMAIL_ADDRESS}: </td>
				<td width="100%"><!-- IF U_EMAIL --><a href="{U_EMAIL}">{EMAIL_IMG}</a><!-- ENDIF --></td>
			</tr>
			<!-- IF U_PM -->
				<tr>
					<td class="gen" nowrap="nowrap" align="{S_CONTENT_FLOW_END}">{L_PM}: </td>
					<td><a href="{U_PM}">{PM_IMG}</a></td>
				</tr>
			<!-- ENDIF -->
			<tr>
				<td class="gen" nowrap="nowrap" align="{S_CONTENT_FLOW_END}">{L_MSNM}: </td>
				<td><!-- IF U_MSN --><a href="{U_MSN}" onclick="popup(this.href, 550, 320); return false">{MSN_IMG}</a><!-- ELSEIF USER_MSN -->{USER_MSN}<!-- ENDIF --></td>
			</tr>
                <tr>
                    <td class="gen" nowrap="nowrap" align="{S_CONTENT_FLOW_END}">{L_SKYPE}: </td>
                    <td><!-- IF U_SKYPE --><a href="{U_SKYPE}" onclick="popup(this.href, 550, 400); return false;">{SKYPE_IMG}</a><!-- ELSEIF USER_SKYPE -->{USER_SKYPE}<!-- ENDIF --></td>
                </tr>
			<tr>
				<td class="gen" nowrap="nowrap" align="{S_CONTENT_FLOW_END}">{L_YIM}: </td>
				<td><!-- IF U_YIM --><a href="{U_YIM}" onclick="popup(this.href, 780, 550); return false">{YIM_IMG}</a><!-- ELSEIF USER_YIM -->{USER_YIM}<!-- ENDIF --></td>
			</tr>
			<tr>
				<td class="gen" nowrap="nowrap" align="{S_CONTENT_FLOW_END}">{L_AIM}: </td>
				<td><!-- IF U_AIM --><a href="{U_AIM}" onclick="popup(this.href, 550, 320); return false">{AIM_IMG}</a><!-- ELSEIF USER_AIM -->{USER_AIM}<!-- ENDIF --></td>
			</tr>
			<tr>
				<td class="gen" nowrap="nowrap" align="{S_CONTENT_FLOW_END}">{L_ICQ}: </td>
				<td><!-- IF U_ICQ --><a href="{U_ICQ}" onclick="popup(this.href, 550, 320); return false">{ICQ_IMG}</a><!-- ELSEIF USER_ICQ -->{USER_ICQ}<!-- ENDIF --></td>
			</tr>
			<tr>
				<td class="gen" nowrap="nowrap" align="{S_CONTENT_FLOW_END}">{L_JABBER}: </td>
				<td><!-- IF U_JABBER --><a href="{U_JABBER}" onclick="popup(this.href, 550, 320); return false">{JABBER_IMG}</a><!-- ELSEIF USER_JABBER -->{USER_JABBER_IMG}<!-- ENDIF --></td>
			</tr>
			</table>
		</td>
		<td class="row1">
			<table cellspacing="1" cellpadding="2" border="0">
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_USERGROUPS}: </td>
				<td><select name="g">{S_GROUP_OPTIONS}</select> <input class="btnlite" type="submit" name="submit" value="{L_GO}" /></td>
			</tr>
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_LOCATION}: </td>
				<td><!-- IF LOCATION --><b class="genmed">{LOCATION}</b><!-- ENDIF --></td>
			</tr>
			<!-- IF AGE !== '' -->
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_AGE}: </td>
				<td><b class="genmed">{AGE}</b></td>
			</tr>
			<!-- ENDIF -->
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_OCCUPATION}: </td>
				<td><!-- IF OCCUPATION --><b class="genmed">{OCCUPATION}</b><!-- ENDIF --></td>
			</tr>
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_INTERESTS}: </td>
				<td><!-- IF INTERESTS --><b class="genmed">{INTERESTS}</b><!-- ENDIF --></td>
			</tr>
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_WEBSITE}: </td>
				<td><!-- IF U_WWW --><b><a class="genmed" href="{U_WWW}">{U_WWW}</a></b><!-- ENDIF --></td>
			</tr>
			<!-- IF U_GALLERY -->
			<tr>
				<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_GALLERY}: </td>
				<td><b><a class="genmed" href="{U_GALLERY}">{SHOW_PERSONAL_ALBUM_OF}</a></b></td>
			</tr>
			<!-- ENDIF -->
			<!-- IF S_PROFILE_FIELD1 -->
				<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
				<tr>
					<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{PROFILE_FIELD1_NAME}: </td>
					<td><b class="genmed">{PROFILE_FIELD1_VALUE}</b></td>
				</tr>
			<!-- ENDIF -->
			<!-- BEGIN custom_fields -->
				<tr>
					<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{custom_fields.PROFILE_FIELD_NAME}: </td>
					<td><b class="genmed">{custom_fields.PROFILE_FIELD_VALUE}</b></td>
				</tr>
			<!-- END custom_fields -->
			</table>
		</td>
	</tr>

	<!-- SAFEGT START -->
	<!-- IF XBOXGT or PSNGT or WIIGT or STEAMGT or XFIREGT or ORIGINID -->
		<tr>
			<td class="cat" colspan="2" align="center"><h4>{L_GAMERTAG}</h4></td>
		</tr>
		<!-- IF S_XBOX and XBOXGT -->
		<tr class="row1">
			<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_XBOXGT}: </td>
			<td width="100%"> <a href="http://live.xbox.com/member/{XBOXGT}" onclick="window.open(this.href);return false;" onmouseover="return getXboxCard('{XBOXGT_IMG}', LEFT);" onmouseout="nd();">{XBOXGT}</a></td>
		</tr>
		<!-- ENDIF -->
		<!-- IF S_PSN and PSNGT -->
		<tr class="row1">
			<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_PSNGT}: </td>
			<td width="100%"> <a href="{PSNURL}" onclick="window.open(this.href);return false;" onmouseover="return overlibImage('{PSNGT_IMG}', DELAY, 500);" onmouseout="overlibMouseout();">{PSNGT}</a></td>
		</tr>
		<!-- ENDIF -->
		<!-- IF S_WII and WIIGT -->
		<tr class="row1">
			<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_WIIGT}: </td>
			<td width="100%"> <a href="http://www.nintendo.com/wii/" onclick="window.open(this.href);return false;" onmouseover="return overlibImage('{WIIGT_IMG}', DELAY, 500);" onmouseout="overlibMouseout();">{WIIGT}</a></td>
		</tr>
		<!-- ENDIF -->
		<!-- IF S_STEAM and STEAMGT -->
		<tr class="row1">
			<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_STEAM_NAME}: </td>
			<td width="100%"> <a href="http://steamcommunity.com/profiles/{STEAMID}" onclick="window.open(this.href);return false;" onmouseover="return overlibImage('{STEAMGT_IMG}', DELAY, 500);" onmouseout="overlibMouseout();">{STEAMGT}</a></td>
		</tr>
		<!-- ENDIF -->
		<!-- IF S_XFIRE and XFIREGT -->
		<tr class="row1">
			<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_XFIRE_NAME}: </td>
			<td width="100%"> <a href="http://www.xfire.com/profile/{XFIREGT}" onclick="window.open(this.href);return false;" onmouseover="return overlibImage('{XFIREGT_IMG}', DELAY, 500);" onmouseout="overlibMouseout();">{XFIREGT}</a></td>
		</tr>
		<!-- ENDIF -->
		<!-- IF S_ORIGIN and ORIGINID -->
		<tr class="row1">
			<td class="gen" align="{S_CONTENT_FLOW_END}" nowrap="nowrap">{L_ORIGIN}: </td>
			<td width="100%"> <a href="http://www.origin.com" onclick="window.open(this.href);return false;">{ORIGINID}</a></td>
		</tr>
		<!-- ENDIF -->
	<!-- ENDIF -->
	<!-- SAFEGT END -->
	<!-- IF SIGNATURE -->
		<tr>
			<td class="cat" colspan="2" align="center"><h4>{L_SIGNATURE}</h4></td>
		</tr>
		<tr>
			<td class="row1" colspan="2"><div class="postbody" style="padding: 10px;">{SIGNATURE}</div></td>
		</tr>
	<!-- ENDIF -->
	</table>

	</form>


<!-- INCLUDE medals/medal_memberlist_view.html -->
</div>

<br clear="all" />


<!-- INCLUDE gallery/recent_body.html -->
<!-- INCLUDE breadcrumbs.html -->

<br clear="all" />

<div style="float: {S_CONTENT_FLOW_END};"><!-- INCLUDE jumpbox.html --></div>

<!-- INCLUDE overall_footer.html -->