<table class="tablebg" width="100%">
<tr>
<td class="cat"><h4>Social Network</h4></td>
</tr>
	<!-- INCLUDE facebook_widget.html -->
	<!-- INCLUDE twitter_widget.html -->    
	<!-- INCLUDE googleplus_widget.html -->    
</table>