<div class="tb_style1" align="center">
<!-- BEGIN tb_smilies -->
	&nbsp;<img src="{tb_smilies.SMILEY_IMG}" class="tb_pointer" align="middle" onclick="insert_smilies('{tb_smilies.SMILEY_CODE}')" border="0" alt="{tb_smilies.SMILEY_DESC}" title="{tb_smilies.SMILEY_DESC}" />&nbsp;
<!-- END tb_smilies -->
	<!-- IF TB_MORE -->&nbsp;<input type="button" class="button2" style="cursor:pointer" value="{L_TB_MORE_SMILIES}" onclick="tb_smilies_all()" title="{L_TB_MORE_SMILIES}" />&nbsp;<!-- ENDIF -->
</div>