<div class="tb_style1" align="center">
	<table width="99%" cellspacing="1">
		<tr>
			<td><input type="button" style="cursor:pointer;background-color:#000000;height:17px;width:100%" onclick="insert_bbcode('[color=#000000]','[/color]')" title="#000000" /></td>
			<td><input type="button" style="cursor:pointer;background-color:#555555;height:17px;width:100%" onclick="insert_bbcode('[color=#555555]','[/color]')" title="#555555" /></td>
			<td><input type="button" style="cursor:pointer;background-color:#0000FF;height:17px;width:100%" onclick="insert_bbcode('[color=#0000FF]','[/color]')" title="#0000FF" /></td>
			<td><input type="button" style="cursor:pointer;background-color:#00FF00;height:17px;width:100%" onclick="insert_bbcode('[color=#00FF00]','[/color]')" title="#00FF00" /></td>
			<td><input type="button" style="cursor:pointer;background-color:#00FFFF;height:17px;width:100%" onclick="insert_bbcode('[color=#00FFFF]','[/color]')" title="#00FFFF" /></td>
			<td><input type="button" style="cursor:pointer;background-color:#FF0000;height:17px;width:100%" onclick="insert_bbcode('[color=#FF0000]','[/color]')" title="#FF0000" /></td>
			<td><input type="button" style="cursor:pointer;background-color:#FF00FF;height:17px;width:100%" onclick="insert_bbcode('[color=#FF00FF]','[/color]')" title="#FF00FF" /></td>
			<td><input type="button" style="cursor:pointer;background-color:#FFFF00;height:17px;width:100%" onclick="insert_bbcode('[color=#FFFF00]','[/color]')" title="#FFFF00" /></td>
			<td><input type="button" style="cursor:pointer;background-color:#FFFFFF;height:17px;width:100%" onclick="insert_bbcode('[color=#FFFFFF]','[/color]')" title="#FFFFFF" /></td>
		</tr>
	</table>
</div>