<tr>
	<th>Twitter</th>
</tr>		
<tr>
	<td class="row1">
         <!-- Twitter box start -->
            <a class="twitter-timeline" href="https://twitter.com/pcmitalia" data-widget-id="467043029585383424">Tweets di @pcmitalia</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
         <!-- Twitter box end -->
    </td>
</tr>