<!-- INCLUDE ucp_header.html -->

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th colspan="2" valign="middle">{L_UCP_PROFILE_SAFEGT}</th>
</tr>
<!-- IF ERROR -->
	<tr>
		<td class="row3" colspan="2" align="center"><span class="gensmall error">{ERROR}</span></td>
	</tr>
<!-- ENDIF -->
<tr> 
	<td class="row1" colspan="2"><span class="gensmall">{L_PROFILE_INFO_NOTICE}</span></td>
</tr>

<!-- IF S_XBOX -->
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_XBOXGT}: </b></td>
	<td class="row2"><input type="text" size="26" name="xbox" id="xbox" class="post" maxlength="15" value="{XBOX}" onkeyup="Pxbox(this)" onblur="Pxbox(this)" /></td>
</tr>
<!-- IF S_XBOXANTE -->
<tr> 
	<td class="row1" width="35%"><em>{L_ANTEPRIMA}</em></td>
	<td class="row2"><iframe src="{XBOXIMG}" width="200" height="136" frameborder="0" scrolling="no"></iframe></td>
</tr>
<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_PSN -->
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_PSNGT}: </b></td>
	<td class="row2"><input type="text" size="26" name="psn" id="psn" class="post" maxlength="16" value="{PSN}" onkeyup="Ppsn(this)" onblur="Ppsn(this)" /></td>
</tr>
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_PSN_ZONE}: </b></td>
	<td class="row2"><select name="psnzone" id="psnzone">
		<option value="0" {PSNZONE1}>{L_EU}</option>
		<option value="1" {PSNZONE2}>{L_USA}</option>
		</select>
		<br />{L_PSNZONE_DESC}
	</td>
</tr>
<!-- IF S_PSNANTE -->
<tr> 
	<td class="row1" width="35%"><em>{L_ANTEPRIMA}</em></td>
	<td class="row2"><img src="{PSNIMG}" alt="{L_ANTEPRIMA}" /></td>
</tr>
<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_WII -->
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_WIIGT}: </b></td>
	<td class="row2"><input type="text" size="24" name="wii" id="wii" class="post" maxlength="22" value="{WII}" onkeyup="Pwii(this)" onblur="Pwii(this)" /></td>
</tr>
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_WII_URL}: </b></td>
	<td class="row2"><input type="text" size="30" name="wiiurl" id="wiiurl" class="post" maxlength="248" value="{WIIURL}" />
	<br />{L_WIIURL_DESC}
	</td>
</tr>
<!-- IF S_WIIANTE -->
<tr> 
	<td class="row1" width="35%"><em>{L_ANTEPRIMA}</em></td>
	<td class="row2"><img src="{WIIURL}" alt="{L_ANTEPRIMA}" /></td>
</tr>
<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_STEAM -->
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_STEAM_NAME}: </b></td>
	<td class="row2"><input type="text" size="26" name="steam" id="steam" class="post" maxlength="50" value="{STEAM}" /></td>
</tr>
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_STEAMID}: </b></td>
	<td class="row2"><input type="text" size="26" name="steamid" id="steamid" class="post" maxlength="17" value="{STEAMID}" onkeyup="Psteamid(this)" onblur="Psteamid(this)" />
	<br />{L_STEAMID_DESC}
	</td>
</tr>
<!-- IF S_STEAMANTE -->
<tr> 
	<td class="row1" width="35%"><em>{L_ANTEPRIMA}</em></td>
	<td class="row2"><img src="{STEAMIMG}" alt="{L_ANTEPRIMA}" /></td>
</tr>
<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_XFIRE -->
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_XFIRE_NAME}: </b></td>
	<td class="row2"><input type="text" size="15" name="xfire" id="xfire" class="post" maxlength="25" value="{XFIRE}" onkeyup="Pxfireu(this)" onblur="Pxfireu(this)" /></td>
</tr>
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_XFIRE_SKIN}: </b></td>
	<td class="row2">
	<select name="xfireskin" id="xfireskin">
		<option value="sh" {XFIRESKIN1}>{L_SHADOW}</option>
		<option value="co" {XFIRESKIN2}>{L_COMBAT}</option>
		<option value="sf" {XFIRESKIN3}>{L_SHIFI}</option>
		<option value="os" {XFIRESKIN4}>{L_FANTASY}</option>
		<option value="bg" {XFIRESKIN5}>{L_DEFAULT}</option>
	</select>
	<br />{L_XFIRE_DESC}
	</td>
</tr>
<!-- IF S_XFIREANTE -->
<tr> 
	<td class="row1" width="35%"><em>{L_ANTEPRIMA}</em></td>
	<td class="row2"><img src="{XFIREIMG}" alt="{L_ANTEPRIMA}" /></td>
</tr>
<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF S_ORIGIN -->
<tr> 
	<td class="row1" width="35%"><b class="genmed">{L_ORIGIN}: </b></td>
	<td class="row2"><input type="text" size="26" name="origin" id="origin" class="post" maxlength="16" value="{ORIGINID}" onkeyup="Porigin(this)" onblur="Porigin(this)" /></td>
</tr>
<!-- ENDIF -->


<tr>
	<td class="cat" colspan="2" align="center">
		<input class="btnmain" type="submit" name="editusergt" value="{L_SUBMIT}" />&nbsp;&nbsp;<input class="btnlite" type="reset" value="{L_RESET}" name="reset" />
	</td>
</tr>
</table>


<p>{L_SAFEGTDC}</p>
<p><a href="http://www.nipponart.org"><img src="{ROOT_PATH}safegt/icons/safegt.gif" alt="{L_SAFE_GT_LOGO}" /></a></p>
<!-- INCLUDE ucp_footer.html -->