<!-- INCLUDE dl_mod/dl_header.html -->

<div class="page-content">

	<table width="100%" cellspacing="2" cellpadding="2" border="0" align="center">
	<tr>
		<td align="right" width="10%">[ <a href="{U_DL_SEARCH}">{L_DL_SEARCH_DOWNLOAD}</a> ]</td>
	</tr>
	</table>

	<table width="100%" cellpadding="3" cellspacing="1" border="0" class="tablebg">
	<thead>
	<tr>
		<th nowrap="nowrap" colspan="3">{L_DL_CAT_NAME} / {L_DL_FILE_DESCRIPTION}</th>
		<th nowrap="nowrap">{L_DL_CAT_FILES}</th>
		<th nowrap="nowrap">{L_DL_LATEST_DOWNLOADS}</th>
	</tr>
	</thead>
	<tbody>
	<!-- IF S_NO_CATEGORY -->
	<tr>
		<td class="row1" colspan="5" style="text-align: center;">{L_DL_NO_CATEGORY_INDEX}</td>
	</tr>
	<!-- ELSE -->
	<!-- BEGIN downloads -->
	<tr>
		<td class="row1" style="width: 50px" align="center">{downloads.MINI_IMG}</td>
		<td class="row1" style="width: 50px" align="center"><img src="{downloads.CAT_ICON}" border="0" alt="" title="{downloads.CAT_NAME}" /></td>
		<td class="row1">
			<a href="{downloads.U_CAT_VIEW}" class="topictitle">{downloads.CAT_NAME}</a><br />
			<!-- IF downloads.CAT_PAGES --><p class="gensmall"> [ {L_GOTO_PAGE}: {downloads.CAT_PAGES} ] </p><!-- ENDIF -->
			<p class="topicdetails">{downloads.CAT_DESC}</p>
		</td>
		<td class="row1" align="right"><p class="topicdetails"><strong>{downloads.CAT_DL}&nbsp;</strong></p></td>
		<td class="row1" <!-- IF S_SUB_ON_INDEX --><!-- IF .downloads.sub -->rowspan="2"<!-- ENDIF --><!-- ENDIF --> valign="top"><!-- IF downloads.CAT_LAST_DL --><a href="{downloads.U_CAT_LAST_LINK}" class="small">{downloads.CAT_LAST_DL}</a><p class="topicdetails"><a href="{downloads.U_CAT_LAST_USER}" class="small">{downloads.CAT_LAST_USER}</a><!-- IF downloads.CAT_LAST_TIME -->&nbsp;&bull;&nbsp;<!-- ENDIF -->{downloads.CAT_LAST_TIME}</p><!-- ELSE -->&nbsp;<!-- ENDIF --></td>
	</tr>
	<!-- IF S_SUB_ON_INDEX -->
	<!-- BEGIN sub -->
	<tr>
		<td class="row2" colspan="5">
			<table width="95%" align="right" cellpadding="2" cellspacing="0" border="0">
			<!-- BEGIN sublevel_row -->
			<tr>
				<td class="row2" style="width: 50px" align="center">{downloads.sub.sublevel_row.M_SUBLEVEL}</td>
				<td class="row2" style="width: 50px" align="center"><img src="{downloads.sub.sublevel_row.M_SUBLEVEL_ICON}" border="0" alt="" title="{downloads.sub.sublevel_row.L_SUBLEVEL}" /></td>
				<td class="row2"><a href="{downloads.sub.sublevel_row.U_SUBLEVEL}" class="small">{downloads.sub.sublevel_row.L_SUBLEVEL}</a><br /><span class="small">{downloads.sub.sublevel_row.SUBLEVEL_DESC}</span></td>
				<td align="right" class="row2"><p class="topicdetails">{downloads.sub.sublevel_row.SUBLEVEL_COUNT}&nbsp;</p></td>
			</tr>
			<!-- END sublevel_row -->
			</table>
		</td>
	</tr>
	<!-- END sub -->
	<!-- ENDIF -->
	<!-- END downloads -->
	<!-- ENDIF -->
	</tbody>
	</table>

	<br />

</div>

<!-- INCLUDE dl_mod/dl_footer.html -->