<!-- INCLUDE overall_header.html -->

<a name="maincontent"></a>

<h1>{L_ACP_SAFEGT_CONFIG}</h1>
<p>{L_ACP_SAFEGT_CFG_TXT}</p>

<!-- IF S_ERROR -->
	<div class="errorbox">
		<p>{L_OLD_VERSION} <strong>{TUAV}</strong> {L_LATEST_VERSION} <strong>{LATESTV}</strong><br /><a href="http://www.nipponart.org">{L_DOWNLOAD_LATEST}</a></p>
	</div>
<!-- ENDIF -->

<form method="post" action="{U_ACTION}">
	<fieldset>
		<legend>{L_ACP_GAMERCARD_SYSTEM}</legend>
		<dl>
			<dt><label for="xbox">{L_ACP_XBOX_GT}:</label></dt>
			<dd><input type="checkbox" name="xbox" id="xbox" value="1" class="radio"{CK_XBOX} /></dd>
		</dl>
		<dl>
			<dt><label for="psn">{L_ACP_PSN_GT}:</label></dt>
			<dd><input type="checkbox" name="psn" id="psn" value="1" class="radio"{CK_PSN} /></dd>
		</dl>
		<dl>
			<dt><label for="wii">{L_ACP_WII_GT}:</label></dt>
			<dd><input type="checkbox" name="wii" id="wii" value="1" class="radio"{CK_WII} /></dd>
		</dl>
		<dl>
			<dt><label for="steam">{L_ACP_STEAM_GT}:</label></dt>
			<dd><input type="checkbox" name="steam" id="steam" value="1" class="radio"{CK_STEAM} /></dd>
		</dl>
		<dl>
			<dt><label for="xfire">{L_ACP_XFIRE_GT}:</label></dt>
			<dd><input type="checkbox" name="xfire" id="xfire" value="1" class="radio"{CK_XFIRE} /></dd>
		</dl>
		<dl>
			<dt><label for="origin">{L_ACP_ORIGIN_GT}:</label></dt>
			<dd><input type="checkbox" name="origin" id="origin" value="1" class="radio"{CK_ORIGIN} /></dd>
		</dl>
		
		<hr />
		
		<dl>
			<dt><label for="xbox_check">{L_ACP_XBOX_ACCURATE_VALIDATION}:</label></dt>
			<dd><input type="checkbox" name="xbox_check" id="xbox_check" value="1" class="radio"{CK_XBOX_VALIDATION} /><br />{L_ACP_XBOX_ACCURATE_VALID_TXT}</dd>
		</dl>
		<dl>
			<dt><label for="psn_check">{L_ACP_PSN_ACCURATE_VALIDATION}:</label></dt>
			<dd><input type="checkbox" name="psn_check" id="psn_check" value="1" class="radio"{CK_PSN_VALIDATION} /><br />{L_ACP_PSN_ACCURATE_VALID_TXT}</dd>
		</dl>
		
		
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		</p>
	</fieldset>
{S_FORM_TOKEN}
</form>

<p>{CREDIT}</p>

<!-- INCLUDE overall_footer.html -->