<!-- INCLUDE overall_header.html -->

<form method="post" action="{S_MODE_ACTION}">
<h2 class="solo">{PAGE_TITLE}</h2>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="linklist">
			<li>
				<strong style="font-size: 0.95em;"><a href="{S_MODE_ACTION}&amp;first_char=">{L_ALL}</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=a#banlist">A</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=b#banlist">B</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=c#banlist">C</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=d#banlist">D</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=e#banlist">E</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=f#banlist">F</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=g#banlist">G</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=h#banlist">H</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=i#banlist">I</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=j#banlist">J</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=k#banlist">K</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=l#banlist">L</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=m#banlist">M</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=n#banlist">N</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=o#banlist">O</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=p#banlist">P</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=q#banlist">Q</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=r#banlist">R</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=s#banlist">S</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=t#banlist">T</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=u#banlist">U</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=v#banlist">V</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=w#banlist">W</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=x#banlist">X</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=y#banlist">Y</a>&nbsp; 
				<a href="{S_MODE_ACTION}&amp;first_char=z#banlist">Z</a>&nbsp;
				<a href="{S_MODE_ACTION}&amp;first_char=other">#</a></strong>
			</li>
			<li class="rightside pagination">
				{TOTAL_USERS} &bull; 
				<!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{PAGE_NUMBER}<!-- ENDIF -->
			</li>
		</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<div class="forumbg forumbg-table">
		<div class="inner"><span class="corners-top"><span></span></span>

		<table class="table1" cellspacing="1" id="banlist">
		<thead>
		<tr>
			<th width="20%"><a href="{U_SORT_USERNAME}">{L_BAN_USERNAME}</a></th>
			<th width="20%"><a href="{U_SORT_BAN_START}">{L_BAN_START_DATE}</a></th>
			<th width="20%"><a href="{U_SORT_BAN_END}">{L_BAN_END_DATE}</a></th>
			<th width="20%">{L_BAN_REASON}</th>
			<th width="20%">{L_BAN_LENGTH}</th>
		</tr>
		</thead>
		<tbody>
		<!-- BEGIN banlist_row -->
		<tr class="<!-- IF banlist_row.S_ROW_COUNT is even -->bg1<!-- ELSE -->bg2<!-- ENDIF -->">
			<td>{banlist_row.USERNAME_FULL}<br /><span><!-- IF banlist_row.USER_WARNINGS_COUNT -->{banlist_row.USER_WARNINGS_COUNT}&nbsp;<!-- ENDIF --><!-- IF banlist_row.USER_NOTES_COUNT -->{L_USER_NOTES_COUNT}&nbsp;<a href="{banlist_row.U_NOTES}" title="{L_VIEW_NOTES}">{banlist_row.USER_NOTES_COUNT}</a><!-- ENDIF --></span></td>
			<td style="text-align:center;">{banlist_row.BAN_START}<!-- IF banlist_row.BANNER_FULL --><br />{L_BANNED_BY} {banlist_row.BANNER_FULL}<!-- ENDIF --></td>
			<td style="text-align:center;">{banlist_row.BAN_END}<br /><span style="font-size:x-small;">{banlist_row.BAN_TIME_LEFT}</span></td>
			<td>{banlist_row.BAN_REASON}</td>
			<td>{banlist_row.BAN_TIME_DURATION}</td>
		</tr>
		<!-- BEGINELSE -->
		<tr class="bg1">
			<td colspan="5">{L_NO_MEMBERS}</td>
		</tr>
		<!-- END banlist_row -->
		</tbody>
		</table>
		<span class="corners-bottom"><span></span></span>
    </div>
</div>

<!-- IF PREVIOUS_PAGE or NEXT_PAGE -->
<fieldset class="display-options">
	<!-- IF PREVIOUS_PAGE --><a href="{PREVIOUS_PAGE}" class="left-box {S_CONTENT_FLOW_BEGIN}">{L_PREVIOUS}</a><!-- ENDIF -->
	<!-- IF NEXT_PAGE --><a href="{NEXT_PAGE}" class="right-box {S_CONTENT_FLOW_END}">{L_NEXT}</a><!-- ENDIF -->
</fieldset>
<!-- ENDIF -->

<ul class="linklist">
	<li class="rightside pagination">{TOTAL_USERS} &bull; <!-- IF PAGINATION --><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE -->{PAGE_NUMBER}<!-- ENDIF --></li>
</ul>
</form>
	
<div id="forumbar" align="{S_CONTENT_FLOW_END}"><!-- INCLUDE jumpbox.html --></div>
<!-- INCLUDE overall_footer.html -->
