<!-- INCLUDE overall_header.html -->
<h2>{L_INFORMATION}</h2>
<br  />
   
<div class="forabg">
	<div class="inner">
		<span class="corners-top"><span></span></span>
			<ul class="topiclist">
				<li class="header">
					<dl class="icon">
						<dd>{L_INFORMATION}</dd>
					</dl>
				</li>
	        </ul>
			<ul class="topiclist forums">
				<li>
					<dl>
						<dd style="width: 99%; text-align: center;">
							<ul>
								<li>
									<span style="float: center;">
										<br />
										<b>{REPORT_THANKS}</b>
										<a href="{U_BACK_CAT}">{L_DMV_BACK_LINK2}</a>
										<br /><br />
									</span>
								</li>
							</ul>
						</dd>
					</dl>
				</li>
			</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
</div>
<br />
<!-- INCLUDE dm_video/video_footer.html -->