<div id="message" class="rules">
	<div class="inner"><span class="corners-top"><span></span></span>
		{DMV_COPY_NOTE}
	<span class="corners-bottom"><span></span></span></div>
</div>
<br /><br />
<div class="copyright">{L_DMV_COPYRIGHT}<br /><br /></div>
<!-- INCLUDE overall_footer.html -->