<body style="background: black">
<center>
	<table class="tablebg" cellspacing="1" width="100%">
		<tr class="bg1">
			<td align="center" valign="top">
				<br />
				{VIDEO_URL}
				<br /><br />
			</td>
		</tr>
	</table>
</center>
</body>