<!-- Config for the left and right blocks //-->
<!-- DEFINE $LR_BLOCK_H_L = '<table class="tablebg" cellspacing="1" width="100%"><tr><th style="padding-top: 4px; padding-bottom: 3px;"><span style="float: left">' -->
<!-- DEFINE $LR_BLOCK_H_R = '</span></th></tr></table>' -->
<!-- DEFINE $LR_BLOCK_F_L = '' -->
<!-- DEFINE $LR_BLOCK_F_R = '' -->

<!-- Config for the center blocks //-->
<!-- DEFINE $C_BLOCK_H_L = '<table class="tablebg" cellspacing="1" cellpadding="0" width="100%"><tr><th style="padding-top: 7px; padding-bottom: 4px;"><span style="text-align: center">' -->
<!-- DEFINE $C_BLOCK_H_R = '</span></th></tr></table>' -->
<!-- DEFINE $C_BLOCK_F_L = '' -->
<!-- DEFINE $C_BLOCK_F_R = '' -->

<!-- Images-URL //-->
<!-- DEFINE $WHOS_IMAGES = '/images/whosonline.gif' -->
<!-- DEFINE $NO_AVATAR_IMG = '/images/no_avatar.gif' -->

<!-- Vertical distance between left/right and center Blocks -->
<!-- DEFINE $BLOCK_DISTANCE = '3px' -->

<!-- show Icons in left/right Blocks? 0=no 1=yes -->
<!-- DEFINE $S_BLOCK_ICON = 1 -->

<!-- override the column width settings of the ACP for this style? 0=no 1=yes -->
<!-- DEFINE $S_COLUMNS_WIDTH_OVERRIDE = 0 -->

<!-- override the column width settings of the ACP - set the width if enabled -->
<!-- DEFINE $PORTAL_LEFT_COLUMN_OVERRIDE = '200' -->
<!-- DEFINE $PORTAL_RIGHT_COLUMN_OVERRIDE = '200' -->

<!-- override for rtl styles ... only needed if you have an RTL language -->
<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
<!-- DEFINE $LR_BLOCK_H_L = '<table class="tablebg" cellspacing="1" width="100%"><tr><th><span style="float: right">' -->
<!-- ENDIF -->