<!-- INCLUDE overall_header.html -->
<script type="text/javascript">
	// <![CDATA[
		function update_image(newimage)
		{
			document.getElementById('image').src = (newimage) ? "{DIR_FLAG_PATH}" + encodeURI(newimage) : "./images/spacer.gif";
		}
	// ]]>
	<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_REFRESH -->
	onload_functions.push('apply_onkeypress_event()');
	<!-- ENDIF -->

		// <![CDATA[
	/**
	* Set display of page element
	* s[-1,0,1] = hide,toggle display,show
	*/
	function dE(n, s)
	{
		var e = document.getElementById(n);

		if (!s)
		{
			s = (e.style.display == '' || e.style.display == 'block') ? -1 : 1;
		}
		e.style.display = (s == 1) ? 'block' : 'none';
	}
	// ]]>
	</script>

<form id="postform" method="post" action="{S_POST_ACTION}" >
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h2>{L_TITLE}</h2>

	<fieldset>
	<!-- IF ERROR --><dl><dd class="error">{ERROR}</dd></dl><!-- ENDIF -->
	<dl>
		<dt>
			<span>{L_DIR_FIELDS}</span>
		</dt>
	</dl>
	<dl>
		<dt>
			<span>{L_DIR_SUBMIT_TYPE}</span>
		</dt>
	</dl>
	<!-- IF S_GUEST or EDIT_GUEST  -->
	<dl>
      <dt><label for="guest_email" ><strong>{L_DIR_GUEST_EMAIL}:*</strong></label></dt>
	  <dd><input type="text" tabindex="1" name="guest_email" id="guest_email" size="35" value="{GUEST_EMAIL}" class="inputbox autowidth" /></dd>
	</dl>
	<!-- ENDIF -->
	<dl>
		<dt><label for="site_name" >{L_DIR_SITE_NAME}:*</label></dt>
		<dd><input type="text" tabindex="2" name="site_name" id="site_name" size="35" value="{SITE_NAME}" class="inputbox autowidth" /></dd>
	</dl>
	<dl>
		<dt><label for="url" >{L_DIR_SITE_URL}:*</label></dt>
		<dd><input type="text" tabindex="3" name="url" id="url" size="35" value="{SITE_URL}" class="inputbox autowidth" /></dd>
	</dl>
	<dl>
		<dt></dt>
		<dd><!-- INCLUDE posting_buttons.html --></dd>
	</dl>
	<dl>
		<dt><label for="url" >{L_DIR_DESCRIPTION}:{S_DESC_STAR}</label><br />
			<span>{L_DIR_DESCRIPTION_EXP}</span><br /><br />
			<span>{BBCODE_STATUS}<br />
				<!-- IF S_BBCODE_ALLOWED -->
				{IMG_STATUS}<br />
				{URL_STATUS}<br />
				{SMILIES_STATUS}
				<!-- ENDIF -->
			</span></dt>
		<dd><textarea tabindex="4" name="description" id="message" cols="35" rows="5" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">{DESCRIPTION}</textarea></dd>
	</dl>
	<!-- IF S_RSS -->
	<dl>
		<dt><label for="rss">{L_DIR_SITE_RSS}:</label><br /><span>{L_DIR_SITE_RSS_EXPLAIN}</span></dt>
		<dd><input type="text" tabindex="5" name="rss" id="rss" size="35" value="{RSS}" class="inputbox autowidth" /></dd>
	</dl>
	<!-- ENDIF -->
	<!-- IF S_BANNER -->
	<dl>
		<dt><label for="banner">{L_DIR_SITE_BANN}:</label><br /><span>{L_DIR_SITE_BANN_EXP}</span></dt>
		<dd><input type="text" tabindex="6" name="banner" id="banner" size="35" value="{BANNER}" class="inputbox autowidth" /></dd>
		<!-- IF EDIT_MODE --><dd><label for="delete_banner"><input type="checkbox" name="delete_banner" id="delete_banner" /> {L_DIR_DELETE_BANNER}</label></dd><!-- ENDIF -->
	</dl>
	<!-- ENDIF -->
	<!-- IF S_BACK -->
	<dl>
		<dt><label for="back">{L_DIR_SITE_BACK}:*</label><br /><span>{L_DIR_SITE_BACK_EXPLAIN}</span></dt>
		<dd><input type="text" tabindex="7" name="back" id="back" size="35" value="{BACK}" class="inputbox autowidth" /></dd>
	</dl>
	<!-- ENDIF -->
	<!-- IF S_FLAG -->
	<dl>
		<dt><label for="flag">{L_DIR_FLAG}:</label><br /><span>{L_DIR_FLAG_EXP}</span></dt>
		<dd><select name="flag" id="flag" onchange="update_image(this.options[selectedIndex].value);"><option value="no_flag.png" style="font-weight: bold">{L_DIR_NONE}</option>
				{S_LIST_FLAG}
			</select> <img src="{DIR_FLAG_IMAGE}" id="image" alt="" /></dd>
	</dl>
	<!-- ENDIF -->
	<dl>
		<dt><label for="cat">{L_DIR_CAT}:*</label></dt>
		<dd><select name="id" id="cat">{S_CATLIST}</select></dd>
	</dl>
	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>

<!-- IF CAPTCHA_TEMPLATE -->
	<!-- DEFINE $CAPTCHA_TAB_INDEX = 8 -->
	<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<fieldset class="fields2">
	<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<fieldset class="submit-buttons">
	{S_HIDDEN_FIELDS}
		<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
		<input type="submit" tabindex="9" name="submit" value="{L_SUBMIT}" class="button1 default-submit-action" />
	{S_FORM_TOKEN}
	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>
</form>
<!-- INCLUDE mods/directory/footer.html -->